<div id="wrap" class="theme-blue">


    <components-layouts-header-directive></components-layouts-header-directive>


    <components-navs-side-directive></components-navs-side-directive>
    <section class="main">
        <components-navs-lnb-directive></components-navs-lnb-directive>
        <!-- <components-layouts-container-directive ui-view></components-layouts-container-directive> -->
    </section>
    <components-navs-aside-directive></components-navs-aside-directive>


    <components-layouts-footer-directive></components-layouts-footer-directive>
</div>
