<!--INPUT TYPE1 * 분할 없이 INLINE-->
<ul class="clr">
	<li class="input-wrap w-33">
		<label class="bw-label w-40">{{bxMsg 'online.trx-name'}}</label>
		<input type="text" class="bw-input" data-form-param="trxNm"/>
	</li>
</ul>
<ul class="clr">
	<li class="input-wrap w-33">
		<label class="bw-label w-40">{{bxMsg 'online.application'}}</label>
		<input type="text" class="bw-input" data-form-param="bxmAppId"/>
	</li>
	<li class="input-wrap w-30">
		<label class="bw-label w-40">{{bxMsg 'online.service'}}</label>
		<input type="text" class="bw-input" data-form-param="svcNm"/>
	</li>
	<li class="input-wrap w-30">
		<label class="bw-label w-40">{{bxMsg 'online.operation'}}</label>
		<input type="text" class="bw-input" data-form-param="opNm"/>
	</li>
</ul>
<!--/END INPUT TYPE1-->