<div class="modal-wrap fix-h">
    <h2 class="bw-tt a-center">{{bxMsg 'batch.work-id-search'}}</h2>
    <!--GRID AREA-->
    <section class="job-grid add-bd2-t bx-no-draggable"></section>
    <!--/END GRID AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-job-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
