<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <display-name> serviceEndpoint </display-name>
  <context-param>
        <param-name>config-location</param-name>
        <param-value>bxm-management-instance.xml</param-value>
  </context-param>
  
	<listener>
  	<listener-class>bankware.corebanking.web.endpoint.CbbHttpServiceEndpointContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>bxmHttpServiceEndpointMapping</servlet-name>
        <servlet-class>bankware.corebanking.web.endpoint.CbbHttpServiceEndpointMapping</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
                <param-name>fld-encoding</param-name>
                <param-value>UTF-8</param-value>
        </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>bxmHttpServiceEndpointMapping</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>

