<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'setting.menu-setting'}}
    <p class="desc">{{bxMsg 'setting.menu-setting-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--GRID AREA-->
<section class="menu-setting-grid add-bd2-t"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'setting.menu-detail'}}<p class="desc menu-setting-detail-title"></p></h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-menu-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr bx-loding-wrap menu-setting-detail">
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-43">{{bxMsg 'setting.menu-id'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="menuId" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-43">{{bxMsg 'setting.menu-nm'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="menuNm" readonly />
            </div>
        </li>

        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-43">{{bxMsg 'setting.use-yn'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="useYn" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-66">
            <div class="input-wrap clr">
                <label class="bw-label w-21">{{bxMsg 'setting.menu-desc'}}</label>
                <input type="text" class="bw-input w-79" data-form-param="menuDesc" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-43">{{bxMsg 'setting.menu-seq'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="menuSeq" readonly />
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->