<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'scheduler.parameter-code-management'}}
    <p class="desc">{{bxMsg 'scheduler.parameter-code-management-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap bxm-search-wrap">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-33">
            <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code'}}</label>
            <input type="text" class="bw-input w-40" data-form-param="paramCd"/>
        </li>
        <li class="input-wrap w-33">
            <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code-nm'}}</label>
            <input type="text" class="bw-input w-40" data-form-param="paramCdNm"/>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="bxm-grid-wrap"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'scheduler.parameter-code-detail'}}
    <p class="desc bxm-detail-title"></p>
</h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr bx-loding-wrap bxm-detail-wrap">
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="paramCd" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code-nm'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="paramCdNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-type'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="paramTypeCd" data-code="BXMAD0017" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-66">
            <div class="input-wrap clr">
                <label class="bw-label w-20">{{bxMsg 'scheduler.parameter-key'}}</label>
                <input type="text" class="bw-input w-80" data-form-param="fixedInputVal" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.current-parameter-value'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="currParamVal" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
    	<li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.editable-yn'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="modifUseYn" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.required-yn'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="autoRegYn" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.required-priority'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="autoRegSeq" readonly />
            </div>
        </li>
        
    </ul>
    <ul>
        <li class="w-80">
            <div class="input-wrap clr">
                <label class="bw-label w-16">{{bxMsg 'scheduler.code-desc'}}</label>
                <input type="text" class="bw-input w-84" data-form-param="cdDesc" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-80">
            <div class="input-wrap fix-txtarea h-half p-rel clr">
                <label class="bw-label w-15">{{bxMsg 'scheduler.code-process-key'}}</label>
                <div class="txt-wrap2 fix-size w-85 f-r">
                    <textarea class="bw-textarea" data-form-param="cdProcKey" readonly></textarea>
                </div>
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->