<div class="modal-wrap">
    {{#if paramCd}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.parameter-code-edit'}}({{paramCd}})</h2>{{/if}}
    {{#unless paramCd}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.parameter-code-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable bxm-form-wrap">
        <ul class="clr">
            <li class="w-33">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code'}}</label>
                    {{#if paramCd}}
                    <input type="text" class="bw-input w-60" data-form-param="paramCd" readonly />
                    {{/if}}
                    {{#unless paramCd}}
                    <input type="text" class="bw-input w-60" data-form-param="paramCd" />
                    {{/unless}}
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-code-nm'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="paramCdNm" />
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.parameter-type'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="paramTypeCd"></select>
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-66">
                <div class="input-wrap clr">
                    <label class="bw-label w-20">{{bxMsg 'scheduler.parameter-key'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="fixedInputVal" />
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.current-parameter-value'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="currParamVal" readonly />
                </div>
            </li>
        </ul>
        <ul class="clr">
        	<li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.editable-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="modifUseYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.required-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="autoRegYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.required-priority'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="autoRegSeq" />
                </div>
            </li>
        </ul>
        <ul>
            <li class="w-80">
                <div class="input-wrap clr">
                    <label class="bw-label w-16">{{bxMsg 'scheduler.code-desc'}}</label>
                    <input type="text" class="bw-input w-84" data-form-param="cdDesc" />
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-80">
                <div class="input-wrap fix-txtarea h-half p-rel clr">
                    <label class="bw-label w-15">{{bxMsg 'scheduler.code-process-key'}}</label>
                    <div class="txt-wrap2 fix-size w-85 f-r">
                        <textarea class="bw-textarea" data-form-param="cdProcKey"></textarea>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
