.select-calculation-unit-popup span {
    float: initial;
}

.select-calculation-unit-popup .pf-cal-search-grid {
	height: 220px;
}

.select-calculation-unit-popup input {
    width: 100% !important;
}