/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for Common Condition
 * 怨듯넻議곌굔 CSS 
 */
/******************* �긽�뭹議곌굔, 怨듯넻, �꽌鍮꾩뒪, �룷�씤�듃 *******************/
/*�긽�뭹 硫붿씤�솕硫댁쓽 湲곕낯/議곌굔 border-bottom*/
/*�긽�뭹�씠�쇅�쓽 �쁺�뿭�� �젣�쇅*/
.pf-cc .nav-tabs, .pf-cp .nav-tabs {
    border-bottom: 2px solid #5D8ABD !important;
}
.pf-cc .nav-tabs li.active, .pf-cp .nav-tabs li.active {
    /*border-left: 1px solid #5D8ABD;*/
    background-color: #5D8ABD;
}
.pf-cc .nav-tabs li, .pf-cp .nav-tabs li {
    float: left;
    position: relative;
    height: 25px;
    line-height: 25px;
    padding: 0 30px 0 0;
}
/*�닔�닔猷뚰븷�씤 �떊洹쒗뙘�뾽�쓽 �꺆�� �젣�쇅*/
.fee-dis-sub-tab .nav-tabs {
    border-bottom:1px solid #ddd !important;
}
.fee-dis-sub-tab .nav-tabs li  {
    margin-right:-5px;
    text-align: center;
    float: left;
    position: relative;
    height: 25px;
    line-height: 15px;
    padding: 0;
    cursor:pointer;
}
/*�닔�닔猷뚰븷�씤 �떊洹쒗뙘�뾽�쓽 �꺆�� �젣�쇅*/

/*湲덈━�젙蹂� �꺆�� �젣�쇅*/
.cnd-value-type3-info-tab .nav-tabs {
    border-bottom:1px solid #ddd !important;
}
.cnd-value-type3-info-tab .nav-tabs li  {
    margin-right:-5px;
    text-align: center;
    float: left;
    position: relative;
    height: 25px;
    line-height: 15px;
    padding: 0;
    cursor:pointer;
}

.cnd-value-type3-info-tab .nav-tabs li .pfui-tab-item-text{
    margin-right:0px;
}
/*湲덈━�젙蹂� �꺆�� �젣�쇅*/

.nav-tabs li.active>a {
    height: 25px;
    color: #ffffff;
    padding: 0 15px 0 17px;
    display: block;
    font-weight: 400;
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    margin-right: 0px;
    line-height: 25px;
}
.nav-tabs li > a {
    height: 25px;
    padding: 0 15px 0 17px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    margin-right: 0px;
    line-height: 25px;
}
.nav-tabs li>a:hover, .nav-tabs li>a:focus {
    border-color:transparent;
    background-color:transparent;
}
.nav-tabs li {
    margin-bottom:0px;
}
.nav-tabs li.active>a {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
}
.nav-tabs li.active>a:hover {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    color:#FFFFFF;
}
.nav-tabs li.active>a:focus {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    color:#FFFFFF;
}
.nav-tabs li>a {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
}
.nav-tabs li>span {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
}
.cnd-value-type4-popup .additional-info-wrap .additional-title-wrap label {
    background: white;
    padding: 10px;
    margin: 0 -5px; }
.default-condition-info select, .default-condition-info input[type=text] {
    width: 156px; }
.additional-info-wrap {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid; }
.additional-info-wrap.detail-condition {
    display: none; }
.additional-info-wrap .additional-title-wrap {
    margin-top: -20px; }
/*議곌굔媛믫��씠��*/
.additional-info-wrap .additional-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 10px;
    margin-top:-6px;
    color:#666;
}
/*議곌굔�쁺�뿭 title 諛곌꼍*/
.cnd-value-title {
    background: #f6f6f6; }
/*�씪諛섏“嫄댁씪寃쎌슦�쓽 display css*/
.additional-info-wrap.detail-condition {
    display: none;
}
/*議곌굔媛� �닔�닔猷� �씪踰⑥쿂由�*/
.pf-cc-condition-history-popup .cnd-value-type4 label {
    background: white;
    padding: 10px;
    margin: 0 -5px;
}
.cnd-value-type4 label {
    background: #F9F9F9;
    padding: 10px;
    margin: 0 -5px;
}

/*議곌굔媛� �닔�닔猷� 湲덉븸/�쑉遺꾧린*/
.cnd-value-type4 .cnd-value-04-amount-table, .cnd-value-type4 .cnd-value-04-rate-table {
    display: none;
}
.cnd-value-type4 .cnd-value-04-rate-table.active {
    display: block;
}
.cnd-value-type4 .cnd-value-04-amount-table.active {
    display: block;
}
/*�닔�닔猷뚰븷�씤 �떊洹� �뙘�뾽*/
.add-cnd4-fee-tpl-popup .fee-dis-sub-tab-conts {
    padding: 10px; }
.add-cnd4-fee-tpl-popup .bx-info-table th {
    width: 120px; }
.add-cnd4-fee-tpl-popup .bx-info-table select, .add-cnd4-fee-tpl-popup .bx-info-table input[type=text] {
    width: 160px; }
.add-cnd4-fee-tpl-popup .bx-info-table select.select-140px, .add-cnd4-fee-tpl-popup .bx-info-table input.input-140px {
    width: 140px; }
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-cpl-grid, .add-cnd4-fee-tpl-popup .complex-grid {
    height: 280px; }
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-cnd-grid {
    height: 150px; }
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-limit-cnd-grid {
    height: 400px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap {
    margin-top: 30px;
    padding: 15px 10px 5px 10px;
    border: 1px solid; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap {
    margin-top: -25px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 10px;
    color:#666;
}
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .right {
    float: right; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap select, .add-cnd4-fee-tpl-popup .apply-rule-info-wrap input[type=text], .add-cnd4-fee-tpl-popup .apply-rule-info-wrap input.calendar {
    width: 145px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap label {
    width: 60px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap th {
    width: 95px;
    margin-left: 10px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .width30 {
    width: 30px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule {
    text-align: center;
    line-height: 300%; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-desc {
    text-align: center;
    line-height: 200%;
    margin-top: 5px; }
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .pf-cp-apply-rule-grapic-view-btn {
    position: absolute;
    left: 25px; }
.add-cnd4-fee-tpl-popup .pf-panel-footer {
    margin-top: 10px;
    padding-top: 5px;
    height: 30px;
    border-top: solid 1px #CCC;
    text-align:right;
}
.add-cnd4-fee-tpl-popup .fee-dis-history-btn, .add-cnd4-fee-tpl-popup .pf-cp-apply-rule-history-btn {
    float: right;
}
.add-cnd4-fee-tpl-sub-popup .popup-cnd-grid {
    height: 230px; }
/*�닔�닔猷뚰븷�씤 �떊洹쒗뙘�뾽 �닔�닔猷뚰븷�씤�꺆 援ъ꽦議곌굔�꽕�젙 �뙘�뾽 �꽕�젙*/
.add-cnd4-fee-condition-value-column-setting-popup {
    position: relative; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 250px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table {
    width: 250px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table th {
    width: 60px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table select {
    width: 190px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table input[type=text] {
    width: 158px; }
.add-cnd4-fee-condition-value-column-setting-popup .condition-list-grid {
    position: absolute;
    top: 70px;
    left: 15px;
    width: 250px;
    height: 210px; }
.add-cnd4-fee-condition-value-column-setting-popup .column-list-grid {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 500px;
    height: 280px; }
.add-cnd4-fee-condition-value-column-setting-popup .divier-grid {
    position: absolute;
    cursor: default;
    top: 160px;
    left: 275px; }
.add-cnd4-fee-cnd-value-popup label {
    background: #f9f9f9;
    padding: 10px;
    margin: 0 -5px; }
.add-cnd4-fee-cnd-value-popup .cnd-value-04-amount-table, .add-cnd4-fee-cnd-value-popup .cnd-value-04-rate-table {
    display: none; }
.add-cnd4-fee-cnd-value-popup .cnd-value-04-amount-table.active, .add-cnd4-fee-cnd-value-popup .cnd-value-04-rate-table.active {
    display: block; }
.charge-condition-graphic-box {
    position: relative;
    overflow: hidden; }
.charge-condition-graphic-box div {
    float: left; }
.charge-condition-graphic-box .nodeLayout {
    position: relative;
    width: 150px;
    height: 100%; }
.charge-condition-graphic-box .nodeBox {
    position: absolute;
    left: 9px;
    width: 130px;
    height: 50px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    z-index: 100;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc; }
.charge-condition-graphic-box .nodeLevel-0 .nodeBox {
    line-height: 17px;
    padding-top: 10px; }
.charge-condition-graphic-box .nodeLine {
    position: absolute;
    left: 70px;
    border: 1px dotted #000;
    border-left: none;
    background: #fff; }
/*�뙘�뾽�쓽 議곌굔媛믫��씠�� �깋�긽泥섎━*/
.pfui-stdmod-body .additional-info-wrap .additional-title-wrap .cnd-value-title,
.pfui-stdmod-body .apply-rule-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.1em;
    background: white;
    color:#666;
}
.additional-info-wrap th {
    width: 170px; }
.additional-info-wrap select, .additional-info-wrap input[type=text] {
    width: 150px; }
.additional-info-wrap input.product-code {
    width: 160px; }
.additional-info-wrap input.refCndCd {
    width: 50px; }
.additional-info-wrap input.reference-product-code {
    width: 50px; }
.additional-info-wrap .cnd-value-type2-table th {
    width: 80px; }
.additional-info-wrap .cnd-value-type2-table select, .additional-info-wrap .cnd-value-type2-table input[type=text] {
    width: 180px; }
.additional-info-wrap .cnd-value-type3-table th {
    width: 190px; }
.additional-info-wrap .condition-value-type4-additional select, .additional-info-wrap .condition-value-type4-additional input[type=text] {
    width: 180px; }
/*議곌굔媛믪뾾�쓬 泥댄겕*/
.condition-value-wrap {
    display: none; }
.condition-value-wrap.active {
    display: block; }
.condition-value-wrap .cnd-value-title {
    background: #f9f9f9; }
.condition-value-wrap .cnd-val-type4-label-wrap {
    margin-left: -10px;
    padding-right: 15px;
    background: #f9f9f9; }
.condition-value-wrap .cnd-val-type4-label-wrap label {
    margin-left: 10px; }
/*援ъ꽦議곌굔�꽕�젙 �뙘�뾽*/
.condition-value-column-setting-popup {
    position: relative; }
.condition-value-column-setting-popup .column-list-grid, .condition-value-column-setting-popup .condition-list-grid {
    height: 220px;
    float: left; }
.condition-value-column-setting-popup .column-list-grid {
    width: 500px;
    margin-left: 35px; }
.condition-value-column-setting-popup .condition-list-grid {
    margin-left: 15px;
    width: 250px; }
.condition-value-column-setting-popup .divier-grid {
    position: absolute;
    cursor: default;
    top: 108px;
    left: 278px; }
/*�슦��湲덈━�젣怨듭“嫄닿�由� 洹몃━�뱶*/
.pf-cp-condition-info .pf-panel-body .condition-type4-2grid-wrap, .pf-cp-condition-info .pf-panel-body .condition-type3-grid-wrap, .pf-cp-condition-info .pf-panel-body .condition-type3-2grid-wrap, .pf-cp-provided-condition-info .pf-panel-body .condition-type4-2grid-wrap, .pf-cp-provided-condition-info .pf-panel-body .condition-type3-grid-wrap, .pf-cp-provided-condition-info .pf-panel-body .condition-type3-2grid-wrap, .pf-cp-condition-type4-2tpl .pf-panel-body .condition-type4-2grid-wrap, .pf-cp-condition-type4-2tpl .pf-panel-body .condition-type3-grid-wrap, .pf-cp-condition-type4-2tpl .pf-panel-body .condition-type3-2grid-wrap, .pf-cp-condition-type3-2tpl .pf-panel-body .condition-type4-2grid-wrap, .pf-cp-condition-type3-2tpl .pf-panel-body .condition-type3-grid-wrap, .pf-cp-condition-type3-2tpl .pf-panel-body .condition-type3-2grid-wrap {
    height: 250px; }
/*�슦��湲덈━�젣怨듭“嫄닿�由� 議고쉶湲곗��씪�쁺�뿭*/
/*.pf-cp-condition-type3-2tpl .pf-panel-body .common-header-group {*/
    /*position: absolute;*/
    /*left: 544px;*/
/*}*/
.pf-cp-condition-type3-2tpl .pf-panel-body .common-header-group select, .pf-cp-condition-type3-2tpl .pf-panel-body .common-header-group input {
    width: 140px; }
.pf-cp-condition-type3-2tpl .pf-panel-body .common-header-group .bnft-prov-cnd-search-btn {
    margin-left: 5px; }
/*�슦��湲덈━ 議곌굔�젙蹂�*/
.pf-cp-condition-info .pf-panel-body, .pf-cp-provided-condition-info .pf-panel-body, .pf-cp-condition-type4-2tpl .pf-panel-body, .pf-cp-condition-type3-2tpl .pf-panel-body {
    padding: 10px; }

.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap {
    margin-top: 30px;
    padding: 15px 10px 5px 10px;
    border: 1px solid; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap {
    margin-top: -25px; }

.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .right, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .right, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .right, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .right {
    float: right; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap label, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap label, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap label, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap label {
    width: 60px; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap th, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap th, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap th, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap th {
    width: 95px;
    margin-left: 10px; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .width30, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .width30, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .width30, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .width30 {
    width: 30px; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule {
    text-align: center;
    line-height: 300%; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-desc, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-desc, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-desc, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-desc {
    text-align: center;
    line-height: 200%;
    margin-top: 5px; }
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .pf-cp-apply-rule-grapic-view-btn, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .pf-cp-apply-rule-grapic-view-btn, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .pf-cp-apply-rule-grapic-view-btn, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .pf-cp-apply-rule-grapic-view-btn {
    position: absolute;
    left: 20px; }

/*�슦��湲덈━�젣怨듭“嫄닿�由� �씪踰�*/
.pf-cp-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title, .pf-cp-provided-condition-info .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title, .pf-cp-condition-type4-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title, .pf-cp-condition-type3-2tpl .pf-panel-body .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 10px;
    color: #666;
}
/******************* �긽�뭹議곌굔, 怨듯넻, �꽌鍮꾩뒪, �룷�씤�듃 *******************/

.pf-cc .pf-cc-tree-search .common-search-list-wrap {
    display: none;
    position: absolute;
    width: 156px;
    height: 180px;
    border: 1px solid #888d95;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: white;
    padding: 5px 0;
    overflow: auto;
    left: 11px;
    top:35px;
}
.pf-cc .pf-cc-tree-search .common-search-list-wrap.active {
    display: block; }
.pf-cc .pf-cc-info-wrap {
    position: relative; }
.pf-cc .pf-cc-condition-list-wrap {
    border-right: 1px solid #aaa;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 170px;
    margin: 10px 0; }
.pf-cc .pf-cc-condition-list .pfui-tree-item {
    float: none;
    height:27px;
}
/*�긽�뭹議곌굔醫뚯륫�듃由�*/
.pf-cc .pf-cc-condition-list-wrap .pfui-tree-item {
    float: none;
    height:24px;
}
/*�긽�뭹議곌굔硫붿씤�솕硫� overflow*/
.pf-cc-condition-info-wrap {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}
.pf-cc .pf-cc-condition-info-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 170px;
    padding: 10px; }

.pf-cc .pf-cc-condition-info-wrap .pf-panel-body select.bx-form-item {
    width: 156px;
}
.pf-cc .pf-cc-condition-info-wrap input.calendar {
    width: 156px; }
.pf-cc .pf-cc-condition-info-wrap input[type=checkbox] {
    vertical-align: middle; }
.pf-cc .pf-cc-condition-info-wrap .pf-panel-header, .pf-cc .pf-cc-condition-info-wrap .pf-panel-body {
    position: relative;
    /*margin-bottom:10px;*/
}
.pf-cc .pf-cc-condition-info-wrap .pf-panel-header .header-btn-group {
    position: absolute;
    right: 5px;
    top: -2px;
    z-index: 1; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel select.select-140px, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel input.input-140px {
    width: 156px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel input.input-285px {
    width: 321px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .isValueNull-hidden.active {
    display: none; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .prfIntRt-hidden.active {
    display: none; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-table-wrap th {
    width: 200px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-value, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .complex-grid-wrap {
    display: none;
    margin-top: 10px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-value.active, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .complex-grid-wrap.active {
    display: block; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-value .bw-btn, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .complex-grid-wrap .bw-btn {
    float: right;
    margin-left: 5px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-value .complex-grid, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .complex-grid-wrap .complex-grid {
    height: 300px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .condition-value .complex-grid table td.x-grid-cell, .pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .complex-grid-wrap .complex-grid table td.x-grid-cell {
    vertical-align: middle; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .additional-info-wrap {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .additional-info-wrap .charge-title-wrap {
    width: 277px; }
.pf-cc .pf-cc-condition-info-wrap .pf-cc-common-condition-panel .additional-info-wrap .charge-title-wrap label {
    margin-left: 10px; }
.pf-cc .product-info-tab {
    position: relative; }
.pf-cc .product-info-panel {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    border-color: #ddd; }
.pf-cc .pf-cc-sub-tab {
    margin-top: 10px; }
.pf-cc .pf-cc-condition-info-toolbar {
    padding: 7px;
    height: 30px;
    text-align: right;
    background: #E5E5E5; }
.pf-cc .pf-cc-condition-info-toolbar .pfui-bar-item-button {
    float: none; }
.pf-cc .product-sub-conts {
    width: 100%;
    height: 98%; }
.pf-cc .pf-cc-condition {
    position: relative;
    height: 99%; }
.pf-cc .pf-cc-condition-code-grid {
    margin: 0 10px 10px 10px;
    height: 300px; }
.pf-cc .packageYn-check-td {
    line-height: 26px; }

.pf-cc-condition-history-popup {
    padding: 0; }
.pf-cc-condition-history-popup .pf-cc-condition-history-grid-title {
    margin: 5px 0; }
.pf-cc-condition-history-popup .pf-cc-condition-history-grid {
    height: 150px; }
.pf-cc-condition-history-popup .history-condition-value-wrap {
    margin-top: 20px; }
.pf-cc-condition-history-popup .history-condition-value-wrap .history-complex-grid, .pf-cc-condition-history-popup .history-condition-value-wrap .history-condition-value {
    height: 200px; }
.pf-cc-condition-history-popup .history-condition-value-wrap .history-complex-grid table td.x-grid-cell, .pf-cc-condition-history-popup .history-condition-value-wrap .history-condition-value table td.x-grid-cell {
    vertical-align: middle; }
.pf-cc-condition-history-popup .history-condition-value-wrap .history-condition-value {
    overflow: auto; }

.pf-cc-condition-type2-grid-tpl .pf-panel-body {
    padding: 10px; }
.pf-cc-condition-type2-grid-tpl .pf-panel-body .condition-type2-grid-wrap {
    height: 400px; }

/*�슦��湲덈━�젣怨듭“嫄� 異붽�踰꾪듉*/
/*.pf-cp-condition-type3-2tpl .pf-panel-body .add-cnd3-prvdCnd-btn {*/
    /*text-align:right;*/
/*}*/

/*�슦��湲덈━�젣怨듭“嫄�,�닔�닔猷뚰븷�씤�젙蹂� 異붽�踰꾪듉*/
.pf-cp-condition-type3-2tpl .pf-panel-body .add-cnd3-int-btn,
.pf-cp-condition-type4-2tpl .pf-panel-body .add-cnd4-fee-btn {
    /*float:right;*/
    /*margin-top: -3px;*/
    margin-right: -4px;
}

/*�씠�젰議고쉶踰꾪듉*/
.pf-cc-condition-info .pf-panel-body .apply-rule-info-wrap .btn-box {
    text-align:right;
}

/*footer ���옣/�궘�젣 踰꾪듉*/
   .pf-cc-condition-info .pf-panel-body .apply-rule-info-wrap button.write-btn {
       margin-top: -6px;
   }
.add-cnd4-fee-tpl-popup .pf-panel-footer .bw-btn {
       float: right;
       margin-left: 10px; }

   /*�젣怨듭“嫄� �븳�룄議곌굔 愿��젴*/
.prov-cnd-type1-warp{
    margin-top : 20px;
}
.prov-cnd-type2-warp{
    margin-top : 20px;
}
.prov-cnd-type2-warp .bx-info-table tr th{
    padding-left : 10px;
}
.prov-cnd-add-info-wrap{
    margin-top : 20px;
}
.prov-cnd-list-code-grid{
    height:160px;
}
.prov-cnd-add-info-grid{
    height:160px;
}
.prov-cnd-history-btn{
    float : right;
    margin-top: -3px;
}

.prov-cnd-tpl .prov-cnd-nm{
    width : 283px;
}

.prov-cnd-tpl .bx-info-table .start-date{
    width : 166px;
}
.prov-cnd-tpl .bx-info-table .end-date{
    width : 166px;
}

.pf-cp-prov-condition-history-popup .prov-cnd-popup{
    width : 290px;
}

.pf-cp-prov-condition-history-popup .pf-cp-prov-condition-history-grid-title{
    margin-top:10px;
}

.pf-cp-prov-condition-history-popup .history-condition-value-wrap{
    margin-top:20px;
}


.pf-cp-prov-condition-history-popup .pf-cp-prov-condition-history-grid{
    height : 160px;
}

.pf-cp-prov-condition-history-popup .history-prov-cnd-list-code-grid{
    height : 160px;
}


.limit-cnd-list-code-grid{
    height : 150px;
}

.limit-cnd-history-btn{
    float : right;
}

.limit-cnd-type1-warp{
    margin-top : 20px;
}

.limit-cnd-type2-warp{
    margin-top : 20px;
}

.limit-cnd-info-popup-tpl .limit-cnd-nm{
    width : 250px;
}

.limit-cnd-info-popup-tpl .bx-info-table .start-date{
    width : 145px;
}
.limit-cnd-info-popup-tpl .bx-info-table .end-date{
    width : 145px;
}

.limit-cnd-type2-warp .bx-info-table-wrap{
    border: 1px solid;
}

.prov-cnd-type2-warp .bx-info-table-wrap{
    border: 1px solid;
}
/*�젣怨듭“嫄� �븳�룄議곌굔 愿��젴 end*/
.product-search-btn {
    margin-left: -1px;
}
/*�닔�닔猷뚰븷�씤�씠�젰議고쉶*/
.pf-cp-fee-discount-history-popup th {
    width : 133px;
}
.prov-cnd-add-info-add-btn {
    float : right;
}
.pf-cp-base-rel-product-group-add-popup .product-group-grid {
    height: 250px;
}

/*2017.02.17 異붽� - �긽�뭹議곌굔 蹂듯빀�닔�닔猷뚯“嫄닿컪 �뙘�뾽 �빆紐� �쐞移� 議곗젙*/
.cnd-value-type4-popup .cnd-value-type4 th {
	float:left;
	width:110px;
}

/*2017.05.17 異붽�*/
   	.icon-help {
    background-image: url('/images/bx-ui/sub-icons.png');
    background-position: -530px -200px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 4px;
    margin-right: -4px;
}

      /*2017.06.14 異붽�*/
.apply-rule-info-wrap .formula-cal-btn{
    border: 1px solid #bbbbbb;
    text-align: center;
    height: 27px;
}
.apply-rule-info-wrap .large-btn {
    width: 46px;
}
.apply-rule-info-wrap .small-btn {
    width: 35px;
}