
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnAddInfoTableToggle" ng-click="SFX110_addedInfoCtrl.btnAddInfoTableToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="addInfoTable"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25" colspan="2">
					<div class="input-wrap clr fix-txtarea p-rel">
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#imprtrNm%}" data-i18n-title="{%=cbb_items.AT#imprtrNm%}"></label>
						<div class="txt-wrap2 fix-size f-r">
							<textarea class="bw-textarea" readonly="readonly" placeholder="내용을 적어주세요." data-form-param="imprtrNm"></textarea>
						</div>
					</div>
				</td>
				<td class="td-w-25" colspan="2">
					<div class="input-wrap clr fix-txtarea p-rel">
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#exprtrNm%}" data-i18n-title="{%=cbb_items.AT#exprtrNm%}"></label>
						<div class="txt-wrap2 fix-size f-r">
							<textarea class="bw-textarea" readonly="readonly" placeholder="내용을 적어주세요." data-form-param="exprtrNm"></textarea>
						</div>
					</div>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#originNatCd%}" data-i18n-title="{%=cbb_items.AT#originNatCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="originNatCd"></select>
					</div>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#shpmntNatCd%}" data-i18n-title="{%=cbb_items.AT#shpmntNatCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="shpmntNatCd"></select>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap single-type clr" >
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="shpmntPortNm" />
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#dstntnNatCd%}" data-i18n-title="{%=cbb_items.AT#dstntnNatCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="dstntnNatCd"></select>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap single-type clr" >
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="dstntnPortNm" />
					</div>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#sndNatCd%}" data-i18n-title="{%=cbb_items.AT#sndNatCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="sndNatCd"></select>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap single-type clr" >
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="sndPlcNm" />
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#fnlDstntnNatCd%}" data-i18n-title="{%=cbb_items.AT#fnlDstntnNatCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="fnlDstntnNatCd"></select>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap single-type clr" >
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="fnlDstntnNm" />
					</div>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#adviceBnkBic%}" data-i18n-title="{%=cbb_items.AT#adviceBnkBic%}"></label>
						<input type="text"  maxlength='11' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="adviceBnkBic" />
					</div>
				</td>
				<td class="td-w-25" colspan="2">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#adviceBnkNm%}" data-i18n-title="{%=cbb_items.AT#adviceBnkNm%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="adviceBnkNm" />
					</div>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#stlmntBnkBic%}" data-i18n-title="{%=cbb_items.AT#stlmntBnkBic%}"></label>
						<input type="text"  maxlength='11' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="stlmntBnkBic" />
					</div>
				</td>
				<td class="td-w-25" colspan="2">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#stlmntBnkNm%}" data-i18n-title="{%=cbb_items.AT#stlmntBnkNm%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="stlmntBnkNm" />
					</div>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
			</tr>
			<tr  name="tr_addInfoTable" >
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#docPrsntnTrmCnt%}" data-i18n-title="{%=cbb_items.AT#docPrsntnTrmCnt%}"></label>
						<input type="text"  dec='0' class="bw-input "   data-form-param="docPrsntnTrmCnt"  common-numeric-only-directive ng-model='docPrsntnTrmCntAmt'/>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#shpmntDueDt%}" data-i18n-title="{%=cbb_items.AT#shpmntDueDt%}"></label>
						<div id="shpmntDueDt" ></div>
					</div>
				</td>
				<td class="td-w-25">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#trshpmtPrmsnYn%}" data-i18n-title="{%=cbb_items.AT#trshpmtPrmsnYn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="trshpmtPrmsnYn"></select>
					</div>
				</td>
				<td class="td-w-25">
					<span data-form-param=""   ></span>
				</td>
			</tr>
		</table>
	</section>