
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnTab1Toggle" ng-click="SCU140_messageCtrl.btnTab1Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="officeAddrTab"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_officeAddrTab" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#addrId%}" data-i18n-title="{%=cbb_items.AT#addrId%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="addrId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#zipCd%}" data-i18n-title="{%=cbb_items.AT#zipCd%}"></label>
						<input type="text"  maxlength='6' dec='0' class="bw-input a-left"   data-form-param="zipCd" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#cntctPntSeqNbr%}" data-i18n-title="{%=cbb_items.AT#cntctPntSeqNbr%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="cntctPntSeqNbr"  common-numeric-only-directive ng-model='cntctPntSeqNbrAmt'/>
					</div>
				</td>
			</tr>
			<tr  name="tr_officeAddrTab" >
				<td class="td-w-33" colspan="3">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#noticeMsg%}" data-i18n-title="{%=cbb_items.SCRNITM#noticeMsg%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="noticeMsgNm" />
					</div>
				</td>
			</tr>
			<tr  name="tr_officeAddrTab" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#noticeWayTpCd%}" data-i18n-title="{%=cbb_items.SCRNITM#noticeWayTpCd%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="noticeWayTpCd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#noticeGoalTp%}" data-i18n-title="{%=cbb_items.SCRNITM#noticeGoalTp%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="noticeGoalTpCd"></select>
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>