sample8 tab1
<section class="bw-tool">
    <div class="f-l">
        <h3 class="bw-desc"></h3>
    </div>
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn" id="btn-base-attribute-tab1-reset" title="" ng-click="tab11.resetOnclick()"><i class="bw-icon i-30 i-func-reset"></i></button>
        <button type="button" class="bw-btn b-ctr" id="btn-base-attribute-tab1-toggle" ng-click="tab11.toggleOnclick()"><i class="fa fa-forward fa-rotate-270"></i></button>
    </div>
</section>


<section id="base-attribute-area-tab1">
    <section class="search-wrap">
        <table class="w-100 bsicXtnAtrbtTbl-wrap">
            <tr>
                <td class="td-w-33">
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">결혼구분</label>
                        <select class="bw-input w-60 ipt-select Sample2-marriageTpCd-wrap" data-form-param="marriageTpCd"></select>
                    </div>
                </td>
                <td class="td-w-33">
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">결혼기념일</label>
                        <div id="marriageDt" class="bw-input w-60 ipt-select Sample2-gndrDscd-wrap"></div>
                        <!-- input type="text" class="bw-input w-60 ipt-cal" data-form-param="marriageDt" /-->
                    </div>
                </td>
                <td class="td-w-33">
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">혈액형</label>
                        <select class="bw-input w-60 ipt-select Sample2-bldTpDscd-wrap" data-form-param="bldTpDscd"></select>
                    </div>
                </td>
            </tr>


            <tr>
                <td class="td-w-33">
                    <div class="input-wrap asterisk clr">
                        <label class="bw-label w-40">연소득</label>
                        <input type="text" class="bw-input w-60" data-form-param="annualIncomeAmt" />
                    </div>
                </td>
                <td class="td-w-33">
                </td>
                <td class="td-w-33">
                </td>
            </tr>
        </table>
    </section>
</section>


