
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#addrList%}"></h3>
				<h3 class="bw-desc">({{SCU172_addrTabCtrl.addrInfoListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnAddrGridSave" ng-click="SCU172_addrTabCtrl.btnAddrGridSave_Onclick()" title=""><i class="bw-icon i-30 i-func-save"></i><span class="btn_txt">저장</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnAddrGridToggle" ng-click="SCU172_addrTabCtrl.btnAddrGridToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="addrSrchRslt"  >
				<div id="SCU172_addrTab_addrInfoList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#addrInput%}"></h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnAddrInfoReset" ng-click="SCU172_addrTabCtrl.btnAddrInfoReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
				<button type="button" class="bw-btn"  id="btnAddrInfoSave" ng-click="SCU172_addrTabCtrl.btnAddrInfoSave_Onclick()" title=""><i class="bw-icon i-30 i-func-save"></i><span class="btn_txt">저장</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnAddrInfoToggle" ng-click="SCU172_addrTabCtrl.btnAddrInfoToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
		<section  id="addrInfo"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_addrInfo" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#cntctPntTp%}" data-i18n-title="{%=cbb_items.SCRNITM#cntctPntTp%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="ctcptTpCd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#cntctMthdTpCd%}" data-i18n-title="{%=cbb_items.AT#cntctMthdTpCd%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="cntctMthdTpCd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#rprsntvCtcptYn%}" data-i18n-title="{%=cbb_items.AT#rprsntvCtcptYn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="rprsntvCtcptYn"></select>
					</div>
				</td>
			</tr>
			<tr  name="tr_addrInfo" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#cntctPntSeqNbr%}" data-i18n-title="{%=cbb_items.AT#cntctPntSeqNbr%}"></label>
						<input type="text"  dec='0' class="bw-input "   data-form-param="cntctPntSeqNbr"  common-numeric-only-directive ng-model='cntctPntSeqNbrAmt'/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#addrId%}" data-i18n-title="{%=cbb_items.AT#addrId%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="addrId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#zipCd%}" data-i18n-title="{%=cbb_items.AT#zipCd%}"></label>
						<input type="text"  maxlength='6' dec='0' class="bw-input a-left"   data-form-param="zipCd" />
					</div>
				</td>
			</tr>
			<tr  name="tr_addrInfo" >
				<td class="td-w-33" colspan="2">
					<div class="input-wrap fix-label clr add-btn" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#areaRoadAddr%}" data-i18n-title="{%=cbb_items.SCRNITM#areaRoadAddr%}"></label>
						<input type="text"  maxlength='4000' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="bsicAddrCntnt" />
						<button type="button" class="bw-btn fix-r" ng-click="SCU172_addrTabCtrl.bsicAddrCntnt_Onclick()" id="btn-bsicAddrCntnt-search"><i class="fas fa-search"></i></button>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#dtlAddr%}" data-i18n-title="{%=cbb_items.SCRNITM#dtlAddr%}"></label>
						<input type="text"  maxlength='1000' dec='0' class="bw-input a-left"   data-form-param="dtlAddrCntnt" />
					</div>
				</td>
			</tr>
			<tr  name="tr_addrInfo" >
				<td class="td-w-33" colspan="2">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#engBsicAddrCntnt%}" data-i18n-title="{%=cbb_items.AT#engBsicAddrCntnt%}"></label>
						<input type="text"  maxlength='4000' dec='0' class="bw-input a-left"   data-form-param="engBsicAddrCntnt" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#engDtlAddrCntnt%}" data-i18n-title="{%=cbb_items.AT#engDtlAddrCntnt%}"></label>
						<input type="text"  maxlength='1000' dec='0' class="bw-input a-left"   data-form-param="engDtlAddrCntnt" />
					</div>
				</td>
			</tr>
			<tr  name="tr_addrInfo" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#rcvPrmsnDstnctn%}" data-i18n-title="{%=cbb_items.SCRNITM#rcvPrmsnDstnctn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="cntctPrhbtnTpCd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#actorCtcptId%}" data-i18n-title="{%=cbb_items.AT#actorCtcptId%}"></label>
						<input type="text"  maxlength='10' dec='0' common-string-number-only-directive class="bw-input a-left"   data-form-param="actorCtcptId" />
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>