<div class="modal-wrap">
    <h2 class="bw-tt a-center">{{bxMsg 'batch.commit-setting-list-add'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t fix-h bx-no-draggable">
        <ul class="clr add-mg-t add-mg-b">
            <li class="w-40">
                <div>
                    <label class="bw-label w-20">{{bxMsg 'batch.step-nm'}}</label>
                </div>
            </li>
            <li class="w-40">
                <div>
                    <label class="bw-label w-20">{{bxMsg 'batch.interval'}}</label>
                </div>
            </li>
        </ul>
        {{#each commitSettingList}}
        {{#each this}}
        <ul class="clr commit-setting-item">
            <li class="w-40">
                <div class="input-wrap clr">
                    <input type="text" class="bw-input add-mg-l w-90 step-nm-input" value="{{@key}}" />
                </div>
            </li>
            <li class="w-40">
                <div class="input-wrap clr">
                    <input type="text" class="bw-input add-mg-l w-90 interval-input" value="{{this}}" />
                </div>
            </li>
            <li class="w-20">
                <button type="button" class="bw-btn add-commit-setting-btn"><i class="bw-icon i-25 i-func-add"></i></button>
                <button type="button" class="bw-btn del-commit-setting-btn"><i class="bw-icon i-25 i-func-del"></i></button>
            </li>
        </ul>
        {{/each}}
        {{/each}}

        {{#unless commitSettingList}}
        <ul class="clr commit-setting-item">
            <li class="w-40">
                <div class="input-wrap clr">
                    <input type="text" class="bw-input add-mg-l w-90 step-nm-input" />
                </div>
            </li>
            <li class="w-40">
                <div class="input-wrap clr">
                    <input type="text" class="bw-input add-mg-l w-90 interval-input" />
                </div>
            </li>
            <li class="w-20">
                <button type="button" class="bw-btn add-commit-setting-btn"><i class="bw-icon i-25 i-func-add"></i></button>
            </li>
        </ul>
        {{/unless}}
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-commit-setting-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>