
	<section  id='SCL161' ng-init="SCL161Ctrl.init()">
		<div   id="insrncTitle"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SCL161%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SCL161Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
						<button type="button" class="bw-btn"  id="btnSchSearch" ng-click="SCL161Ctrl.btnSchSearch_Onclick()" title=""><i class="bw-icon i-30 i-func-search"></i><span class="btn_txt">조회</span></button>
						<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SCL161Ctrl.btnSchToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label asterisk clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.AT#aprslCustRelCd%}" data-i18n-title="{%=cbb_items.AT#aprslCustRelCd%}"></label>
								<select class="bw-input ipt-select"  data-form-param="aprslCustRelCd"></select>
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr asterisk clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custId%}" data-i18n-title="{%=cbb_items.AT#custId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"   data-form-param="mainCustId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label asterisk clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.AT#aprslStsCd%}" data-i18n-title="{%=cbb_items.AT#aprslStsCd%}"></label>
								<select class="bw-input ipt-select"  data-form-param="aprslStsCd"></select>
							</div>
						</td>
					</tr>
				</table>
			</section>
			<section   >
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn b-ctr"  id="btnGridToggle" ng-click="SCL161Ctrl.btnGridToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
				</div>
				</section>
				<section  id="srchRslt"  >
					<div id="SCL161_grdInsrnc" >
						<section class="bw-grid"></section>
					</div>
				</section>
			</section>
		</div>
		<div   class="modal-footer btn-wrap add-mg">
			<button type="button" class="bw-btn-txt"  id="btnSubmit" ng-click="SCL161Ctrl.btnSubmit_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#select%}"/></button>
			<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SCL161Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#cancel%}"/></button>
		</div>
	</div>
</section>