<h3>{{bxMsg 'online.link-flow-detail'}} {{linkSeq}} : {{trxCd}}</h3>
<div class="accordion-body" data-trx-code="{{trxCd}}" data-link-seq="{{linkSeq}}">
    <ul class="bw-form fix-center">
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.link-order'}}</label>
            <input type="text" class="bw-input ipt-select w-70 f-l" data-form-param="linkSeq" disabled>
            <input type="hidden" data-form-param="linkMainCd" disabled>
        </li>
        <li class="w-33 asterisk add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.link-trading-code'}}</label>
            <input type="text" class="bw-input w-70 f-l" data-form-param="trxCd" disabled />
        </li>
        <li class="w-33 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.link-trading-name'}}</label>
            <input type="text" class="bw-input w-70 f-l" data-form-param="trxNm" disabled />
        </li>
    </ul>
    <ul class="bw-form fix-center">
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.start-yn'}}</label>
            <input type="text" class="bw-input w-70 f-l" data-form-param="startYn" disabled />
        </li>
        <li class="w-33 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.tx-processing-code'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="tranProcCd" disabled></select>
        </li>
        <li class="w-33 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.output-division'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="outputType" disabled></select>
        </li>
        
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.trx-type'}}</label>
            <select class="bw-input ipt-select w-70 f-l no-function-option" disabled>
            	<option>SYNC</option>
            	<option>ASYNC</option>
            </select>
        </li>
        <li class="w-33 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.trx-log-yn'}}</label>
            <select class="bw-input ipt-select w-70 f-l no-function-option" disabled>
           		<option>Y</option>
            	<option>N</option>
            </select>
        </li>
        <li class="w-33 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.pre-post-yn'}}</label>
            <select class="bw-input ipt-select w-70 f-l no-function-option" disabled>
            	<option>Y</option>
            	<option>N</option>
            </select>
        </li>
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.use-yn'}}</label>
            <select class="bw-input ipt-select w-70 f-l no-function-option" disabled>
            	<option>Y</option>
            	<option>N</option>
            </select>
        </li>
      </ul>
       <ul class="bw-form fix-center">
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.input-confirm-yn'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="inputCheckYn" disabled>
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select>
        </li>
        <li class="w-66 add-pd-r">
            <label class="bw-label w-17 f-l">
                {{bxMsg 'online.input-confirm-field'}}
                <i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.input-field-msg'}}"></i>
            </label>
            <input type="text" class="bw-input ipt-select w-83 f-l" data-form-param="inputCheckCtt" disabled>
        </li>
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.confirm-yn-before-link'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="linkBefCheckYn" disabled>
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select>
        </li>
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.confirm-yn-after-link'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="linkAftCheckYn" disabled>
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select>
        </li>
    </ul>
    <ul class="bw-form fix-center">
        <li class="w-67 add-pd-r">
            <label class="bw-label w-15 f-l">{{bxMsg 'online.link-confirm-fqn'}}</label>
            <input type="text" class="bw-input ipt-select w-85 f-l" data-form-param="linkCheckFqn" disabled>
        </li>
    </ul>
    <ul class="bw-form fix-center">
        <li class="w-34 add-pd-r">
            <label class="bw-label w-30 f-l">{{bxMsg 'online.input-mapping-division'}}</label>
            <select class="bw-input ipt-select w-70 f-l" data-form-param="inputMappingType" disabled></select>
        </li>
    </ul>

    <div class="link-in-mapping-grid-wrap">
        <span class="bw-stt">{{bxMsg 'online.input-mapping-detail'}}</span>
        <div class="add-bd2-t link-in-mapping-grid"></div>
    </div>
</div>