
	<section  id='SUE038' ng-init="SUE038Ctrl.init()">
		<div   id="ipctTitle"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SUE038%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SUE038Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
						<button type="button" class="bw-btn"  id="btnSchSearch" ng-click="SUE038Ctrl.btnSchSearch_Onclick()" title=""><i class="bw-icon i-30 i-func-search"></i></button>
						<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SUE038Ctrl.btnSchToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label clr asterisk clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custId%}" data-i18n-title="{%=cbb_items.AT#custId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"   data-form-param="custId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custNm%}" data-i18n-title="{%=cbb_items.AT#custNm%}"></label>
								<input type="text"  maxlength='50' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custNm" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label asterisk clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#aprvSts%}" data-i18n-title="{%=cbb_items.SCRNITM#aprvSts%}"></label>
								<select class="bw-input ipt-select"  data-form-param="indvAsmFinStsCd"></select>
							</div>
						</td>
					</tr>
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label asterisk clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#inqryStartDt%}" data-i18n-title="{%=cbb_items.SCRNITM#inqryStartDt%}"></label>
								<div id="afOpnDt" ></div>
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label asterisk clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#inqryEndDt%}" data-i18n-title="{%=cbb_items.SCRNITM#inqryEndDt%}"></label>
								<div id="bfOpnDt" ></div>
							</div>
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</section>
			<section   >
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
					<h3 class="bw-desc">({{SUE038Ctrl.aprvListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn b-ctr"  id="btnGridToggle" ng-click="SUE038Ctrl.btnGridToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
				</div>
				</section>
				<section  id="srchRslt"  >
					<div id="SUE038_aprvList" >
						<section class="bw-grid"></section>
					</div>
				</section>
			</section>
		</div>
		<div   class="modal-footer btn-wrap add-mg">
			<button type="button" class="bw-btn-txt"  id="btnSubmit" ng-click="SUE038Ctrl.btnSubmit_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#select%}"/></button>
			<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SUE038Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#cancel%}"/></button>
		</div>
	</div>
</section>