<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'trx-setting.cacheMonitoring'}}
    <p class="desc">{{bxMsg 'trx-setting.cacheMonitoringMsg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap bxm-search-wrap">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-30">
            <label class="bw-label w-40">{{bxMsg 'trx-setting.cache-nm'}}</label>
            <input type="text" class="bw-input w-60" data-form-param="cacheNm"/>
        </li>
        <li class="input-wrap w-30">
            <label class="bw-label w-40">{{bxMsg 'trx-setting.table-nm'}}</label>
            <input type="text" class="bw-input w-60" data-form-param="tableNm"/>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="bxm-grid-wrap"></section>
<!--/END GRID AREA-->
<div class="btn-wrap add-mg-t add-mg-b a-center w-100 operation-buttons">
    <button type="button" class="bw-btn clear-btn" data-op="clearCache" title="{{bxMsg 'trx-setting.clear'}}">
        <i class="svg-icon i-40 i-clear"></i>
    </button>
    <button type="button" class="bw-btn reload-btn" data-op="reloadCache" title="{{bxMsg 'trx-setting.reload'}}">
        <i class="svg-icon i-40 i-reload-1"></i>
    </button>
</div>
