<nav id="side_menu" class="side-nav add-shadow">
    <section id="workflow-menu" class="workflow-menu">
        <ul class="tab_menu_default">
        	<li class="first-tab on-tab" id="side_tab_menu"><a href="" ng-click="sideCtrl.setWorkArea('M')">Menu</a></li>
        	<li class=""                 id="side_tab_workflow"><a href="" ng-click="sideCtrl.setWorkArea('W')">Workflow</a></li>
        </ul>
    </section>
	<section id="main-workflow" class="side_workflow">
		<ol class="workflow_list">
		<li class="end"><p><a href="#"><span class="step">신청접수</span><span class="state" title="정상종료">정상종료</span></a></p><p class="id">SUE011</p></li>
		<li class="end"><p><a href="#"><span class="step">사전신용점검</span><span class="state" title="정상종료">정상종료</span></a></p><p class="id">SUE005</p></li>
		<li class="waiting now"><p><a href="#"><span class="step">신청정보등록</span><span class="state" title="진행대기">진행대기</span></a></p><p class="id">SUE013</p></li>
		<li class="error"><p><a href="#"><span class="step">구비서류등록</span><span class="state" title="에러">에러</span></a></p><p class="id">SUE014</p></li>
		<li class="cancel"><p><a href="#"><span class="step">부채현황등록</span><span class="state" title="취소">취소</span></a></p><p class="id">SUE015</p></li>
		<li class="none"><p><a href="#"><span class="step">담보내역등록</span></a></p><p class="id">SUE016</p></li>
		<li class="none"><p><a href="#"><span class="step">DTI/DSR</span></a></p><p class="id">SUE017</p></li>
		<li class="none"><p><a href="#"><span class="step">동일인한도</span></a></p><p class="id">SUE018</p></li>
		<li class="none"><p><a href="#"><span class="step">시스템심사</span></a></p><p class="id">SUE019</p></li>
		</ol>
	</section>
    <section id="main-menu" class="main-menu" ng-init="sideCtrl.setWorkArea('M')">
        <div id="menu-accordion" class="menu-accordion" style="margin-top:1px;"></div>
        
        
        <div id="accordion1"></div>
		
		<div id="menu-hide" class="menu-hide" style="margin-top:1px; display: none;">
			<ul class="fa">
				<li class="bw-btn bx-primary-menu-item" data-id="{{item.menuId}}" data-index="{{$index}}" ng-repeat="item in iconMenuList" repeat-side-directive>
					<i class="{{item.icon}}" title="{{item.menuNm}}"></i>
				</li>
			</ul>
		</div>
    </section>
    <section id="main-menu-bottom" class="main-menu-bottom">
        <button type="button" class="bw-btn-fold fix-btm" id="menu_close" ng-click="sideCtrl.menuClose()"><i class="fa i-30 fa-angle-double-left"></i></button>
        <button type="button" class="bw-btn-fold fix-btm" id="menu_open" ng-click="sideCtrl.menuOpen()" style="display: none;"><i class="fa i-30 fa-angle-double-right"></i></button>
    </section>
</nav>