/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for dynamic call class
 * 검증규칙 CSS 
 */
.pf-cd .pf-page-conts { margin: 10px auto; }
.pf-cd th { width: 110px;text-align: left; }
.pf-cd .dynamic-call-class-query-table td { line-height: 29px; }
.pf-cd .dynamic-call-class-query-table td input, .pf-cd .dynamic-call-class-query-table td select { width: 180px; }
.pf-cd .dynamic-call-class-query-table td .calendar { width: 105.5px; }
.pf-cd .dynamic-call-class-query-table tr { margin-bottom: 10px;height: 35px; }
.pf-cd .dynamic-call-class-query-table .padding-th { padding-left: 10px; }
.pf-cd .dev-task-dynamic-call-class-grid { height: 200px; }
.pf-cd .dynamic-call-class-grid { height: 450px; }