/* style.scss */
/* base/bx-reset.scss */
ul, dd, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

label {
  font-weight: normal; }

a:hover {
  text-decoration: none; }

body, h1, h2, h3, h4, h5, h6, a {
  color: #666;
  font-weight: normal;
  margin: 0; }

body {
  font-size: 12px; }

* {
  box-sizing: border-box; }

.x-column-header, .x-grid-cell, .x-panel-header-default {
  font-size: 12px; }

/* common/common.scss */
.copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc; }

.vertical-delemeter {
  display: inline-block;
  margin: 0 7px;
  height: 18px;
  border-left: 1px solid #aaa;
  vertical-align: middle; }

.bx-btn[disabled] {
  background: #eee !important;
  color: #aaa; }

.bx-panel > .bx-panel-body {
  position: relative; }

.nav-refresh-btn {
  float: right;
  width: 16px;
  height: 16px;
  background: url(../images/icon/refresh-16.png) no-repeat left center; }

.panel-refresh-btn {
  float: right;
  width: 16px;
  height: 16px;
  background: url(../bx-ui/images/icon/refresh-white-16.png) no-repeat left center; }

textarea {
  resize: none; }

.bx-page-header {
  padding: 5px 0;
  border-bottom: 1px solid #CCC; }
  .bx-page-header .bx-page-title {
    padding-left: 7px;
    border-left: 6px solid #3B5998;
    font-weight: bold; }

/* module/login.scss */
#bx-login-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #515255; }
  #bx-login-wrap input[type="text"], #bx-login-wrap input[type="password"] {
    width: 100%; }
  #bx-login-wrap td input.institution-name {
    width: 160px; }

.bx-login-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -180px; }

.bx-login-layer-body {
  width: 300px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  background: white; }
  .bx-login-layer-body .title {
    border-bottom: 2px solid #486B91;
    text-align: center; }

.login-form-table {
  margin-top: 12px; }
  .login-form-table tr {
    padding: 5px 0;
    height: 42px; }
  .login-form-table th {
    padding: 0 5px;
    text-align: right; }
  .login-form-table td {
    width: 300px; }
  .login-form-table .language-select-box {
    width: 100px;
    height: 20px;
    font-size: 10px; }
  .login-form-table .institution-search-btn {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url("/images/sprite-469-300.png") -48px 0px;
    vertical-align: middle; }

.bx-login-field {
  width: 100%;
  height: 30px;
  margin: 15px auto; }
  .bx-login-field .remember-id-label {
    line-height: 30px; }
  .bx-login-field .bx-form-item, .bx-login-field .bx-btn {
    height: 30px;
    vertical-align: middle; }
  .bx-login-field .bx-form-item[type=text], .bx-login-field select.bx-form-item {
    width: 100%; }

.bx-operator-filed {
  margin-top: 0; }

.bx-locale-field {
  margin-bottom: 0;
  text-align: right; }
  .bx-locale-field .select-locale {
    margin-left: 10px; }

#bx-login-btn {
  float: right; }

#bx-login-form {
  margin-bottom: 10px; }

.inst-select-layer .bx-layer-body {
  padding: 5px;
  max-height: 200px;
  border: 2px solid #ddd;
  border-radius: 4px; }
.inst-select-layer li.inst-item {
  padding: 1px;
  cursor: pointer; }
  .inst-select-layer li.inst-item:hover {
    background: skyblue;
    color: white; }
  .inst-select-layer li.inst-item.is-selected {
    background: #486B90;
    color: white; }

/* module/button.scss */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0; }

.bx-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 14px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F2F2F2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  /* IE10+ */
  background: linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  /* W3C */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF, endColorstr=#F2F2F2, GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  /*** Button Mouse Down Animation ***/
  /*** Button Size ***/
  /*** button semantic color ***/
  /*** Icon Button ***/
  /*** Link Button ***/ }
  .bx-btn:hover {
    background: #eee; }
  .bx-btn:focus {
    outline: none;
    /* removes the default orange border when focus */ }
  .bx-btn:active {
    -webkit-transform: scale(0.97, 0.97);
    -moz-transform: scale(0.97, 0.97);
    -ms-transform: scale(0.97, 0.97);
    -o-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97); }
  .bx-btn[disabled] {
    opacity: 0.5;
    border-color: gray;
    background: #999 !important;
    cursor: default !important; }
    .bx-btn[disabled]:active {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
  .bx-btn.bx-btn-large {
    font-size: 17px; }
  .bx-btn.bx-btn-small {
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    font-size: 12px; }
  .bx-btn.bx-btn-primary {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #486B91 !important;
    border-color: #486B91;
    background: #5B7EA4;
    background: -moz-linear-gradient(top, #5B7EA4 0%, #486B91 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5B7EA4), color-stop(100%, #486B91));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5B7EA4 0%, #486B91 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5B7EA4 0%, #486B91 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #5B7EA4 0%, #486B91 100%);
    /* IE10+ */
    background: linear-gradient(top, #5B7EA4 0%, #486B91 100%);
    /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5B7EA4, endColorstr=#486B91, GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .bx-btn.bx-btn-success {
    color: #ffffff !important;
    border: 1px solid #829E18 !important;
    background-color: #829E18 !important;
    background: -moz-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADC800), color-stop(100%, #829E18)) !important;
    background: -webkit-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
    background: -o-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
    background: -ms-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
    background: linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADC800', endColorstr='#829E18',GradientType=0 ) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important; }
  .bx-btn.bx-btn-process {
    background: #468847;
    border: 1px solid #ddd;
    color: white; }
    .bx-btn.bx-btn-process:hover {
      background: #386d39; }
  .bx-btn.bx-btn-warning {
    color: #ffffff !important;
    border: 1px solid #AF2D1C !important;
    background: #CB2C1A !important;
    background: -moz-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D96D3A), color-stop(100%, #CB2C1A)) !important;
    background: -webkit-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
    background: -o-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
    background: -ms-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
    background: linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D96D3A', endColorstr='#CB2C1A',GradientType=0 ) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important; }
  .bx-btn.bx-btn-cancel {
    background: #bbb;
    border: 1px solid #ddd;
    color: white; }
    .bx-btn.bx-btn-cancel:hover {
      background: #969696; }
  .bx-btn.bx-btn-icon > img {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    vertical-align: top; }
  .bx-btn.bx-btn-link {
    border: none;
    color: #274483;
    font-weight: bold;
    padding: 0;
    height: auto;
    background: none;
    cursor: pointer; }
    .bx-btn.bx-btn-link:hover {
      text-decoration: underline;
      background: none; }
    .bx-btn.bx-btn-link:active {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }

.expand-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  width: 13px;
  height: 13px;
  background-image: url(../images/icon/plus-13-gray.png); }
  .expand-btn.white-icon {
    background-image: url(../images/icon/plus-13-white.png); }
  .expand-btn.is-expanded {
    background-image: url(../images/icon/minus-13-gray.png); }
  .expand-btn.is-expanded.white-icon {
    background-image: url(../images/icon/minus-13-white.png); }

.grid-cell-btn {
  display: inline-block; }
  .grid-cell-btn.view-detail-btn {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(../images/icon/zoom-16.png) no-repeat left center; }
  .grid-cell-btn.label-btn {
    cursor: pointer;
    padding: 0 5px;
    height: 17px;
    border-radius: 20%;
    background: #233E77;
    color: white;
    vertical-align: top;
    text-align: center;
    line-height: 17px;
    font-size: 9px;
    font-weight: bold; }

.bx-btn-group {
  text-align: right; }

/*# sourceMappingURL=bx-login-style.css.map */
