

	<section class='main-contents add-tree' id='SAMPLE11' sample11-wrap-directive>
		<section>
			<h2 class="bw-tt">
				<span>sample 11</span>
			</h2>
			<section   class="layout-wrap">
				<section  id="secLeftTree"   class="bw-tree-wrap layout col1">
					<section   >
						<section class=" bw-tool add-bd2-t" >
						<div class="f-l">
						</div>
						</section>
						<section  id="leftTreeArea"></section>
					</section>
					<section class="unit-tree-wrap a-left" style="height:250px; overflow-y:auto;">
						<div class="popup-dept-tree"  id='staffTree'></div>
					</section>
				</section>
				<button type="button" class="bw-tree-show-btn" style="display: none;"  id="btnLeftShow" ng-click="SAC034Ctrl.btnLeftShow_Onclick()" title=""><i class="fa fa-angle-right"></i></button>

				<section   class="bw-inner-contents layout col2">
					<section id="secTabArea"></section>
					<section  id="secContentsArea"></section>
		</section>
	</section>
</section>
</section>
