
	<section  id='SCU906' ng-init="SCU906Ctrl.init()">
		<div   id="searchStaff"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SCU906%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t add-mg-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#baseAtrbt%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn b-ctr"  id="btnBasicToggle" ng-click="SCU906Ctrl.btnBasicToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
					</div>
					</section>
				<section  id="arrOpenScreenGenerationArea"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_arrOpenScreenGenerationArea" >
					</tr>
				</table>
			</section>
			<section   class="w-100">
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#adtnlAtrbt%}"></h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn b-ctr"  id="btnXtnToggle" ng-click="SCU906Ctrl.btnXtnToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
				</div>
				</section>
				<section  id="arrXtnArea"  class="w-100">
					<section  id="arrXtnBaseArea"   >
					</section>
					<div id="SCU906_mobileNbrList" >
						<section class="bw-grid"></section>
					</div>
					<div id="SCU906_acctNbrList" >
						<section class="bw-grid"></section>
					</div>
				</section>
			</section>
		</div>
		<div   class="modal-footer btn-wrap add-mg">
			<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SCU906Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#confirm%}"/></button>
		</div>
	</div>
</section>