.select-calculation-compose-template-popup span {
    float: initial;
}

.select-calculation-compose-template-popup .pf-cal-compose-template-search-grid {
	height: 220px;
}

.select-calculation-compose-template-popup input {
    width: 100% !important;
}