<div class="grid-list-item on">
    <table>
        <tr>
            <td>{{bxMsg 'app-deploy.app'}}</td>
            <td>{{bxmAppId}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.description'}}</td>
            <td>{{bxmAppDesc}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.reference-app'}}</td>
            <td>{{refBxmAppIdList}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.log-level'}}</td>
            <td>{{bxmAppLogLv}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.shared-yn'}}</td>
            <td>{{bxmAppSharedYn}}</td>
        </tr>
    </table>
</div>
