
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SCU110_custGradeCtrl.gradeListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab7Excel" ng-click="SCU110_custGradeCtrl.btnTab7Excel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i><span class="btn_txt">엑셀 다운로드</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab7Toggle" ng-click="SCU110_custGradeCtrl.btnTab7Toggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="custGradeSrchRslt"  >
				<div id="SCU110_custGrade_gradeList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>
		<section   >
			<section class=" bw-tool add-bd2-t add-mg-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#chngHst%}"></h3>
				<h3 class="bw-desc">({{SCU110_custGradeCtrl.gradeHistCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab7HistExcel" ng-click="SCU110_custGradeCtrl.btnTab7HistExcel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i><span class="btn_txt">엑셀 다운로드</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab7HistToggle" ng-click="SCU110_custGradeCtrl.btnTab7HistToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="custGradeHstSrchRslt"  >
				<div id="SCU110_custGrade_gradeHist" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>