<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <display-name> serviceEndpoint </display-name>
  <context-param>
        <param-name>config-location</param-name>
        <param-value>bxm-management-instance.xml</param-value>
  </context-param>
  <listener>
        <listener-class>bxm.service.endpoint.http.HttpServiceEndpointContextListener</listener-class>
  </listener>

  <servlet>
      <servlet-name>bxmHttpSerializedServiceEndpoint</servlet-name>
      <servlet-class>pf.bxm.endpoint.PfSerializedHttpServiceEndpoint</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
      <servlet-name>bxmHttpJsonServiceEndpoint</servlet-name>
      <servlet-class>pf.bxm.endpoint.PfJsonDataHttpServiceEndpoint</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>bxmHttpSerializedServiceEndpoint</servlet-name>
    <url-pattern>/serialized/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bxmHttpJsonServiceEndpoint</servlet-name>
    <url-pattern>/json/*</url-pattern>
  </servlet-mapping>

  <resource-ref>
     <description>DB Connection</description>
     <res-ref-name>jdbc/pfactoryDB</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref> 

</web-app>