<ul class="clr parameter-items">
    <li class="w-40">
        <div class="input-wrap clr">
            <input type="text" class="bw-input add-mg-l w-90 parameter-key-input" />
        </div>
    </li>
    <li class="w-40">
        <div class="input-wrap clr">
            <input type="text" class="bw-input add-mg-l w-90 parameter-value-input" />
        </div>
    </li>
    <li class="w-20">
        <button type="button" class="bw-btn add-parameter-btn">
            <i class="bw-icon i-25 i-func-add"></i>
        </button>
        <button type="button" class="bw-btn del-parameter-btn">
            <i class="bw-icon i-25 i-func-del"></i>
        </button>
    </li>
</ul>
