.information-view-grid-wrapper {
	height: 500px;
}

.information-view-grid-wrapper .source-grid-area {
	float: left;
	width: 38%;
	height: 100%;
}

.information-view-grid-wrapper .attribute-grid-header {
	margin-top: 4%;
}

.information-view-grid-wrapper .view-attribute-grid-area {
	float: left;
	width: 58%;
	height: 100%;
}

.source-grid-area .condition-grid {
	height: 43%;
}

.source-grid-area .attribute-grid {
	height: 43%;
}

.grid-header {
	height: 5%;
	position: relative;
}

.grid-header .search-box {
	float: right;
	width: 60%;
}

.grid-header .bw-btn.reset-btn {
	position: absolute;
	right: 0px;
	top: -5px;
}

.grid-header .bw-btn.search-btn {
	position: absolute;
	right: 25px;
	top: -5px;
}

.grid-header .bw-btn.search-btn .i-search {
	width: 27px;
	height: 27px;
}

.view-attribute-grid-area .view-attribute-grid {
	height: 95%;
}

.information-view-grid-wrapper .button-area {
	float: left;
	width: 4%;
	height: 100%;
}

.button-area .button-wrapper {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-area .select-btn  {
	margin-top: 25px;
	cursor: pointer;
	background: white url(/images/bx-ui/arrow-btn-right.png) no-repeat;
	background-size: 15px;
	width: 15px;
	height: 15px;
}