
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SCU401_custAcctCtrl.mainArrListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnAcctMoveAcct" ng-click="SCU401_custAcctCtrl.btnAcctMoveAcct_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#acctDtlSrch%}"/></button>
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnAcctMoveJunal" ng-click="SCU401_custAcctCtrl.btnAcctMoveJunal_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#txHistSrch%}"/></button>
				<button type="button" class="bw-btn b-ctr"  id="btnAcctToggle" ng-click="SCU401_custAcctCtrl.btnAcctToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section> 
			<section  id="acctSrchRslt"  >
				<div id="SCU401_custAcct_mainArrList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>