/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for Consistency check
 * 정합성체크 CSS 
 */
/*정합성체크상태 멀티콤보*/
.pf-cnstncy-chk .ms-options-wrap button { width: 280px;font-size:12px;font-weight:normal;padding-top: 1px; }
.pf-cnstncy-chk .ms-options-wrap .ms-options { width: 351px; }

.pf-cnstncy-chk .pf-page-conts { margin: 10px auto; }
.pf-cnstncy-chk .pf-cnstncy-chk-grid { height: 450px; }
.new-execution-popup-test .bx-info-table-wrap { padding-top: 0px; }
.new-execution-popup-test .task-grid { height: 100px;margin-bottom: 10px; }
.new-execution-popup-test .approval-grid { height: 150px; }
.new-execution-popup-test .bx-category-header { margin-bottom: 10px; }
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-detail-form { margin-bottom: 10px; }
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-detail-table { margin-bottom: 5px;margin-top: 10px; }
.pf-cnstncy-chk-detail-tpl .button-footer { text-align: right; }
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-info { height: 180px;margin-bottom: 10px; }
/* 정합성체크시스템 그리드 */
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-info .pf-cnstncy-chk-target-info .pf-cnstncy-chk-target-sys-grid {
	height: 120px;
   margin-bottom: 5px; }
/* 정합성체크대상 그리드 */
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-target-object-detail-grid { height: 120px;margin-bottom: 5px; }
.pf-cnstncy-chk-detail-tpl .pf-cnstncy-chk-detail-table input { width:166px; }
.pf-cnstncy-chk-result-list-wrap { margin-top: 10px;margin-bottom: 10px;padding: 10px; }
.pf-cnstncy-chk-result-list-wrap .pf-cnstncy-chk-result-grid { height: 130px; }
.pf-cnstncy-chk-result-info-wrap .pf-cnstncy-chk-result-detail-grid { height: 200px; }
.pf-cnstncy-chk-result-info-wrap { padding: 10px; }
.pf-cnstncy-chk-result-info-wrap .cnstncy-chk-info-detail { height: 380px; }
.pf-cnstncy-chk-result-info-wrap .recnstncy-chk-btn { float: right;margin-right: -51px; }
.pf-cnstncy-chk-detail-header { height: 63px; }
.pf-cnstncy-chk-detail-header .td-width { width: 106px; }
.pf-cnstncy-chk-detail-header button { float:right; }
.pd-info-change-grid-wrap .pd-info-change-grid { height: 420px; }
.pd-info-change-detail-wrap { height: 520px;overflow: auto; }
/*th width*/
.pf-cnstncy-chk th { width:150px; }
/*input box width 조절, type=text만 적용함. 멀티콤보css처리이상*/
.pf-cnstncy-chk .pf-cnstncy-chk-form td input[type=text] { width: 351px; }
/*일자 width*/
.pf-cnstncy-chk .pf-cnstncy-chk-form td .calendar { width: 168px !important; }

/*Select options 커스토마이징*/
.ms-options-wrap > button:focus, .ms-options-wrap > button { height:20px; }
/*화살표*/
.ms-options-wrap > button:after {
    top:5px;
    padding-bottom:10px;
    padding-left:20px;
    margin-top:-4px;
    border:2px solid rgba(0, 0, 0, 0);
    background: white url(/images/bx-ui/arrow-btm-pf.png) no-repeat;
    background-size: 20px;
}
/*탭간격조절*/
.nav-tabs .pfui-tab-item-text { margin-right:-1px;width:150px; }
/*배포승인정보, 배포대상시스템 아이콘*/
.pf-approval-info .grid-extra-header .grid-extra-header .bw-btn, .pf-cnstncy-chk-target-info .grid-extra-header .bw-btn {
    margin-top : -2px;
    margin-right: -3px;
}
/*배포결과*/
.pf-cnstncy-chk-result .pf-cnstncy-chk-result-list-wrap .grid-extra-header,
.pf-cnstncy-chk-result-info-wrap  .grid-extra-header {
    font-size: 13px;
    font-weight: 600;
    color: #515151;
}
.pd-info-change-grid .x-tree-node-text { margin-top: 24%; }
.pd-info-change-grid .x-tree-icon-parent { width:0px;background-image: none; }
.pd-info-change-grid .x-tree-panel .x-grid-row .x-grid-cell-inner img {
    float: left;
    margin-top:8px;
}
.pd-info-change-grid .x-tree-elbow-plus {
	cursor: pointer !important;
    height: 18px !important;
  	width: 16px !important;
  	margin-top: 10px;
}
.pd-info-change-grid .x-tree-expander { margin-left:0px; }
.pd-info-change-grid .x-tree-elbow-line, .pd-info-change-grid .x-tree-elbow-empty {
	margin-left:17px;
}
.pd-info-change-grid .x-grid-td { border-bottom-width: 1px !important; }
.pd-info-change-grid .x-tree-icon-leaf { background-image : none; }
.pd-info-change-grid .x-grid-cell-inner { padding:3px 6px 4px 6px !important; }
.pd-info-change-grid .x-tree-icon, .x-tree-elbow-img, .x-tree-checkbox {
	margin-top: 0px;
	margin-bottom: -10px;
}
.x-grid-row-alt .x-grid-td { background-color: #fafafa; }
.pd-info-change-grid .x-tree-icon-leaf { display:none; }
.pd-info-change-grid .x-grid-row-before-focused .x-grid-td {
    border-bottom-style: dotted;
    border-bottom-color: #464646;
    border-bottom-width: 1px;
}
.pd-info-change-grid .x-grid-with-row-lines .x-grid-td {
    border-bottom-width: 1px;
}
/* 정합성체크대상시스템 팝업 그리드 */
.add-target-sys-popup .add-target-sys-popup-grid {
    height: 230px;
}
.pf-cp-base-rel-service-add-popup .service-grid {
	height: 250px;
}
.pf-ptc-publish-target-table-popup .publish-target-table-grid {
	height: 420px;
}
/* 정합성체크 상세결과 팝업 그리드 */
.pf-cnstncy-chk-obj-rslt-dtl-popup .cnstncy-chk-obj-rslt-dtl-popup-grid {
	height: 510px;
}
.loading-dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10;
}
.loading-dim-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	color: white;
	font-size: 80px;
}