<div class="modal-wrap">
    {{#if nodeNm}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.node-edit'}}</h2>{{/if}}
    {{#unless nodeNm}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.node-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable bxm-form-wrap">
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.node-nm'}}</label>
                    {{#if nodeNm}}
                    <input type="text" class="bw-input w-60" data-form-param="nodeNm" value="{{nodeNm}}" readonly />
                    {{/if}}
                    {{#unless nodeNm}}
                    <input type="text" class="bw-input w-60" data-form-param="nodeNm" />
                    {{/unless}}
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.max-execution-count'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="maxExecCnt" value="{{maxExecCnt}}" />
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
