<div class="modal-wrap">
    {{#if sysId}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.system-edit'}}</h2>{{/if}}
    {{#unless sysId}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.system-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable bxm-form-wrap">
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.higher-system-id'}}</label>
                    {{#if sysId}}
                    <input type="text" class="bw-input w-60" data-form-param="parentSysId" value="{{parentSysId}}" readonly/>
                    {{/if}}
                    {{#unless sysId}}
                    <select class="bw-input ipt-select w-60" data-form-param="parentSysId"></select>
                    {{/unless}}
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.system-id'}}</label>
                    {{#if sysId}}
                    <input type="text" class="bw-input w-60" data-form-param="sysId" value="{{sysId}}" readonly />
                    {{/if}}
                    {{#unless sysId}}
                    <input type="text" class="bw-input w-60" data-form-param="sysId" />
                    {{/unless}}
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.system-nm'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="sysNm" value="{{sysNm}}" />
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.system-desc'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="sysDesc" value="{{sysDesc}}" />
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
