/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for product relation
 * 상품관계 CSS 
 */
.pf-cp .pf-page-conts {
    margin: 10px auto; }
.pf-cp th {
    width: 110px;
    text-align: left; }
.pf-cp .product-relation-query-table td {
    line-height: 29px; }
.pf-cp .product-relation-query-table td input, .pf-cp .product-relation-query-table td select {
    width: 180px; }
.pf-cp .product-relation-query-table td .calendar {
    width: 105.5px; }
.pf-cp .product-relation-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-cp .product-relation-query-table .padding-th {
    padding-left: 10px; }
.pf-cp .dev-task-product-relation-grid {
    height: 200px; }
.pf-cp .product-relation-grid {
    height: 450px; }