/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for publish target system
 * 배포대상시스템 CSS
 */
.pf-pts .pf-conts {
    width: 940px; }
.pf-pts .pf-pts-info .publish-target-info-table th.publish-system-name-td {
    padding-left: 10px; }
.pf-pts .pf-pts-info .publish-target-info-table td input {
    width: 100%; }
.pf-pts .pf-pts-info .publish-target-info-table td textarea {
    max-width: 898px; }
.pf-pts .pf-pts-info .grid-box .grid {
    height: 250px; }
.pf-pts .pf-pts-info .grid-box .manage-environment-info {
    float: left;
    width: 440px; }
.pf-pts .pf-pts-info .grid-box .publish-target-info-grids {
    margin-bottom: 10px; }
.pf-pts .pf-pts-info .grid-box .publish-target-table-info {
    float: right;
    width: 440px; }
.pf-pts .pf-pts-info .grid-box .publish-target-table-info .pf-panel-header .publish-target-table-info-title {
    float: left; }
.pf-pts .pf-pts-info .grid-box .publish-target-table-info .pf-panel-header .publish-target-table-info-btn-box {
    height: 30px;
    line-height: 30px;
    float: right; }
.pf-pts .btn-box {
    margin-top: 10px;
    text-align: right; }
.pf-pts .pf-pts-tree-search {
    margin-bottom: 5px; }
.pf-pts .pf-pts-tree-search input {
    padding: 0.3em 0.5em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    height: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 0px;
}
/*트리영역 조회/신규 아이콘*/
.pf-pts .pf-pts-tree-search button i.i-func-add {
    width:20px;
    height:20px;
}

.pf-ptc-publish-target-table-popup .publish-target-table-grid {
    height: 420px; }


.pf-ptc-system-environment-info-popup .pf-ptc-environment-info-form th {
    width: 150px;
}

.pf-ptc-system-environment-info-popup .pf-ptc-environment-info-form .bx-form-item{
     width: 265px;
}


/*패널부분과 그리드영역부분*/
.grid-box {
    margin-top:20px;
}