<h2 class="bw-tt">
    거래 파라미터 관리
    <p class="desc">온라인 거래에서 발생된 이미지,업무,에러,로그내용을 조회</p>
</h2>




<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn alert-reset" title="검색조건 초기화"><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
        <button type="button" class="bw-btn" title="새로고침"><i class="bw-icon i-30 i-func-refresh"></i></button>
        <button type="button" class="bw-btn" title="검색"><i class="bw-icon i-30 i-func-search"></i><span class="btn_txt">조회</span></button>
        <button type="button" class="bw-btn b-ctr"><i class="fas fa-angle-double-up"></i></button>
    </div>
</section>


<div class="bw-tab add-mg-t">
    <strong>2 Grid Example
        <span></span>
    </strong>
</div>




<div class="module-wrap add-bd2-t add-bd">
    <div class="module w-47" style="margin-right:2.8%;">
        <div id="grid1"></div>
        <div id="pager1"></div>
    </div>


    <div class="module w-47" style="margin-left:2.8%;">
        <div id="grid2"></div>
        <div id="pager2"></div>
    </div>
</div>




<div class="btn-wrap add-mg"></div>


