/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for Classification
 * 분류체계 CSS 
 */
.pf-cl .pf-cl-rel-form th { width: 150px; }
.pf-cl .pf-cl-rel-form input { width: 300px; }
.pf-cl .pf-cl-str-grid { height: 360px; }
.pf-cl .pf-prod-group-grid { height: 200px; }
.pf-cl .pf-cnd-tmplt-grid { height: 200px; }
.pf-cl .grid-extra-header .bw-btn { float: right; }
.pf-cl .prod-group-grid-header { margin-top: 15px; }
.classification-structure-base-management-popup .bx-info-table th, .classification-management-popup .bx-info-table th {
    width: 160px;
}
.classification-structure-base-management-popup .bx-info-table select, .classification-management-popup .bx-info-table select{
    width: 145px;
}
.classification-structure-base-management-popup .bx-info-table input,  .classification-management-popup .bx-info-table input {
    width: 350px;
}
.classification-structure-base-management-popup .bx-info-table .calendar,  .classification-management-popup .bx-info-table .calendar {
    width: 145px;
}
.pf-cl .pf-cl-rel-form th {
    width: 160px;
}
/*팝업 이력조회버튼*/
.pf-cl-condition-view-history-btn { float:right; }
.pf-cp-base-rel-service-add-popup .bx-info-table-wrap { width: 430px;padding-top: 0; }
.pf-cp-base-rel-service-add-popup .bx-info-table-wrap td select { width: 200px; }
.pf-cp-base-rel-service-add-popup .bx-info-table-wrap td input { width: 200px; }
.pf-cp-base-rel-service-add-popup .service-grid { height: 250px; }
.pf-cl .pf-tree-search .classification-search-list-wrap {
    display: none;
    position: absolute;
    width: 156px;
    height: 180px;
    border: 1px solid #888d95;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: white;
    padding: 5px 0;
    overflow: auto;
    left: 11px;
    top:35px;
}
.pf-cl .pf-tree-search .classification-search-list-wrap.active { display: block; }