<div class="modal-wrap fix-h">
    {{#if deferredId}}
    <h2 class="bw-tt a-center add-bd2-b clr-mg-b">{{bxMsg 'deferred.editDeferredJob'}}</h2>
    {{/if}}
    {{#unless deferredId}}
    <h2 class="bw-tt a-center add-bd2-b clr-mg-b">{{bxMsg 'deferred.addDeferredJob'}}</h2>
    {{/unless}}
    <div class="bxm-detail-wrap bx-no-draggable large-popup-scrollable">
        <section class="search-wrap clr fix-h">
            <div class="sub-section">
                <h4 class="a-left">{{bxMsg 'batch.base-info'}}</h4>
                <ul class="col-3 clr">
                    <li>
                        <div class="input-wrap asterisk clr">
                            {{#if deferredId}}
                            <label class="bw-label w-40">{{bxMsg 'deferred.deferredId'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="deferredId" readonly/>
                            {{/if}}
                            {{#unless deferredId}}
                            <label class="bw-label w-40">{{bxMsg 'deferred.deferredId'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="deferredId"/>
                            {{/unless}}
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.deferredName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="deferredNm"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'centerCut.useYn'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="useYn">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="sub-section">
                <h4 class="a-left">{{bxMsg 'deferred.executionInfo'}}</h4>
                <ul class="col-3 clr">
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.transactionCode'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="trxCd"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.applicationId'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="bxmAppId"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.serviceName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="svcNm"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.operationName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="opNm"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.deferredStartType'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="startTypeCd"></select>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.serviceProcessType'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="svcProcCd"></select>
                        </div>
                    </li>
                    <!-- 17-09-28 -->
<!--                     <li> -->
<!--                         <div class="input-wrap asterisk clr"> -->
<!--                             <label class="bw-label w-40">{{bxMsg 'deferred.executionCycleSec'}}</label> -->
<!--                             <input type="text" class="bw-input w-60 validate-number" data-form-param="execIntervalSec"/> -->
<!--                         </div> -->
<!--                     </li> -->
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.transactionType'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="deferredTranCd"></select>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.targetTableName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="targetTableNm"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.targetColumnName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="targetColumnNm"/>
                        </div>
                    </li>
                    <li>
	                    <div class="input-wrap asterisk clr">
	                        <label class="bw-label w-40">{{bxMsg 'deferred.targetStdDtNm'}}</label>
	                        <input type="text" class="bw-input w-60" data-form-param="targetStdDtNm" />
	                    </div>
                	</li>
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.dailyTableYn'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="dayTableYn">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </li>
                    <li>
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">{{bxMsg 'deferred.tableReaderBeanNm'}}</label>
                        <input type="text" class="bw-input w-60" data-form-param="tableReaderBeanNm"/>
                    </div>
                	</li>
                    <!-- 17-09-28 -->
<!--                     <li> -->
<!--                         <div class="input-wrap clr"> -->
<!--                             <label class="bw-label w-40">{{bxMsg 'deferred.delayCycleSec'}}</label> -->
<!--                             <input type="text" class="bw-input w-60" data-form-param="delayIntervalSec"/> -->
<!--                         </div> -->
<!--                     </li> -->
                </ul>
            </div>

 		<div class="sub-section">
                <h4 class="a-left">{{bxMsg 'deferred.numberingConfig'}}</h4>
                <ul class="col-3 clr">
                    <li>
                    	<div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.tableNumberingYn'}}</label>
                            <select class="bw-input ipt-select w-60 table-numbering-use" data-form-param="tableNumberingUseYn">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.tableNumberingBxmAppId'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="tableNumberingBxmAppId"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.tableNumberingBeanName'}}</label>
                            <input type="text" class="bw-input w-60" data-form-param="tableNumberingBeanNm"/>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="sub-section">
                <h4 class="a-left">{{bxMsg 'deferred.errorReprocessSetting'}}</h4>
                <ul class="clr">
                    <li class="w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.errorTerminateYn'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="errStopYn">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </li>
                    <li class="w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.errorSkipYn'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="errSkipYn">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </li>
                    <li class="w-33">
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.errorReprocessCount'}}</label>
                            <input type="text" class="bw-input w-60 validate-number" data-form-param="errReprocCnt"/>
                        </div>
                    </li>
                    <li class="w-66">
                    <div class="input-wrap clr">
                        <label class="bw-label w-22">{{bxMsg 'deferred.reprocessErrCode'}}</label>
                        <input type="text" class="bw-input w-67" data-form-param="reprocAbleErrCd" disabled/>
                        <button type="button" class="bw-btn bw-btn-txt w-10 error-code-select">{{bxMsg 'common.select'}}</button>
                    </div>
                </li>
                </ul>
            </div>

            <div class="sub-section">
                <h4 class="a-left">{{bxMsg 'deferred.infoPerNode'}}</h4>
                <ul class="col-3 clr">
                	<li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.parallelExecutionCount'}}</label>
                            <input type="text" class="bw-input w-60 validate-number" data-form-param="parllExecCnt"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.executionPerNodeType'}}</label>
                            <select class="bw-input ipt-select w-60" data-form-param="nodeExecYn"></select>
                        </div>
                    </li>
                    <li>
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.fetchCount'}}</label>
                            <input type="text" class="bw-input w-60 validate-number" data-form-param="fetchCnt"/>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sub-section">
                <h4 class="a-left">{{bxMsg 'deferred.managerInfo'}}</h4>
                <ul class="col-3 clr">
                    <li>
                        <div class="input-wrap clr">
                            <label class="bw-label w-40">{{bxMsg 'deferred.managerId'}}
                            <button type="button" class="bw-btn manager-search-btn" title="{{bxMsg 'deferred.manager-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
                            </label>
                            <input type="text" class="bw-input w-60" data-form-param="modifyUserId" readonly/>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>