
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnScrtyIntToggle" ng-click="SCL140_tabPrfCntntCtrl.btnScrtyIntToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="grpScrtyInt"  >
				<div id="SCL140_tabPrfCntnt_grdScrtyInt" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#prfClaimCntnt%}"></h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnExtReset" ng-click="SCL140_tabPrfCntntCtrl.btnExtReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
				<button type="button" class="bw-btn"  id="btnExtPlus" ng-click="SCL140_tabPrfCntntCtrl.btnExtPlus_Onclick()" title=""><i class="bw-icon i-30 i-func-add"></i><span class="btn_txt">추가</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnExtToggle" ng-click="SCL140_tabPrfCntntCtrl.btnExtToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
		<section  id="grpScrtyIntCntnt"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_grpScrtyIntCntnt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#prfClaimDscd%}" data-i18n-title="{%=cbb_items.AT#prfClaimDscd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="prfClaimDscd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#prfClaimBaseDt%}" data-i18n-title="{%=cbb_items.AT#prfClaimBaseDt%}"></label>
						<div id="prfClaimBaseDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#crncyCd%}" data-i18n-title="{%=cbb_items.AT#crncyCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="crncyCd"></select>
					</div>
				</td>
			</tr>
			<tr  name="tr_grpScrtyIntCntnt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#crdtrAmt%}" data-i18n-title="{%=cbb_items.AT#crdtrAmt%}"></label>
						<input type="text"  dec='0' class="bw-input "   data-form-param="crdtrAmt"  common-numeric-only-directive ng-model='crdtrAmt'/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#crdtrNm%}" data-i18n-title="{%=cbb_items.AT#crdtrNm%}"></label>
						<input type="text"  maxlength='50' dec='0' class="bw-input a-left"   data-form-param="crdtrNm" />
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>