<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'trx-setting.all-trx-setting'}}
    <p class="desc"> {{bxMsg 'trx-setting.all-trx-setting-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-all-trx-control-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap all-trx-control-detail bx-loding-wrap">
    <ul class="col-2 clr">
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-53">{{bxMsg 'trx-setting.all-trx-control-yn'}}</label>
                <input type="text" class="bw-input ipt-select w-47" data-form-param="allTrxCtrlYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-53">{{bxMsg 'trx-setting.changed-trx-control-yn'}}</label>
                <input type="text" class="bw-input ipt-select w-47" data-form-param="dtchgTrxCtrlYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-53">{{bxMsg 'trx-setting.img-log-yn'}}</label>
                <input type="text" class="bw-input ipt-select w-47" data-form-param="imgLogYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-53">{{bxMsg 'trx-setting.dw-log-yn'}}</label>
                <input type="text" class="bw-input ipt-select w-47" data-form-param="dwLogYn" readonly/>
            </div>
        </li>
    </ul>
</section>