<div class="modal-wrap fix-h">
	{{#if cndtUid}}<h2 class="bw-tt a-center">{{bxMsg 'error-setting.error-event-condition-edit'}}</h2>{{/if}}
	{{#unless cndtUid}}<h2 class="bw-tt a-center">{{bxMsg 'error-setting.error-event-condition-add'}}</h2>{{/unless}}
<div class="error-event-form bx-no-draggable">
	<section class="sub-section">
		<h4>{{bxMsg 'error-setting.basic-information'}}</h4>
		<ul class="bw-form fix-center">
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.condition-name'}}</label>
				<input type="text" class="bw-input w-55" data-form-param="cndtNm">
				<input type="hidden" data-form-param="cndtUid">
			</li>
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.use-yn'}}</label>
				<select class="bw-input ipt-select w-55" data-form-param="useYn">
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</li>
		</ul>
	</section>
	<section class="sub-section">
		<h4>{{bxMsg 'error-setting.condition-information'}}</h4>
		<ul class="bw-form fix-center">
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.trading-target'}}</label>
				<select class="bw-input ipt-select w-55" data-form-param="trxTargetCd"></select>
			</li>
			<li class="w-33 trx-cd-wrap">
				<label class="bw-label w-35">
					{{bxMsg 'error-setting.trading-code'}}
					<button type="button" class="bw-btn trx-code-search-btn" title="{{bxMsg 'error-setting.search-trading-target'}}">
						<i class="bw-icon i-20 i-func-search"></i>
					</button>
				</label>
				<input type="text" class="bw-input w-55" data-form-param="trxCd" readonly>
			</li>
		</ul>
		<ul class="bw-form fix-center">
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.error-target'}}</label>
				<select class="bw-input ipt-select w-55" data-form-param="errTargetCd"></select>
			</li>
			<li class="w-33 err-cd-wrap">
				<label class="bw-label w-35">
					{{bxMsg 'error-setting.error-code'}}
					<button type="button" class="bw-btn err-code-search-btn" title="{{bxMsg 'error-setting.search-error-code'}}">
						<i class="bw-icon i-20 i-func-search"></i>
					</button>
				</label>
				<input type="text" class="bw-input w-55" data-form-param="errCd" readonly>
			</li>
			<li class="w-33 sql-err-cd-wrap">
				<label class="bw-label w-35">{{bxMsg 'error-setting.sql-error-code'}}</label>
				<input type="text" class="bw-input w-55" data-form-param="sqlErrCd">
			</li>
		</ul>
		<ul class="bw-form fix-center">
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.standard-period'}}</label>
				<select class="bw-input ipt-select w-55" data-form-param="stdPerdCd"></select>
			</li>
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.standard-count'}}</label>
				<input type="text" class="bw-input w-55" data-form-param="stdCnt">
			</li>
		</ul>
		<ul class="bw-form fix-center">
			<li class="w-33">
				<label class="bw-label w-35">{{bxMsg 'error-setting.control-system'}}</label>
				<select class="bw-input ipt-select w-55" data-form-param="ctrlCd"></select>
			</li>
		</ul>
	</section>
</div>

<div class="btn-wrap add-mg bx-no-draggable">
	<button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
	<button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
</div>
<button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
						  
</div>