._bx-flowchart .nodes use.test-node-selected {stroke-width: 4px !important;}
._bx-flowchart .nodes use.control-node-selected {stroke-width: 2px !important;}
._bx-flowchart .sLinks polyline.link-node-selected {stroke-width: 4px !important;}
._bx-flowchart .idTexts text.overrided-condition {fill: transparent;}
._bx-flowchart .idTexts text.selected-overrided-condition {fill: #686464 !important;}
._bx-flowchart .texts text {pointer-events: none;}
._bx-flowchart .axis line,
._bx-flowchart .axis path {stroke: #aaa; fill: none; opacity: .2}
._bx-flowchart .axis text {fill: #aaa;}



