/* svg icons */
/* <i class="svg icon i-25 i-clear"></i> */

.svg-icon {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    margin:0 auto;
}

.i-clear { background-image: url(../images/svg/clear-1.svg); }
.i-clear-invert { background-image: url(../images/svg/clear-1-invert.svg); }

.i-control-1 { background-image: url(../images/svg/control-1.svg); }
.i-control-1-invert { background-image: url(../images/svg/control-1-invert.svg); }
.i-control-2 { background-image: url(../images/svg/control-2.svg); }
.i-control-2-invert { background-image: url(../images/svg/control-2-invert.svg); }
.i-control-3 { background-image: url(../images/svg/control-3.svg); }
.i-control-3-invert { background-image: url(../images/svg/control-3-invert.svg); }

.i-forced-stop { background-image: url(../images/svg/forced-stop-1.svg); }
.i-forced-stop-invert { background-image: url(../images/svg/forced-stop-1-invert.svg); }

.i-reload-1 { background-image: url(../images/svg/reload-1.svg); }
.i-reload-1-invert { background-image: url(../images/svg/reload-1-invert.svg); }
.i-reload-2 { background-image: url(../images/svg/reload-2.svg); }
.i-reload-2-invert { background-image: url(../images/svg/reload-2-invert.svg); }

.i-restart { background-image: url(../images/svg/restart-1.svg); }
.i-restart-invert { background-image: url(../images/svg/restart-1-invert.svg); }

.i-resume-1 { background-image: url(../images/svg/resume-1.svg); }
.i-resume-1-invert { background-image: url(../images/svg/resume-1-invert.svg); }
.i-resume-2 { background-image: url(../images/svg/resume-2.svg); }
.i-resume-2-invert { background-image: url(../images/svg/resume-2-invert.svg); }

.i-start-1 { background-image: url(../images/svg/start-1.svg); }
.i-start-1-invert { background-image: url(../images/svg/start-1-invert.svg); }

.i-start-2 { background-image: url(../images/svg/start-2.svg); }
.i-start-2-invert { background-image: url(../images/svg/start-2-invert.svg); }

.i-start-all-1 { background-image: url(../images/svg/start-all-1.svg); }
.i-start-all-1-invert { background-image: url(../images/svg/start-all-1-invert.svg); }

.i-start-all-2 { background-image: url(../images/svg/start-all-2.svg); }
.i-start-all-2-invert { background-image: url(../images/svg/start-all-2-invert.svg); }

.i-start-all-3 { background-image: url(../images/svg/start-all-3.svg); }
.i-start-all-3-invert { background-image: url(../images/svg/start-all-3-invert.svg); }

.i-stop-all-4 { background-image: url(../images/svg/stop-all-4.svg); }
.i-stop-all-4-invert { background-image: url(../images/svg/stop-all-4-invert.svg); }

.i-suspend-1 { background-image: url(../images/svg/suspend-1.svg); }
.i-suspend-1-invert { background-image: url(../images/svg/suspend-1-invert.svg); }

.i-suspend-2 { background-image: url(../images/svg/suspend-2.svg); }
.i-suspend-2-invert { background-image: url(../images/svg/suspend-2-invert.svg); }

.i-trash { background-image: url(../images/svg/trash-1.svg); }
.i-trash-invert { background-image: url(../images/svg/trash-1-invert.svg); }
