<div class="modal-wrap fix-h">
    <div class="w-100">
        <h3 class="bw-tt a-center">{{bxMsg 'scheduler.execution-parameter-edit'}}</h3>
        <div class="search-wrap add-bd2-t bx-no-draggable">
            <ul class="clr">
                <li class="w-100">
                    <div class="input-wrap fix-txtarea h-half p-rel clr">
                        <label class="bw-label w-17">{{bxMsg 'scheduler.execution-parameter'}}</label>
                        <div class="txt-wrap2 fix-size w-83 f-r">
                            <textarea class="bw-textarea" data-form-param="execParamCtt"></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-wrap a-center add-mg-t bx-no-draggable">
            <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
            <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
        </div>
    </div>
</div>
