/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for Common code
 * 공통코드 CSS 
 */
.pf-cd .pf-left-nav { width: 350px; }
/*조회버튼 클릭시 input박스 움직임처리(스크롤이생기면)*/
.pf-cd .pf-dp-tree-search .bx-info-table { width:inherit; }
.pf-cd .pf-dp-tree-search .bx-info-table th { padding-right:4px; }
.pf-cd .pf-left-nav .pf-panel-header .refresh-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer; }
.pf-cd .pf-page-conts { left: 350px; }
.pf-cd .pf-cd-tree-select { position: relative;margin-bottom: 10px; }
.pf-cd .pf-cd-tree-select select { width: 100%; }
.pf-cd .pf-cd-tree-select input { width: 100%; }
.pf-cd .pf-dc-search-high-domain-popup button { width: 53px; }
.pf-cd .pf-cd-panel { width: 925px; }
.pf-cd .pf-cd-panel .pf-panel-footer .bw-btn { float: right;margin-left: 10px; }
.pf-cd .pf-cd-rel-form th { width: 150px; }
.pf-cd .pf-cd-rel-form input { width: 300px; }
.pf-cd .pf-cd-grid { height: 360px; }
.cd-align-right { text-align: right; }
.pf-dc-search-high-domain-popup .product-grid { margin-top: 10px;height: 350px; }
.common-code-detail-management-popup .detail-grid { height: 400px; }
.pf-dp-tree-search input { width: 175px; }
.common-code-management-popup .bx-info-table th, .pf-dc-search-high-domain-popup .bx-info-table th { width: 150px; }
.common-code-management-popup .bx-info-table input, .common-code-management-popup .bx-info-table select, .pf-dc-search-high-domain-popup .bx-info-table input, .pf-dc-search-high-domain-popup .bx-info-table select {
    width: 100%; }
.add-cnd-tpl-popup .header-group { float: right; }
.add-cnd-tpl-popup .popup-cnd-tpl-grid { height: 230px; }
.pf-dc-search-high-domain-detail-popup .high-code-detail-grid { height: 330px; }
.pfui-tree-item-selected, .pfui-tree-item-hover { width: 285px; }
/* OHS 2017.03.20 로딩바 추가 */
.loading-dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10;
}
.loading-dim-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	color: white;
	font-size: 80px;
}