/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for project type
 * 개발과제유형 CSS 
 */
.pf-ppt .pf-page-conts {
    margin: 10px auto; }
.pf-ppt th {
    width: 90px;
    text-align: left; }
.pf-ppt .project-type-query-table td {
    line-height: 29px; }
.pf-ppt .project-type-query-table td input {
    width: 351px; }
.pf-ppt .project-type-query-table td .user-id {
    width: 84px; }
.pf-ppt .project-type-query-table td .user-name {
    width: 140px; }
.pf-ppt .project-type-query-table td .calendar {
    width: 171px; }
.pf-ppt .project-type-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-ppt .project-type-query-table .padding-th {
    padding-left: 10px; }
.pf-ppt .middle-grid {
    height: 350px; }

.pf-ppt-project-type-master-form td input {
    width: 100% !important; }
.pf-ppt-project-type-master-form th {
    width: 130px;
    text-align: left; }
.pf-ppt-project-type-master-form .second-th {
    padding-left: 10px; }
.pf-ppt-project-type-master-form select {
    width: 170px; }
.pf-ppt-project-type-master-form h3 {
    margin: 10px 0 5px 0; }
.pf-ppt-project-type-master-form .grid-btn-box {
    margin-top: 5px;
    text-align: right; }
.pf-ppt-project-type-master-form .dev-proposal-register-table input.calendar {
    width: 170px; }
.pf-ppt-project-type-master-form .panel {
    border: none;
    box-shadow: none; }
.pf-ppt-project-type-master-form .pf-ppt-project-type-mng-list-grid {
    margin-top: 10px;
    height: 130px; }

.pf-ppt-activity-List-popup th {
    width: 100px;
    text-align: left; }
.pf-ppt-activity-List-popup input {
    width: 213px !important; }
.pf-ppt-activity-List-popup button {
    margin-left: 5px;
    float: right;
}
.pf-ppt-activity-List-popup .pf-ppt-activity-list-grid {
    margin-top: 10px;
    height: 220px; }