<div class="modal-wrap">
    {{#if cdId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.code-edit'}}({{cdId}})</h2>{{/if}}
    {{#unless cdId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.code-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable commoncode-setting-form">
        <ul class="clr">
            <li class="w-57">
                <div class="input-wrap asterisk clr w-90 f-l">
                    <label class="bw-label w-25">{{bxMsg 'setting.code-nm'}}</label>
                    {{#if cdId}}
                    <input type="text" class="bw-input bw-center-input w-50" value="{{cdNm}}"  readonly />
                    <input type="hidden" class="bw-input w-50" data-form-param="cdId" />
                    {{/if}}
                    {{#unless cdId}}
                    <select class="bw-input ipt-select w-50" data-form-param="cdId"></select>
                    {{/unless}}
                    <input type="text" class="bw-input w-25 a-center" value="{{cdId}}" readonly />
                </div>
                {{#unless cdId}}
                <button type="button" class="bw-btn add-common-topcode-btn"><i class="bw-icon i-25 i-func-add"></i></button>
                {{/unless}}
            </li>
            <li class="w-33 f-r" style="margin-right: 1%">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.language-code'}}</label>
                    {{#if cdId}}
                    <input type="text" class="bw-input w-60" data-form-param="langCd" data-code="BXMAD0003" readonly />
                    {{/if}}
                    {{#unless cdId}}
                    <select class="bw-input ipt-select w-60" data-form-param="langCd"></select>
                    {{/unless}}
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-33">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.code-val'}}</label>
                    {{#if cdId}}
                    <input type="text" class="bw-input w-60" data-form-param="cdVal" readonly />
                    {{/if}}
                    {{#unless cdId}}
                    <input type="text" class="bw-input w-60" data-form-param="cdVal" />
                    {{/unless}}
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-43">{{bxMsg 'setting.code-val-nm'}}</label>
                    <input type="text" class="bw-input w-57" data-form-param="cdValNm" />
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.use-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="useYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-66">
                <div class="input-wrap clr">
                    <label class="bw-label w-20">{{bxMsg 'setting.code-desc'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="cdValDesc" />
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.serial-num'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="seq" />
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-commoncode-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
