
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnCddAdtnlAtrbtReset" ng-click="SCU202_cddAdtnlAtrbtCtrl.btnCddAdtnlAtrbtReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnCddAdtnlAtrbtToggle" ng-click="SCU202_cddAdtnlAtrbtCtrl.btnCddAdtnlAtrbtToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="cddAdtnlAtrbtTab"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_cddAdtnlAtrbtTab" >
			</tr>
		</table>
	</section>