@charset "utf-8";
@import url('noto.css');
@import url('exo.css');
/************************************************************************************************************************************
 	CSS Guide -  2016.05.11 김지현  
 	LAST UPDATE - 
 ************************************************************************************************************************************/
/*COMMON*/
body {margin:0;padding:0;font:12px/1 'Noto Sans KR',sans-serif;color:#000;-webkit-text-size-adjust:100%;background:#eee;overflow:hidden;letter-spacing:-.3px;}
html,body {height:100%;width:100%;}
h1,h2,input,ul,dd,p {padding:0;margin:0;}
table {border-spacing:0;border-collapse:collapse;}
img {border:0;}
li {list-style:none;}
button,.ui-widget button {border:0;padding:0;margin:0;cursor:pointer;text-align:center;background:none;font-family:'Noto Sans KR',sans-serif;}
a,a:link,a:visited,a:active {text-decoration:none;}
a {color:#757575;}
* {box-sizing:border-box;}
.bw-tool {box-sizing:content-box;}
.ui-widget,select.bw-input.ipt-select,.bw-form .bw-input,textarea {font-family:'Noto Sans KR',sans-serif !important;}
.clr:after {display:block;clear:both;content:"";}

/*WIDTH*/
.w-10 {width:10% !important;}
.w-13 {width:13% !important;}
.w-15 {width:15% !important;}
.w-16 {width:16% !important;}
.w-17 {width:17% !important;}
.w-18 {width:18% !important;}
.w-20 {width:20% !important;}
.w-25 {width:25% !important;}
.w-26 {width:26% !important;}
.w-30 {width:30% !important;}
.w-33 {width:33% !important;}
.w-34 {width:34% !important;}
.w-35 {width:35% !important;}
.w-40 {width:40% !important;}
.w-45 {width:45% !important;}
.w-47 {width:47% !important;}
.w-50 {width:50% !important;}
.w-53 {width:53% !important;}
.w-55 {width:55% !important;}
.w-60 {width:60% !important;}
.w-65 {width:65% !important;}
.w-66 {width:66% !important;}
.w-70 {width:70% !important;}
.w-75 {width:75% !important;}
.w-80 {width:80% !important;}
.w-83 {width:83% !important;}
.w-85 {width:85% !important;}
.w-87 {width:87% !important;}
.w-90 {width:90% !important;}
.w-100 {width:100% !important;}
.w-auto {width:auto !important;}

/*ICON*/
.bw-icon {display:inline-block;text-align:center;vertical-align:middle;margin:0 auto;background-image:url('../images/icon.png');background-size:400%;}
.hd1 .bw-icon,.hd3 .bw-icon {background-image:url('../images/icon-hd1.png');background-size:400%;}
.i-20 {width:20px;height:20px;}
.i-25 {width:25px;height:25px;}
.i-30 {width:30px;height:30px;}
.i-mng-online {background-position:0 0;}
.i-mng-layout {background-position:0 -100%;}
.i-mng-common {background-position:0 -200%;}
.i-mng-app {background-position:0 -300%;}
.i-setting {background-position:0 -400%;}
.i-mng-screen {background-position:0 -500%;}
.i-mng-interface {background-position:0 -700%;}
.i-mng-centercut {background-position:0 -1600%;}
.i-mng-log {background-position:0 -1700%;}
.i-search {width:20px;height:20px;background-position:0 -600%;}
.i-close {background-position:-100% -600%;}
.i-func-refresh {background-position:-200% 0;}
.bw-btn.on .i-func-refresh {background-position:-300% 0;}
.i-func-xls {background-position:-200% -100%;}
.bw-btn.on .i-func-xls {background-position:-300% -100%;}
.i-func-add {background-position:-200% -200%;}
.bw-btn.on .i-func-add {background-position:-300% -200%;}
.i-func-del {background-position:-200% -300%;}
.bw-btn.on .i-func-del {background-position:-300% -300%;}
.i-func-search {background-position:-200% -400%;}
.bw-btn.on .i-func-search {background-position:-300% -400%;}
.i-func-save {background-position:-200% -500%;}
.bw-btn.on .i-func-save {background-position:-300% -500%;}
.i-cal {background-position:-200% -600%;}
.i-func-trash {background-position:0 -800%;}
.bw-btn.on .i-func-save {background-position:-100% -800%;}
.i-func-edit {background-position:0 -900%;}
.bw-btn.on .i-func-edit {background-position:-100% -900%;}
.i-log-service {background-position:0 -1000%;}
.bw-btn.on .i-log-service {background-position:-100% -1000%;}
.i-log-image {background-position:0 -1100%;}
.bw-btn.on .i-log-image {background-position:-100% -1100%;}
.i-log-task {background-position:0 -1200%;}
.bw-btn.on .i-log-task {background-position:-100% -1200%;}
.i-log-error {background-position:0 -1300%;}
.on .i-log-error {background-position:-100% -1300%;}
.i-func-undo {background-position:0 -1400%;}
.on .i-func-undo {background-position:-100% -1400%;}
.i-func-submit {background-position:0 -1500%;}
.on .i-func-submit {background-position:100% -1500%;}
.i-func-submit2 {background-position:-200% -1400%;}
.on .i-func-submit2 {background-position:-300% -1400%;}
.i-all-cc-begin {background-position:-200% -1600%;}
.on .i-all-cc-begin {background-position:-300% -1600%;}
.i-all-cc-stop {background-position:-200% -1700%;}
.on .i-all-cc-stop {background-position:-300% -1700%;}
.i-online-cc-begin {background-position:0 -1800%;}
.on .i-online-cc-begin {background-position:-100% -1800%;}
.i-online-cc-stop {background-position:0 -1900%;}
.on .i-online-cc-stop {background-position:-100% -1900%;}
.i-func-change {background-position:-200% -1800%;}
.on .i-func-change {background-position:-300% -1800%;}
.i-func-fix {background-position:-200% -1900%;}
.on .i-func-fix {background-position:-300% -1900%;}
.i-cc-start {background-position:-200% -2000%;}
.on .i-cc-start {background-position:-300% -2000%;}
.i-cc-reset {background-position:0 -2000%;}
.on .i-cc-reset {background-position:-100% -2000%;}
.on .i-cal,.bw-btn:hover .i-cal {background-position:-300% -600%;}
.i-dept {background-position:-200% -700%;}
.on .i-dept,.bw-btn:hover .i-dept {background-position:-300% -700%;}
.i-log {background-position:-200% -800%;}
.on .i-log,.bw-btn:hover .i-log {background-position:-300% -800%;}
.i-exit {background-position:-200% -900%;}
.on .i-exit,.bw-btn:hover .i-exit {background-position:-300% -900%;}
.i-theme1 {background-position:-200% -1000%;}
.on .i-theme1,.bw-btn:hover .i-theme1 {background-position:-300% -1000%;}
.i-theme2 {background-position:-200% -1100%;}
.on .i-theme2,.bw-btn:hover .i-theme2 {background-position:-300% -1100%;}
.i-theme3 {background-position:-200% -1200%;}
.on .i-theme3,.bw-btn:hover .i-theme3 {background-position:-300% -1200%;}
.i-func-reset {background-position:-200% -1300%;}
.i-func-open {background-position:-200% -1500%;}
.i-func-close {background-position:-300% -1500%;}
.bw-btn.on .i-func-reset {background-position:-300% -1300%;}
.i-rule {background-position:0 -2100%;}
.on .i-rule,.bw-btn:hover .i-rule,.ui-accordion-header.ui-state-active .i-rule {background-position:-100% -2100%;}
.i-rule2 {background-position:0 -2300%;}
.on .i-rule2,.bw-btn:hover .i-rule2,.ui-accordion-header.ui-state-active .i-rule2 {background-position:-100% -2300%;}
.i-workflow {background-position:-200% -2300%;}
.on .i-workflow,.bw-btn:hover .i-workflow,.ui-accordion-header.ui-state-active .i-workflow {background-position:-300% -2300%;}
.i-message {background-position:-200% -2100%;}
.on .i-message,.bw-btn:hover .i-message,.ui-accordion-header.ui-state-active .i-message {background-position:-300% -2100%;}
.i-system {background-position:0 -2200%;}
.on .i-system,.bw-btn:hover .i-system,.ui-accordion-header.ui-state-active .i-system {background-position:-100% -2200%;}
.i-user {background-position:-200% -2200%;}
.on .i-user,.bw-btn:hover .i-user,.ui-accordion-header.ui-state-active .i-user {background-position:-300% -2200%;}
.on .i-mng-online,.bw-btn:hover .i-mng-online,.ui-accordion-header.ui-state-active .i-mng-online {background-position:-100% 0;}
.on .i-mng-layout,.bw-btn:hover .i-mng-layout,.ui-accordion-header.ui-state-active .i-mng-layout {background-position:-100% -100%;}
.on .i-mng-common,.bw-btn:hover .i-mng-common,.ui-accordion-header.ui-state-active .i-mng-common {background-position:-100% -200%;}
.on .i-mag-app,.bw-btn:hover .i-mng-app,.ui-accordion-header.ui-state-active .i-mng-app {background-position:-100% -300%;}
.on .i-setting,.bw-btn:hover .i-setting,.ui-accordion-header.ui-state-active .i-setting {background-position:-100% -400%;}
.on .i-mng-screen,.bw-btn:hover .i-mng-screen,.ui-accordion-header.ui-state-active .i-mng-screen {background-position:-100% -500%;}
.on .i-mng-interface,.bw-btn:hover .i-mng-interface,.ui-accordion-header.ui-state-active .i-mng-interface {background-position:-100% -700%;}
.on .i-mng-centercut,.bw-btn:hover .i-mng-centercut,.ui-accordion-header.ui-state-active .i-mng-centercut {background-position:-100% -1600%;}
.on .i-mng-log,.bw-btn:hover .i-mng-log,.ui-accordion-header.ui-state-active .i-mng-log {background-position:-100% -1700%;}

/*BUTTON*/
.bw-btn-fold .fa {color:#b5b5b5;font-size:16px;line-height:30px;}
.add-bd {border:1px solid #eee;}
.add-bd-blue {border:1px solid #1B1E6D;border-radius:3px;background:#232896;}
.add-bd2-t {border-top:2px solid #5b6dbf !important;}
.add-bd2-b {border-bottom:2px solid #5b6dbf !important;}




/*SIGN_ICON*/
.bw-sign {display:inline-block;width:14px;height:14px;line-height:14px;font-size:10px;color:white;text-align:center;border-radius:14px;}
.bw-sign.s-no {background:#ff4526;}
.bw-sign.s-yes {background:#1fa67a;}

/*CLR ADD FIX*/
.clr-bd-t {border-top:1px solid transparent !important;}
.clr-bd {border:0 !important;}
.clr-bd-b {border-bottom:0 !important;}
.clr-mg-b {margin-bottom:0 !important;}
.clr-mg {margin:0 !important;}
.clr-mg-r {margin-right:0 !important;}
.clr-mg-l {margin-left:0 !important;}
.clr:after {display:block;clear:both;content:"";}
.clr-pd {padding:0 !important;}
.add-shadow {box-shadow:2px 0px 4px #E0E0E0;}
.add-scroll {height:282px;overflow-y:auto;}
.fix-btm {position:absolute;bottom:0;right:0;}
.fix-center {margin:0 auto !important;}
.fix-input {width:150px !important;}
.fix-txtarea {height:170px;}
.fix-txtarea.h-half {height:95px;}
.fix-txtarea.h-single {height:50px;}
.fix-lh {line-height:35px;display:inline-block;}
.add-bg {background:#F9F9F9 !important;}
.add-mg-t {margin-top:20px !important;}
.add-mg-l {margin-left:20px !important;}
.add-mg-r {margin-right:20px !important;}
.add-mg-b {margin-bottom:20px !important;}
.add-pd-t {padding-top:20px !important;}
.add-pd-l {padding-left:20px !important;}
.add-pd-r {padding-right:20px !important;}
.add-pd-b {padding-bottom:20px !important;}
.add-mg {margin:20px !important;}
.fix-l {position:absolute;left:0;top:0;bottom:0;}
.fix-r {position:absolute;right:0;top:0;bottom:0;}
.f-l {float:left !important;}
.f-r {float:right !important;}
.chr-c-blue {color:#5b6dbf !important;}
.chr-c-orange {color:#ff4526 !important;}
.chr-c-green {color:#1fa67a !important;}
.chr-c-yellow {color:#FF6A13 !important;}
.chr-c-yellow2 {color:#FFCC13 !important;}
.chr-c-black {color:#333333 !important;}
.fix-h {overflow-y:auto !important;}
.fix-h400 {height:400px !important;}
.auto-h {height:auto !important;}
.a-center {text-align:center !important;}
.a-left {text-align:left !important;}
.a-right {text-align:right !important;}
.p-rel {position:relative !important;}
.va-top {vertical-align:top !important;}
.va-middle {vertical-align:middle !important;}

/*DEVIDE*/
.col-2 li {width:50%;}
.col-3 li {width:33.333333%;}
.col-4 li {width:25%;}
.col-5 li {width:20%;}

/*HEADER*/
header {height:50px;position:fixed;top:0;left:0;right:0;z-index:99;text-align:center;}
.header-main {position:relative;padding:7px 10px;height:50px;color: white;background:#4553a8;
background: rgb(66,82,174); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(66,82,174,1) 0%, rgba(101,97,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252ae', endColorstr='#6561cc',GradientType=1 ); /* IE6-9 */
}
header .header-nav {height:50px;background:white;border-bottom:1px solid #3a40bb;color:#333;text-align:left;}
header .header-main .logo {display:inline-block;float:left;font-size:16px;line-height:50px;}
header .header-main .logo a {color:white;font-family:'Exo 2',sans-serif;text-transform:uppercase;font-weight:500;font-size:15px;}
header .header-main .title {display:inline-block;font-size:18px;line-height:26px;font-family:'Exo 2',sans-serif;font-weight:500;}
header .header-main .header-tool {float:right;line-height:26px;}
header .header-main .header-tool .ccb-header-item {display:inline-block;margin:0 10px;vertical-align:middle;}
header .header-main .bw-input {color:white;}
h1.logo {position:absolute;top:0;left:0;bottom:0;width:250px;background:rgba(0,0,0,0.05);color:white;font-weight:300;font-size:18px;line-height:50px;text-align:left;text-indent:20px;box-shadow:2px 0px 4px rgba(0,0,0,0.1);}
.log-info {margin-right:15px;}

/*BW-UTIL*/
.bw-util {position:absolute;right:10px;top:50%;margin-top:-15px;}
.bw-util li {display:inline-block;float:left;height:30px;line-height:30px;margin-right:10px;}
.bw-util li:last-child {margin-right:0;}
.bw-util:after {clear:both;display:block;content:"";}
.bw-util .bw-input {font-weight:300;margin-right:10px;}
.bw-util .bw-icon,
.bw-util .bw-input {float:left;display:inline-block;line-height:30px;}

/*HEADER THEME1*/
.hd1.header .header-tool {color:white;background:#4553a8;
background: rgb(66,82,174); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(66,82,174,1) 0%, rgba(101,97,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252ae', endColorstr='#6561cc',GradientType=1 ); /* IE6-9 */}
.hd1 .header-tool .bw-util .bw-input {color:white;}
.hd1 .header-tool .bw-util select.bw-input.ipt-select {color:white;background:rgba(0,0,0,0.06) url('../images/arrow-btm-white.png') no-repeat;background-position:right;background-size:18px;font-size:12px;text-indent:10px;min-width:120px;height:25px;line-height:25px;margin-top:2px;border-radius:0;}
.hd1 h1.logo {background:transparent;box-shadow:none;}
.hd1.header .header-menu .bw-menu a {color:rgba(255, 255, 255, 0.5);}
.hd1.header .header-menu .bw-menu a:hover,
.hd1.header .header-menu .bw-menu .on a {background:transparent;color:white;}

/*HEADER THEME2*/
.hd2.header {box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.25);}
.hd2.header .header-tool {color:#666666;background:white;}
.hd2.header .header-menu .bw-menu a {color:#555555;font-weight:500;}
.hd2.header .header-main {background:white;border-bottom:3px solid #576CC5;}
.hd2 h1.logo {background:transparent;box-shadow:none;}
.hd2 .header-main h1.logo a {color:#4553a8;}
.hd2.header .header-menu .bw-menu a:hover,
.hd2.header .header-menu .bw-menu .on a {background:transparent;color:#4553a8;}

/*HEADER THEME3*/
.hd3.header {box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.25);}
.hd3.header .header-tool {color:white;background:#4553a8;
background: rgb(66,82,174); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(66,82,174,1) 0%, rgba(101,97,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(66,82,174,1) 0%,rgba(101,97,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252ae', endColorstr='#6561cc',GradientType=1 ); /* IE6-9 */}
.hd3 .header-tool .bw-util .bw-input {color:white;}
.hd3 .header-tool .bw-util select.bw-input.ipt-select {color:white;background:rgba(0,0,0,0.06) url('../images/arrow-btm-white.png') no-repeat;background-position:right;background-size:18px;font-size:10px;text-indent:10px;min-width:120px;height:19px;line-height:19px;margin-top:3px;border-radius:0;}
.hd3 h1.logo {background:transparent;box-shadow:none;}
.hd3 .header-main h1.logo a {color:#4553a8;}
.hd3.header .header-menu .bw-menu a {color:#555555;font-weight:500;}
.hd3.header .header-main {background:white;}
.hd3.header .header-menu .bw-menu a:hover,
.hd3.header .header-menu .bw-menu .on a {background:transparent;color:#4553a8;}

/*MAIN WRAP*/
.main-wrap {position:absolute;top:50px;left:0;right:0;bottom:0;}

/*ASIDE*/
aside {position:absolute;top:0;bottom:0;left:0;width:50px;border-radius:0px;background:white;border-right:1px solid #ededed;z-index:8;}
aside .fav {margin:0;padding:0;}
aside .fav li {position:relative;height:50px;line-height:50px;text-align:center;border-bottom:1px solid #ededed;cursor:pointer;}
aside .alarm {width:12px;height:12px;position:absolute;top:7px;right:5px;border-radius:15px;background:#ff3600;color:white;line-height:12px;font-size:8px;}
aside .fav li.on,
aside .fav li:hover {background-color:#576cc5;border-bottom:1px solid #576cc5;}

/*SIDE NAVIGATION*/
.side-nav {display:block;position:absolute;top:0;bottom:0;left:50px;padding:0;width:200px;border-radius:3px;background:#fff;z-index:8;}
.side-nav .search-area {position:relative;line-height:30px;height:30px;border-radius:3px;border:1px solid #ebebeb;margin-bottom:10px;}
.side-nav .search-area .bw-input {position:absolute;top:0;bottom:0;left:0;height:100%;outline:none;background-color:transparent;vertical-align:middle;border:0;width:190px;font-size:15px;color:#406f97;text-indent:10px;}
.side-nav .search-area .bw-btn {position:absolute;right:0;height:100%;width:30px;}

/*ACCORDIoN JQUERY FOR LNB*/
.ui-accordion .ui-accordion-header {font-family:'Noto Sans KR',sans-serif;background:white url('../images/icon-arrow.png') no-repeat;border:0;background-size:15px;background-position:right;line-height:50px;height:50px;padding:0 15px;border-radius:0;margin:0 0 0 0;color:#666666;font-size:13px;font-weight:400;}
.ui-accordion :focus {outline:none;}
.ui-accordion-content.ui-widget-content,
.ui-accordion-content.ui-accordion-content-active {border:0;border-radius:0;background:#F9F9F9;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {display:none;}
.ui-accordion-header.ui-state-active {border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {border:1px solid #ebebeb;}
.ui-accordion .ui-accordion-content {padding:0;}
.ui-accordion-header.ui-state-active {border-top:1px solid #576cc5;border-bottom:1px solid #576cc5;background:#576cc5 url('../images/icon-arrow.png') no-repeat;background-size:15px;background-position:right;color:white;font-weight:500;}

/*ACCORDION FOR LNB*/
.bw-accordion h3 .bw-icon {margin-right:10px;}
.bw-accordion .bw-sub {}
.bw-accordion .bw-sub li {padding:0 15px 0 25px;margin:0;line-height:50px;height:50px;background:#f7f7f7 url('../images/icon-arrow.png') no-repeat;background-size:15px;background-position:right;font-size:12px;color:#737373;cursor:pointer;}
.bw-accordion .bw-sub li.on,
.bw-accordion .bw-sub li:hover {background:#e7e5e5 url('../images/icon-arrow-ivt.png') no-repeat;background-size:15px;background-position:right;color:#4252ae;}
.bw-accordion .bw-sub .fa {margin-right:3px;color:#666666;font-size:10px;}
.bw-accordion .fix-r {right:40px;}
.main-contents .bw-accordion h3 .btn-wrap .bw-icon {margin-right:0;}
/*ACCORDIoN JQUERY FOR CONTENTS*/
.main-contents .ui-accordion .ui-accordion-header,
.bw-modal .ui-accordion .ui-accordion-header {font-family:'Noto Sans KR',sans-serif;background:white url('../images/icon-acc-open.png') no-repeat;border-left:0;border-right:0;background-size:30px;background-position:right;line-height:40px;height:40px;padding:0 15px;border-radius:0;margin:-1px 0 0 0;color:#444444;font-size:12px;font-weight:500;}
.main-contents .ui-accordion-content.ui-widget-content,
.main-contents .ui-accordion-content.ui-accordion-content-active,
.bw-modal .ui-accordion-content.ui-widget-content,
.bw-modal .ui-accordion-content.ui-accordion-content-active {border:0;border-radius:0;background:#F9F9F9;}
.main-contents .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
.bw-modal .ui-accordion .ui-accordion-header .ui-accordion-header-icon {display:none;}
.main-contents .ui-accordion-header.ui-state-active,
.bw-modal .ui-accordion-header.ui-state-active {border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.main-contents .ui-state-default, 
.main-contents .ui-widget-content .ui-state-default, 
.main-contents .ui-widget-header .ui-state-default,
.bw-modal .ui-state-default, 
.bw-modal .ui-widget-content .ui-state-default, 
.bw-modal .ui-widget-header .ui-state-default  {border:1px solid #ebebeb;}
.main-contents .ui-accordion .ui-accordion-content,
.bw-modal .ui-accordion .ui-accordion-content {padding:30px;}
.bw-modal .ui-accordion .ui-accordion-content {height:auto !important;}
.main-contents .ui-accordion-header.ui-state-active,
.bw-modal .ui-accordion-header.ui-state-active  {border-top:1px solid #ababab;border-bottom:1px solid #ababab;background:#ababab url('../images/icon-acc-close.png') no-repeat;background-size:30px;background-position:right;color:white;font-weight:500;}

/*ACCORDION FOR SUB CONTENTS*/
.main-contents .bw-accordion h3 .bw-icon,
.bw-modal .bw-accordion h3 .bw-icon  {margin-right:10px;}
.main-contents .bw-accordion h3,
.bw-modal .bw-accordion h3 {text-align:left;}
.main-contents .bw-accordion .bw-sub {}
.main-contents .bw-accordion .bw-sub li,
.bw-modal .bw-accordion .bw-sub li {padding:0 15px 0 55px;margin:0;line-height:20px;background:#f7f7f7;font-size:12px;color:#737373;}
.main-contents .bw-accordion .bw-sub li.on,
.main-contents .bw-accordion .bw-sub li:hover,
.bw-modal .bw-accordion .bw-sub li.on,
.bw-modal .bw-accordion .bw-sub li:hover {background:#e7e5e5 url('../images/icon-arrow-ivt.png') no-repeat;background-size:20px;background-position:right;color:#4252ae;}
.main-contents .bw-accordion .bw-sub .fa,
.bw-modal .bw-accordion .bw-sub .fa {margin-right:3px;color:#666666;font-size:10px;}

/*BW-BTN*/
.btn-util .bw-btn:hover {background:#ededed !important;}
.bw-btn-txt {border:1px solid rgba(87, 108, 197, 0.5);color:#576cc5;padding:0 20px;cursor:pointer;font-size:14px;height:30px;display:inline-block;border-radius:3px;}
.bw-btn-txt.on {background:#576cc5;color:white;}
.bw-btn-form,.unit.bw-btn-form,.ui-widget button.bw-btn-form {border:1px solid #5B6DBF;background:white;border-radius:30px;color:#5B6DBF;font-weight:500;line-height:25px;text-align:center;padding:0 10px;margin-right:10px;margin-bottom:8px;}
.bw-btn-form:hover,.unit.bw-btn-form:hover,.on.bw-btn-form,.on.unit.bw-btn-form,.ui-widget button.bw-btn-form:hover,.ui-widget button.on.bw-btn-form {background:#5B6DBF;color:white;}
.ui-widget button.bw-btn-form {font-size:11px;}
.btn-wrap .bw-btn-txt {margin:0 5px;}
.bw-tool .bw-btn-txt {display:inline-block;float:left;letter-spacing:-1px;padding:0 5px;line-height:25px;height:25px;border-radius:3px;font-size:11px;margin-top:7px;}
.bw-tool .bw-btn-txt:hover,
.bw-tool .bw-btn-txt.on {background:#576cc5;color:white;}
/*UNIT*/
.unit {margin:0;padding:0;display:inline-block;float:left;}
.inner-unit {position:relative;padding:0;margin:0;height:100%;}
.inner-unit dt {line-height:30px;}
.inner-unit dd {position:relative;}
.unit.m-txt {margin-left:5px;}

/*BTN UTIL */
.btn-util {position:absolute;right:0;top:0;bottom:0;}
.main-tab .btn-util {width:50px;}
.main-tab .btn-util .fa {font-size:20px;color:#c1c1c1;}
.main-tab .btn-util .bw-btn.on .fa {color:#6a7ac5;}
.main-tab .btn-util .bw-btn {width:25px;height:100%;display:inline-block;float:left;background:white;border-left:1px solid #ededed;}
.main-tab .btn-util .bw-btn:first-child {border-left:0;}

/*BW-TITLE*/
.bw-tt {font-size:16px;font-weight:500;color:#4553a8;height:30px;line-height:30px;margin-bottom:10px;background:url('../images/bg-tt.png') no-repeat left center;background-size:10px;padding-left:15px;}
.bw-stt {font-size:15px;font-weight:500;color:#656565;height:30px;line-height:30px;margin-bottom:10px;padding-left:0;}
.desc {font-size:12px;color:#555555;font-weight:400;display:inline-block;margin-left:20px;}
.bw-desc {font-size:12px;color:#444444;font-weight:500;margin:0;padding:0;}
.bw-form .bw-desc,.search-wrap .bw-desc {color:#666666;line-height:25px;font-weight:400;}
/*MAIN-TAB*/
.main-tab {position:relative;height:50px;background:#eeeeee;overflow-x:auto;border-bottom:1px solid #ededed;}
.tab-list {position:absolute;left:0;top:0;bottom:0;right:50px;overflow:hidden;}
.tab-list .bw-btn {position:absolute;right:5px;top:50%;margin-top:-13px;}
.tab-list p {margin-right:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.tab-list li {position:relative;float:left;display:inline-block;width:20%;padding:0 0 0 10px;cursor:pointer;background:#f5f5f5;text-align:left;text-align:center;line-height:50px;font-size:13px;font-weight:400;color:#bdbdbd;border-right:1px solid #ededed;}
.tab-list li.on,
.tab-list li:hover {color:#5563b3;background:white;}
.tab-list li.on .after {box-shadow:2px 0px 3px #E0E0E0;position:absolute;top:0;bottom:0;right:0;width:10px;z-index:99;}
.tab-list li.on .before {box-shadow:-2px 0px 3px #e0e0e0;position:absolute;top:0;bottom:0;left:0;width:10px;z-index:99;}
/*MAIN CONTENTS*/
.main-contents {position:absolute;top:50px;left:0;right:0;bottom:0;padding:20px;overflow-y:auto;}

/*MODULE*/
.module-wrap {position:relative;width:100%;display:inline-block;}
.module {position:relative;display:inline-block;float:left;}
.module-wrap:after {clear:both;content:"";display:block;}
.module .bw-grid {margin:20px;}
.module:first-child .bw-grid {margin-right:10px;}
.module:last-child .bw-grid {margin-left:10px;}

/*2COL LAYOUT*/
.layout-wrap {position:absolute;top:60px;left:20px;right:20px;bottom:20px;}
.layout {position:absolute;top:0;bottom:0;}
.layout.col1 {left:0;width:250px;border:1px solid #eee;overflow:auto;}
.layout.col1 .bw-tool,.layout.col1 .search-wrap {border-left:0;border-right:0;}
.layout.col1 .bw-tool {border-bottom:1px solid #eee;}
.layout.col2 {left:260px;right:0;}
.layout .bw-tool .bw-input {padding:0;margin:0;border:0;}
.layout .input-wrap {margin-top:7px;}

/*TAB TITLE*/
.tab-title {font-size:0;}
.tab-title:after {content:"";display:block;clear:both;}
.tab-title ul {height:30px;overflow:hidden;margin:0;padding:0;}
.tab-title li {float:left;position:relative;height:30px;line-height:30px;padding:0 30px 0 0;background-color:#ffffff;border-top:1px solid #ebebeb;}
.tab-title li a {display:block;color:#576cc5;font-weight:400;font-size:12px;padding:0 5px;}
.tab-title li a span.tab-bg,
.tab-title li a span.tab-bg-before {position:absolute;top:0;right:0;display:inline-block;width:30px;height:30px;background:url('../images/3tab.png') no-repeat;background-size:100%;background-position:0 0;}
.tab-title li.first-tab {border-left:1px solid #ebebeb;}
.tab-title li.first-tab a {padding:0 15px 0 17px;}
.tab-title li.first-tab.on-tab {border-left:1px solid #576CC5;}
.tab-title li.on-tab {background-color:#576CC5;z-index:5;}
.tab-title li.on-tab a {color:#ffffff;}
.tab-title li.on-tab a span.tab-bg {background-position:0 -30px;}
.tab-title li.last-tab.on-tab a span.tab-bg {background-position:0 -90px;}
.tab-title li.on-tab a span.tab-bg-before {right:auto;left:-30px;background-position:0 -60px;}
.tab-title li.last-tab {padding:0 0 0 0;margin-right:30px;}
.tab-title li.last-tab a span.tab-bg {right:-30px;top:0;}
.tab-title li.last-tab a span.tab-bg-before {right:-30px;top:0;}
.tab-contents {height:300px;padding:0;margin:0;background:white;border:1px solid #e1e1e1;overflow-y:auto;}

/* tab-title */
.bw-tab {text-align:left;}
.bw-tab strong {position:relative;display:inline-block;background-color:#576CC5;color:white;padding:0 15px 0 17px;margin:0 30px 0 0;height:30px;line-height:30px;font-weight:400;}
.bw-tab span {position:absolute;top:0;right:-30px;display:inline-block;width:30px;height:30px;background:url('../images/3tab.png') no-repeat;background-size:100%;background-position:0 -90px;}

/*SEARCH*/
.bw-input {-webkit-appearance:none;-moz-appearance:none;appearance:none;line-height:25px;border:0;font-size:12px;color:#666666;}
.bw-input[type="checkbox"],
.bw-input[type="radio"] {-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 !important;background:#eeeeee;width:25px !important;height:25px !important;}
.bw-input[type="checkbox"] {background:url('../images/check_btn.png') no-repeat 0 0;background-size:100%;}
.bw-input[type="radio"] {background:url('../images/radio_btn.png') no-repeat 0 0;background-size:100%;}
.bw-input[type="checkbox"]:checked,
.bw-input[type="radio"]:checked {background-position:0 -25px;}
.bw-input[type="checkbox"]:disabled,
.bw-input[type="radio"]:disabled {background-position:0 -50px;}
select.bw-input.ipt-select {background:white url('../images/arrow-btm.png') no-repeat;background-position:right;background-size:20px;padding-right:30px;text-indent:0;height:25px;font-size:12px;}
select::-ms-expand {display:none;}
.bw-input.ipt-cal {background:url('../images/ipt-cal.png') no-repeat;background-position:right;background-size:20px;padding-right:20px;text-indent:0;}
.bw-input.ipt-time {background:url('../images/ipt-time.png') no-repeat;background-position:right;background-size:20px;padding-right:20px;text-indent:0;}
.bw-input.ipt-radio,.input-wrap .bw-input.ipt-radio {width:25px;height:25px;}
.search-wrap {border:1px solid #eeeeee;padding:10px;}
.search-wrap ul {}
.search-wrap li {float:left;display:inline-block;}
.search-wrap .bw-input {border:0;}
.input-wrap {background:white;border:1px solid #e6e6e6;border-radius:30px;padding:0 10px 0 0;margin-right:10px;margin-bottom:8px;}
.input-wrap.fix-txtarea {border-radius:8px;}
.input-wrap.fix-txtarea .bw-label {background:transparent;float:none;height:170px;line-height:170px;}
.input-wrap.fix-txtarea .bw-textarea {border:0;border-left:1px solid #949ed3;border-radius:0;}
.input-wrap.fix-txtarea.h-half .bw-label {height:95px;line-height:95px;}
.input-wrap.fix-txtarea.h-half .bw-textarea {height:75px;}
.input-wrap.fix-txtarea.h-single .bw-label {height:50px;line-height:50px;}
.input-wrap.fix-txtarea.h-single .bw-textarea {height:30px;}
.input-wrap.add-btn {padding:0 30px 0 0;position:relative;}
.input-wrap.add-btn .bw-btn {right:10px;top:0;}
.input-wrap .bw-label,
.input-wrap .bw-input,
.input-wrap .radio-wrap,
.input-wrap .radio-wrap .bw-input,
.input-wrap .radio-wrap label {display:inline-block;float:left;line-height:25px;}
.input-wrap .radio-wrap label {margin-right:10px;}
.input-wrap .bw-input.add-line {background:url('../images/bg-label-input.png') no-repeat right;background-size:auto 100%;}
.input-wrap .txt-wrap2 {display:inline-block;float:left;margin-top:10px;}
.input-wrap .bw-label {width:90px;color:#5563b2;text-indent:20px;font-weight:400;background:url('../images/bg-label.png') no-repeat right;background-size:auto 100%;text-align:left;}
.input-wrap.asterisk {background:url('../images/asterisk.png') no-repeat;background-size:6px;background-position:13px;}
.input-wrap .bw-input,
.input-wrap .radio-wrap {width:100px;}
.input-wrap .bw-input.w-l,
.input-wrap .radio-wrap.w-l {width:230px;}
.input-wrap .bw-input.w-s,
.input-wrap .radio-wrap.w-s {width:60px;}
.input-wrap .bw-label {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.l-c .input-wrap {margin-right:0;}
.l-line .input-wrap {margin-bottom:0;}

/*SECTION- ACCORDION MENU*/
.sub-section {border:1px solid #ced3ec;padding:20px;background:#fdfdfd;margin-bottom:20px;}
.sub-section h4 {margin-top:0;font-size:13px;font-weight:500;}
/*TEXTAREA*/
.txt-wrap {position:absolute;right:0;top:10px;left:142px;height:150px;display:block;}
.bw-textarea {height:150px;margin:0;padding:0 10px;overflow-y:auto;resize:none;background:white;border-radius:5px;text-align:left;vertical-align:middle;width:100%;border:1px solid #eeeeee;font-size:12px !important;color:#666666;}

/*FORM-FOR INNTER CONTENTS*/
.bw-form {text-align:left;}
.bw-form li {display:inline-block;float:left;border-bottom:1px solid #eeeeee;padding:5px 0;line-height:35px;}
.bw-form.col-2 li:nth-last-child(1),
.bw-form.col-2 li:nth-last-child(2),
.bw-form.col-3 li:nth-last-child(1),
.bw-form.col-3 li:nth-last-child(2),
.bw-form.col-3 li:nth-last-child(3) {border-bottom:0;}
.bw-form:after,
.bw-form li:after {clear:both;content:"";display:block;}
.bw-form .bw-input,
.bw-form .bw-label {display:inline-block;}
.bw-form .bw-input {border-radius:30px;border:1px solid #eeeeee;text-indent:10px;font-size:12px;}
.bw-form .bw-label.ipt-s {width:80px;}
.bw-form .bw-input.ipt-select {text-indent:10px;}
.bw-form .bw-label {font-size:13px;color:#5563B2;width:140px;text-align:left;text-indent:7px;}
.bw-form .bw-label.asterisk {background:url('../images/asterisk.png') no-repeat;background-size:6px;background-position:left;}
.bw-form.col-2 li:nth-child(even) {text-align:right;}
.bw-form .bw-label .fa {font-size:14px;margin-left:3px;}
.bw-form .radio-wrap {}
.bw-form .radio-wrap .bw-input,.bw-form .radio-wrap label {display:inline-block;float:left;}
.bw-form .radio-wrap .bw-input.ipt-radio {margin:5px;}
/*BW-TOOL*/
.bw-tool {position:relative;height:40px;background:#f6f6f6;line-height:40px;padding-left:10px;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;}
.bw-tool select.bw-input.ipt-select,.bw-tool .bw-input {padding:0 30px 0 10px;border:1px solid #dedede;border-radius:0;}
.bw-tool .bw-input,
.bw-tool .bw-desc {margin-right:5px;display:inline-block;}
.bw-tool:after {clear:both;display:block;content:"";}
.btn-wrap {display:inline-block;}
.btn-wrap .bw-btn {display:inline-block;float:left;margin:0;width:40px;height:100%;}
.btn-wrap .bw-btn.b-ctr {width:20px;background:#eeeeee;margin:0;border-left:1px solid #dddddd;}
.btn-wrap .bw-btn.b-ctr .fa {color:#A9A9A9;}
.bw-tool.sub-tool {background:white;}
.bw-form .null {display:inline-block;}
.btn-wrap.btn-move {position:absolute;width:60px;height:80px;top:50%;margin-top:-40px;left:50%;margin-left:-30px;}
.btn-wrap.btn-move .bw-btn-txt {margin:5px 0;}
.btn-wrap.btn-move .bw-btn-txt:hover {background:#576cc5;color:white;}

/*BUTTON PAGING*/
.bw-paging {text-align:center;}
.bw-paging:after {clear:both;content:"";display:block;}
.bw-paging > div {display:inline-block;vertical-align:middle;}
.paging-btn {margin:0 20px;}
.ctr-btn .btn-paging {font-size:15px;}
.ctr-btn i {display:block;}
.btn-paging {margin:0 3px;color:#A7A9AC;font-size:13px;font-weight:100;border:0;background:#F5F5F5;width:25px;height:25px;}
.btn-paging.on {background:#576CC5;border:1px solid #576CC5;color:white;font-weight:400;}

/*STATUS AREA*/
.bw-status {width:230px;border:1px solid #eeeeee;border-radius:3px;position:relative;background:white;}
.bw-status .btn-wrap {position:absolute;background:white;text-align:center;}
.bw-status .btn-wrap .bw-btn {width:20%;color:#888888;height:30px;border-right:1px solid #eeeeee;}
.bw-status .btn-wrap .bw-btn:last-child {border-right:0;}
.bw-status.type-t {padding:40px 10px 10px;border-right:1px solid #eeeeee;}
.bw-status.type-t .btn-wrap {top:0;right:0;left:0;border-bottom:1px solid #eeeeee;}
.bw-status.type-b {padding:10px 10px 40px;border-top:1px solid #eeeeee;}
.bw-status.type-b .btn-wrap {bottom:0;right:0;left:0;}
.bw-status.type-l {padding:25px 10px 25px 50px;border-right:1px solid #eeeeee;}
.bw-status.type-l .btn-wrap {bottom:0;left:0;top:0;width:40px;border-right:1px solid #eeeeee;}
.bw-status.type-l .btn-wrap .bw-btn {width:100%;height:20%;border-bottom:1px solid #eeeeee;border-right:0;}
.bw-status.type-l .btn-wrap .bw-btn:last-child {border-bottom:0;}
.bw-status.type-r {padding:25px 50px 25px 10px;}
.bw-status.type-r .btn-wrap {top:0;right:0;bottom:0;width:40px;border-left:1px solid #eeeeee;}
.bw-status.type-r .btn-wrap .bw-btn {width:100%;height:20%;border-bottom:1px solid #eeeeee;border-right:0;}
.bw-status.type-r .btn-wrap .bw-btn:last-child {border-bottom:0;}

/*GRID*/
.bw-grid {position:relative;}
.bw-grid.add-bd {border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;}
.bw-grid table {width:100%;table-layout:fixed;border-spacing:0;border-collapse:collapse;text-align:center;}
.bw-grid th {height:40px;background:white;color:#5b6dbf;letter-spacing:-.5px;font-weight:500;border-bottom:1px solid #5b6dbf;font-size:12px;}
.bw-grid th strong {font-weight:500;}
.bw-grid td {height:40px;border-bottom:1px solid #eeeeee;font-size:12px;color:#666666;}
.bw-grid tr:last-child td {border-bottom:0;}
.bw-grid tr.selected td {background:#F1F6FF;}
.bw-grid td .fa {font-size:16px;}

.bw-grid.bw-form td {text-align:left;}
.bw-grid.bw-form .bw-label {line-height:40px;}
.bw-grid.bw-form .bw-input.ipt-radio {vertical-align:middle;}
.bw-grid.bw-form .bw-textarea {margin:5px 0;}

/*TREE MENU*/
.bw-tree {}
.bw-tree .lv1 {}
.bw-tree .lv2 {}
.bw-tree .lv3 {}
.bw-tree {padding:0;margin:0 0 0 20px;line-height:25px;font-size:12px;letter-spacing:-1px;color:#444444;}
.bw-tree .fa {margin-right:3px;color:#666666;font-size:10px;}
.bw-tree.bw-tree-root {}
.bw-tree li {cursor:pointer;}
.bw-tree li span {padding:0 5px;}
.bw-tree li span:hover,.bw-tree li.on span {background:#DFE8FF}
/*MAIN*/
.main-menu {height:100%;overflow:auto;}
.main {position:absolute;top:0;bottom:0;left:250px;right:0;background:#fff;z-index:6;}

/*FOOTER*/
#footer {z-index:10;position:fixed;right:0;bottom:0;left:0;height:30px;background:#515255;color:#eee;}
#footer .log-console {position:absolute;padding:0 10px;height:30px;right:0;bottom:0;left:0;border-top:1px solid #bbb;background:#515255;color:#ddd;line-height:30px;}
#footer .log-console .bx-btn {float:right;margin-left:4px;margin-top:4px;color:#B0B0B0;}
#footer .cbb-log-message-area {display:none;position:absolute;height:150px;right:0;bottom:30px;left:0;padding:5px 10px;background:#333;color:#eee;overflow:auto;}

/*DATEPICKER*/
#ui-datepicker-div {background:#ffffff;border:1px solid #eeeeee;}
.ui-datepicker .ui-datepicker-header {border-radius:0;border:0;border-bottom:1px solid #5b6dbf;background:transparent;}
.ui-datepicker .ui-datepicker-title {color:#4553a8;font-weight:normal;}
#ui-datepicker-div .ui-state-default {background:transparent;border:0;text-align:center;}
#ui-datepicker-div .ui-state-hover {background:#5b6dbf;font-weight:normal;color:white;}

/*SWEET ALERT */
.sweet-alert h2 {margin-bottom: 0px; font-size: 14px;}
.sweet-alert p {padding:20px 40px 0 !important;color:#4d4d4f !important;line-height:20px !important;font-size:14px !important;}
.sweet-alert .sa-error-container.show p {padding: 0 !important;}
.sweet-alert {width:600px !important;margin-left:-300px !important;padding:30px 0;border-radius:0 !important;}
.sweet-alert button {background-color:#576CC5 !important;height:30px !important;border:1px solid #576CC5 !important;width:70px !important;border-radius:3px !important;padding:0 !important;cursor:pointer;font-size:14px;box-shadow:none !important;}
.sweet-alert button.cancel {background-color:white !important;color:#576CC5 !important;}

/*FONT AWESOME*/
.fa-stack {width:16px !important;height:16px !important;line-height:16px !important;}
.fa-stack .fa.fa-inverse {font-size:8px;font-weight:bold;}

/*TOOLTIP*/
.ui-tooltip,.arrow:after {background:#555555;color:#666666;}
.ui-tooltip {padding:3px 10px;color:white;font-size:12px;font-family:'Noto Sans KR',sans-serif;border-radius:0;line-height:20px;text-transform:uppercase;box-shadow:0 0 0px black;border:0;}
.arrow {width:60px;height:16px;overflow:hidden;position:absolute;left:50%;margin-left:-30px;bottom:-16px;}
.arrow.top {top:-16px;bottom:auto;}
.arrow.left {left:20%;}
.arrow:after {content:"";position:absolute;left:20px;top:-20px;width:20px;height:25px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.arrow.top:after {bottom:-20px;top:auto;}

/*ASIDE-MODAL*/
.sidemenu {position:absolute;top:0;right:0;bottom:0;width:180px;background:white;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.sidemenu .bw-tt {height:40px;margin:0;padding:0;color:#484A67;background:white;border-left:3px solid #FF6409;line-height:40px;padding-left:10px;font-size:14px;font-weight:400;font-family:'Exo 2',sans-serif;}
.sidemenu .content-wrap {margin:0 0 10px 0;}

/*MODAL*/
#bw-modal {}
.bw-modal .bw-tt {background:none;}
.bw-modal.md-form .modal-wrap {width:1020px;height:600px;margin-left:-510px;margin-top:-300px;}
.bw-modal.md-large .modal-wrap {width:1020px;height:auto;margin-left:-510px;margin-top:0;top:100px;}
.bw-modal.md-small .modal-wrap {width:630px;height:auto;margin-left:-315px;}
.bw-modal .modal-wrap.h-auto {margin-top:0;top:100px;}
.bw-modal .fix-w-btn {width:290px;}
.bw-modal {display:none;position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.4);z-index:99999;overflow:hidden;}
.modal-wrap {position:absolute;top:50%;margin-top:-187px;left:50%;margin-left:-405px;width:810px;height:375px;padding:30px;background:white;text-align:center;}

/*LOGIN*/
.login-wrap {margin:0;padding:0;height:100%;background:url('../images/login-bg.jpg') no-repeat;background-size:cover;}
.login-container {position:absolute;width:350px;height:460px;top:50%;margin-top:-230px;left:50%;margin-left:-175px;background:rgba(85, 99, 176, 0.74);text-align:center;}
.login-container h1 {line-height:40px;color:white;font-family:'Exo 2', sans-serif;font-size:20px;font-weight:500;padding:10px 0 10px;margin-top:30px;margin-bottom:10px;text-transform:uppercase;background:url('../images/login-bar.png') no-repeat 100%;background-position:top;}
.login {margin:20px 0 30px;}
.login ul {width:80%;margin:0 auto;}
.login li {line-height:50px;margin-bottom:10px;}
.login input[type="text"]::-webkit-input-placeholder {color:white;}
.login input[type="password"]::-webkit-input-placeholder {color:white;}
.login input[type="text"]::-moz-placeholder {color:white;}
.login input[type="password"]::-moz-placeholder {color:white;}
.login .bw-input {width:100%;height:40px;border:0;line-height:40px;color:white;text-indent:10px;background:rgba(255, 255, 255, 0.14);}
.login .bw-input.ipt-select {height:40px;text-indent:10px !important;border-radius:0;background:rgba(255, 255, 255, 0.14) url('../images/arrow-btm-login.png') no-repeat;background-position:right;background-size:25px;}
.login .bw-input.ipt-select option {background:white;padding:10px 0 10px 20px;color:#4553a8;}
.login .bw-btn-txt {width:100%;height:40px;border:0;background:white;border-radius:0;}
.login .bw-btn-txt:hover {background:#576cc5;color:white;font-size:13px;}
.bw-copyright {margin-top:20px;color:rgba(255, 255, 255, 0.56);font-family:'Exo 2', sans-serif;text-transform:uppercase;font-size:10px;font-weight:100;letter-spacing:.5px;}