<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">{{bxMsg 'app-deploy.app-deploy-management'}}</h2>
<!--/END BW-TITLE-->
<section class="app-deploy">
    <!--LNB-->
    <nav class="app-deploy-nav">
        <a class="SUB01" href="#MENU00601/SUB01"><h3><i class="bw-icon i-25 i-deploy-monitoring"></i>{{bxMsg 'app-deploy.monitoring'}}</h3></a>
        <a class="SUB02" href="#MENU00601/SUB02"><h3><i class="bw-icon i-25 i-deploy-pre-deploy"></i>{{bxMsg 'app-deploy.pre-deploy'}}</h3></a>
        <a class="SUB03" href="#MENU00601/SUB03"><h3><i class="bw-icon i-25 i-deploy-manage-pre-deployed"></i>{{bxMsg 'app-deploy.manage-pre-deployed'}}</h3></a>
        <a class="SUB04" href="#MENU00601/SUB04"><h3><i class="bw-icon i-25 i-deploy-deploy"></i>{{bxMsg 'app-deploy.deploy'}}</h3></a>
        <a class="SUB05" href="#MENU00601/SUB05"><h3><i class="bw-icon i-25 i-deploy-validate-ip"></i>{{bxMsg 'app-deploy.validate-ip'}}</h3></a>
    </nav>
    <!--/END LNB-->
    <section class="app-deploy-main"></section>
</section>
