@charset "UTF-8";
/*COMMON*/
body {
  margin: 0;
  padding: 0;
  font: 12px/1 'Noto Sans KR',sans-serif;
  color: #000;
  -webkit-text-size-adjust: 100%;
  background: #eff0fa;
  overflow: hidden !important;
  letter-spacing: -.3px; }

html, body {
  height: 100%;
  width: 100%; }

img {
  border: 0; }

li {
  list-style: none; }

button, .ui-widget button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: center;
  background: none;
  font-family: 'Noto Sans KR',sans-serif; }

a, a:link, a:visited, a:active {
  text-decoration: none; }

a {
  color: #757575; }

.bw-tool {
  box-sizing: content-box; }

.ui-widget, select.bw-input.ipt-select, textarea {
  font-family: 'Noto Sans KR',sans-serif !important; }

.clr:after {
  display: block;
  clear: both;
  content: ""; }

/*DEVIDE*/
.col-2 li {
  width: 50%; }

.col-3 li {
  width: calc(100%/3); }

.col-4 li {
  width: 25%; }

.col-5 li {
  width: 20%; }

/*WIDTH*/
.w-1 {
  width: 1% !important; }

.w-10 {
  width: 10% !important; }

.w-13 {
  width: 13% !important; }

.w-15 {
  width: 15% !important; }

.w-16 {
  width: 16% !important; }

.w-17 {
  width: 17% !important; }

.w-18 {
  width: 18% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-26 {
  width: 26% !important; }

.w-30 {
  width: 30% !important; }

.w-33 {
  width: 33% !important; }

.w-34 {
  width: 34% !important; }

.w-35 {
  width: 35% !important; }

.w-40 {
  width: 40% !important; }

.w-45 {
  width: 45% !important; }

.w-47 {
  width: 47% !important; }

.w-50 {
  width: 50% !important; }

.w-53 {
  width: 53% !important; }

.w-55 {
  width: 55% !important; }

.w-60 {
  width: 60% !important; }

.w-65 {
  width: 65% !important; }

.w-66 {
  width: 66% !important; }

.w-70 {
  width: 70% !important; }

.w-75 {
  width: 75% !important; }

.w-80 {
  width: 80% !important; }

.w-83 {
  width: 83% !important; }

.w-85 {
  width: 85% !important; }

.w-87 {
  width: 87% !important; }

.w-90 {
  width: 90% !important; }

.w-100 {
  width: 100% !important; }

.w-auto {
  width: auto !important; }

/*ICON*/
.bw-icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  background-image: url("../images/icon-hd1.png") !important;
  background-size: 400%; }

.i-20 {
  width: 20px;
  height: 20px; }

.i-25 {
  width: 25px;
  height: 25px; }

.i-30 {
  width: 30px;
  height: 30px; }

.i-mng-online {
  background-position: 0 0; }

.i-mng-layout {
  background-position: 0 -100%; }

.i-mng-common {
  background-position: 0 -200%; }

.i-mng-app {
  background-position: 0 -300%; }

.i-setting {
  background-position: 0 -400%; }

.i-mng-screen {
  background-position: 0 -500%; }

.i-mng-interface {
  background-position: 0 -700%; }

.i-mng-centercut {
  background-position: 0 -1600%; }

.i-mng-log {
  background-position: 0 -1700%; }

.i-search {
  width: 20px;
  height: 20px;
  background-position: 0 -600%; }

.bw-btn:disabled .i-search {
  background-position: -200% -2500%; }

.i-close {
  background-position: -100% -600%; }

.i-func-refresh {
  background-position: -200% 0; }

.bw-btn:disabled .i-func-refresh {
  background-position: -300% 0; }

.i-func-xls {
  background-position: -200% -100%; }

.bw-btn:disabled .i-func-xls {
  background-position: -300% -100%; }

.i-func-xls-up {
  background-position: -200% -2800%; }

.bw-btn:disabled .i-func-xls-up {
  background-position: -300% -2800%; }

.i-func-add {
  background-position: -200% -200%; }

.bw-btn:disabled .i-func-add {
  background-position: -300% -200%; }

.i-func-del {
  background-position: -200% -300%; }

.bw-btn:disabled .i-func-del {
  background-position: -300% -300%; }

.i-func-search {
  background-position: -200% -400%; }

.bw-btn:disabled .i-func-search {
  background-position: -300% -400%; }

.i-func-save {
  background-position: -200% -500%; }

.bw-btn:disabled .i-func-save {
  background-position: -300% -500%; }

.i-cal {
  background-position: -200% -600%; }

.i-func-trash {
  background-position: 0 -800%; }

.bw-btn:disabled .i-func-trash {
  background-position: -100% -800%; }

.i-func-edit {
  background-position: 0 -900%; }

.bw-btn:disabled .i-func-edit {
  background-position: -100% -900%; }

.i-log-service {
  background-position: 0 -1000%; }

.bw-btn:disabled .i-log-service {
  background-position: -100% -1000%; }

.i-log-image {
  background-position: 0 -1100%; }

.bw-btn:disabled .i-log-image {
  background-position: -100% -1100%; }

.i-log-task {
  background-position: 0 -1200%; }

.bw-btn:disabled .i-log-task {
  background-position: -100% -1200%; }

.i-link {
  background-position: 0 -2400%; }

.bw-btn:disabled .i-link {
  background-position: -100% -2400%; }

.i-log-error {
  background-position: 0 -1300%; }

.on .i-log-error {
  background-position: -100% -1300%; }

.i-func-undo {
  background-position: 0 -1400%; }

.on .i-func-undo {
  background-position: -100% -1400%; }

.i-func-submit {
  background-position: 0 -1500%; }

.on .i-func-submit {
  background-position: 100% -1500%; }

.i-func-submit2 {
  background-position: -200% -1400%; }

.on .i-func-submit2 {
  background-position: -300% -1400%; }

.i-all-cc-begin {
  background-position: -200% -1600%; }

.on .i-all-cc-begin {
  background-position: -300% -1600%; }

.i-all-cc-stop {
  background-position: -200% -1700%; }

.on .i-all-cc-stop {
  background-position: -300% -1700%; }

.i-online-cc-begin {
  background-position: 0 -1800%; }

.on .i-online-cc-begin {
  background-position: -100% -1800%; }

.i-online-cc-stop {
  background-position: 0 -1900%; }

.on .i-online-cc-stop {
  background-position: -100% -1900%; }

.i-func-change {
  background-position: -200% -1800%; }

.on .i-func-change {
  background-position: -300% -1800%; }

.i-func-fix {
  background-position: -200% -1900%; }

.on .i-func-fix {
  background-position: -300% -1900%; }

.i-cc-start {
  background-position: -200% -2000%; }

.on .i-cc-start {
  background-position: -300% -2000%; }

.i-cc-reset {
  background-position: 0 -2000%; }

.on .i-cc-reset {
  background-position: -100% -2000%; }

.on .i-cal, .bw-btn:hover .i-cal {
  background-position: -300% -600%; }

.i-dept {
  background-position: -200% -700%; }

.on .i-dept, .bw-btn:hover .i-dept {
  background-position: -300% -700%; }

.i-log {
  background-position: -200% -800%; }

.on .i-log, .bw-btn:hover .i-log {
  background-position: -300% -800%; }

.i-exit {
  background-position: -200% -900%; }

.on .i-exit, .bw-btn:hover .i-exit {
  background-position: -300% -900%; }

.i-theme1 {
  background-position: -200% -1000%; }

.on .i-theme1, .bw-btn:hover .i-theme1 {
  background-position: -300% -1000%; }

.i-theme2 {
  background-position: -200% -1100%; }

.on .i-theme2, .bw-btn:hover .i-theme2 {
  background-position: -300% -1100%; }

.i-theme3 {
  background-position: -200% -1200%; }

.on .i-theme3, .bw-btn:hover .i-theme3 {
  background-position: -300% -1200%; }

.i-func-reset {
  background-position: -200% -1300%; }

.bw-btn:disabled .i-func-reset {
  background-position: -300% -1300%; }

.i-func-open {
  background-position: -200% -1500%; }

.on .i-func-open {
  background-position: -200% -2400%; }

.i-func-close {
  background-position: -300% -1500%; }

.on .i-func-close {
  background-position: -300% -2400%; }

.bw-btn.on .i-func-reset {
  background-position: -300% -1300%; }

.i-rule {
  background-position: 0 -2100%; }

.on .i-rule, .bw-btn:hover .i-rule {
  background-position: -100% -2100%; }

.i-rule2 {
  background-position: 0 -2300%; }

.on .i-rule2, .bw-btn:hover .i-rule2 {
  background-position: -100% -2300%; }

.i-workflow {
  background-position: -200% -2300%; }

.on .i-workflow, .bw-btn:hover .i-workflow {
  background-position: -300% -2300%; }

.i-message {
  background-position: -200% -2100%; }

.on .i-message, .bw-btn:hover .i-message {
  background-position: -300% -2100%; }

.i-system {
  background-position: 0 -2200%; }

.on .i-system, .bw-btn:hover .i-system {
  background-position: -100% -2200%; }

.i-user {
  background-position: -200% -2200%; }

.on .i-user, .bw-btn:hover .i-user {
  background-position: -300% -2200%; }

.on .i-mng-online, .bw-btn:hover .i-mng-online {
  background-position: -100% 0; }

.on .i-mng-layout, .bw-btn:hover .i-mng-layout {
  background-position: -100% -100%; }

.on .i-mng-common, .bw-btn:hover .i-mng-common {
  background-position: -100% -200%; }

.on .i-mag-app, .bw-btn:hover .i-mng-app {
  background-position: -100% -300%; }

.on .i-setting, .bw-btn:hover .i-setting {
  background-position: -100% -400%; }

.on .i-mng-screen, .bw-btn:hover .i-mng-screen {
  background-position: -100% -500%; }

.on .i-mng-interface, .bw-btn:hover .i-mng-interface {
  background-position: -100% -700%; }

.on .i-mng-centercut, .bw-btn:hover .i-mng-centercut {
  background-position: -100% -1600%; }

.on .i-mng-log, .bw-btn:hover .i-mng-log {
  background-position: -100% -1700%; }

.i-mobile {
  background-position: 0 -2500%; }

.on .i-mobile, .bw-btn:hover .i-mobile {
  background-position: -100% -2500%; }

.i-apply {
  background-position: 0 -2600%; }

.on .i-apply, .bw-btn:hover .i-apply {
  background-position: -100% -2600%; }

.i-apply2 {
  background-position: -200% -2600%; }

.on .i-apply2, .bw-btn:hover .i-apply2 {
  background-position: -300% -2600%; }

.i-apply3 {
  background-position: 0 -2700%; }

.on .i-apply3, .bw-btn:hover .i-apply3 {
  background-position: -100% -2700%; }

.i-apply4 {
  background-position: -200% -2700%; }

.on .i-apply4, .bw-btn:hover .i-apply4 {
  background-position: -300% -2700%; }

/*BUTTON*/
.bw-btn-fold .fa {
  color: #b5b5b5;
  font-size: 16px;
  line-height: 30px; }

.add-bd {
  border: 1px solid #eee; }

.add-bd-blue {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background: transparent; }

.add-bd-t {
  border-top: 1px solid #5b6dbf !important; }

.add-bd-b {
  border-bottom: 1px solid #5b6dbf !important; }

.add-bd2-t {
  border-top: 2px solid #5b6dbf !important; }

.add-bd2-b {
  border-bottom: 2px solid #5b6dbf !important; }

/*CLR ADD FIX*/
.clr-bd-t {
  border-top: 1px solid transparent !important; }

.clr-bd {
  border: 0 !important; }

.clr-bd-b {
  border-bottom: 0 !important; }

.clr-mg-b {
  margin-bottom: 0 !important; }

.clr-mg {
  margin: 0 !important; }

.clr-mg-r {
  margin-right: 0 !important; }

.clr-mg-l {
  margin-left: 0 !important; }

.clr:after {
  display: block;
  clear: both;
  content: ""; }

.clr-pd {
  padding: 0 !important; }

.add-shadow {
  box-shadow: 2px 0px 4px #E0E0E0; }

.add-scroll {
  height: 282px;
  overflow-y: auto; }

.fix-btm {
  position: absolute;
  bottom: 0;
  right: 0; }

.fix-center {
  margin: 0 auto !important; }

.fix-input {
  width: 150px !important; }

.fix-lh {
  line-height: 35px;
  display: inline-block; }

.add-bg {
  background: #F9F9F9 !important; }

.add-mg {
  margin: 20px !important; }

.add-mg-t {
  margin-top: 10px !important; }

.add-mg-t-3 {
  margin-top: 3px !important; }

.add-mg-l {
  margin-left: 20px !important; }

.add-mg-r {
  margin-right: 20px !important; }

.add-mg-r2-8 {
  margin-right: 2.8% !important; }

.add-mg-r5 {
  margin-right: 5px !important; }

.add-mg-b {
  margin-bottom: 20px !important; }

.add-mg-bl10 {
  margin: 0 0 10px 10px !important; }

.add-mg-t-5 {
  margin-top: 5px !important; }

.add-mg-t-7 {
  margin-top: 7px !important; }

.add-mg-t-10 {
  margin-top: 10px !important; }

.add-mg-l-10 {
  margin-left: 10px !important; }

.add-mg-b-10 {
  margin-bottom: 10px !important; }

.add-pd-t {
  padding-top: 20px !important; }

.add-pd-l {
  padding-left: 20px !important; }

.add-pd-r {
  padding-right: 20px !important; }

.add-pd-b {
  padding-bottom: 20px !important; }

.add-pd-l25 {
  padding-left: 25px !important; }

.add-pd-l55 {
  padding-left: 55px !important; }

.fix-l {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0; }

.fix-r {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.f-l {
  float: left !important; }

.f-r {
  float: right !important; }

.auto-h {
  height: auto !important; }

.a-center {
  text-align: center !important; }

.a-right {
  text-align: right !important; }

.p-rel {
  position: relative !important; }

table.w-66 {
  width: 66.666666% !important; }

table td.td-w-25 {
  width: 25% !important; }

table td.td-w-33 {
  width: 33.333333% !important; }

table td.td-w-66 {
  width: 66.666666% !important; }

table td.td-w-100 {
  width: 100% !important; }

/*COLOR*/
.color-red {
  color: red; }

/*HEADER*/
header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center; }

header .header-main {
  position: relative;
  padding: 7px 10px;
  height: 40px;
  color: white;
  background: #434343;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#434343), to(#434343));
  background-image: -webkit-linear-gradient(top, #434343, #434343);
  background-image: -o-linear-gradient(top, #434343, #434343);
  background-image: linear-gradient(to bottom, #434343, #434343);
  background-image: -moz-linear-gradient(top, #434343, #434343);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#434343', endColorstr='#434343', GradientType=0); }

header .header-main .logo {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 40px; }

header .header-main .logo a {
  color: white;
  font-family: 'Exo 2',sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px; }

header .header-main .title {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Exo 2',sans-serif;
  font-weight: 500; }

header .header-main .header-tool {
  float: right;
  line-height: 26px; }

header .header-main .bw-input {
  color: white; }

header .header-nav {
  height: 40px;
  background: white;
  border-bottom: 1px solid #bfc1e6;
  color: #333;
  text-align: left; }

header .header-nav .primary-menu-item {
  height: 40px;
  display: inline-block;
  color: white; }

header .header-nav .primary-menu-item.is-selected > a, header .header-nav .primary-menu-item > a:hover > a {
  color: #3a3dc2;
  font-weight: normal; }

header .header-nav .primary-menu-item:hover a {
  color: #3a3dc2;
  background: rgba(145, 148, 199, 0.05); }

header .header-nav .primary-menu-item > a {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  min-width: 40px;
  text-align: center;
  color: #8d90c9;
  line-height: 40px;
  padding: 0 30px;
  text-transform: capitalize; }

header .header-nav .primary-menu-item.is-selected > a::after, header .header-nav .primary-menu-item > a:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 6px solid #575dbe;
  border-right: 6px solid transparent; }

h1.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: transparent;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  text-indent: 20px;
  box-shadow: none; }

/*BW-UTIL*/
.bw-util {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px; }

.bw-util li {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px; }

.bw-util li:last-child {
  margin-right: 0; }

.bw-util:after {
  clear: both;
  display: block;
  content: ""; }

.bw-util .bw-input {
  font-weight: 300;
  margin-right: 10px; }

.bw-util .bw-icon,
.bw-util .bw-input {
  float: left;
  display: inline-block;
  line-height: 30px; }

/*ASIDE*/
.aside {
  position: absolute;
  top: 87px;
  bottom: 37px;
  right: 0;
  width: 40px;
  background: white;
  z-index: 8;
  border: 1px solid #d6d9f2;
  border-radius: 3px; }

.aside .fav {
  margin: 0;
  padding: 0; }

.aside .fav li {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #d6d9f2;
  cursor: pointer; }

.aside .fav .alarm {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  right: 5px;
  border-radius: 15px;
  background: #ff3600;
  color: white;
  line-height: 12px;
  font-size: 8px; }

.aside .fav li.on,
.aside .fav li:hover {
  background-color: #575dbe;
  border-bottom: 1px solid #575dbe; }

/*ASIDE-MODAL*/
.sidemenu {
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  width: 315px;
  background: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin-right: 5px;
  border-radius: 2px; }

.sidemenu .bw-tt {
  height: 40px;
  margin: 0;
  padding: 0;
  color: #3a3dc2;
  background: white;
  line-height: 40px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Exo 2',sans-serif;
  text-transform: uppercase; }

.sidemenu .content-wrap {
  margin: 0 0 10px 0; }

.side-nav {
  display: block;
  position: fixed;
  top: 87px;
  bottom: 37px;
  left: 7px;
  padding: 10px;
  width: 250px;
  border: 1px solid #d6d9f2;
  border-radius: 3px;
  background: #fff;
  z-index: 8; }

/*ACCORDION FOR LNB*/
.bw-accordion h3 .bw-icon {
  margin-right: 10px; }

.bw-accordion .bw-sub li {
  padding: 0 15px 0 25px;
  margin: 0;
  line-height: 50px;
  height: 50px;
  background: #f7f7f7 url("../images/icon-arrow.png") no-repeat;
  background-size: 15px;
  background-position: right;
  font-size: 12px;
  color: #737373;
  cursor: pointer; }

.bw-accordion .bw-sub li.on,
.bw-accordion .bw-sub li:hover {
  background: #e7e5e5 url("../images/icon-arrow-ivt.png") no-repeat;
  background-size: 15px;
  background-position: right;
  color: #4252ae; }

.bw-accordion .bw-sub .fa {
  margin-right: 3px;
  color: #666666;
  font-size: 10px; }

.bw-accordion .fix-r {
  right: 40px; }

.main-contents .bw-accordion h3 .btn-wrap .bw-icon {
  margin-right: 0; }

/*BW-BTN*/
.btn-util .bw-btn:hover {
  background: #ededed !important; }

.bw-btn-txt {
  border: 1px solid rgba(87, 108, 197, 0.5);
  color: #576cc5;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  display: inline-block;
  border-radius: 3px; }

.bw-btn-txt.on {
  background: #576cc5;
  color: white; }

.bw-btn-sign {
  border: 1px solid #eeeeee;
  background: #f7f7f7;
  border-radius: 30px;
  color: #888888;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  float: right;
  display: inline-block; }

.bw-btn-sign.succ {
  border: 1px solid #78e2d3;
  background: #e7faf7;
  color: #00bf93;
  cursor: none; }

.bw-btn-sign.fail {
  border: 1px solid #fc004e;
  background: #ffeef3;
  color: #fc004e;
  cursor: none; }

.bw-btn-form, .unit.bw-btn-form, .ui-widget button.bw-btn-form {
  border: 1px solid #5B6DBF;
  background: white;
  border-radius: 30px;
  color: #5B6DBF;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 0 10px;
  margin-right: 10px;
  margin-bottom: 8px; }

.bw-btn-form:hover, .unit.bw-btn-form:hover, .on.bw-btn-form, .on.unit.bw-btn-form, .ui-widget button.bw-btn-form:hover, .ui-widget button.on.bw-btn-form {
  background: #5B6DBF;
  color: white; }

.bw-btn-form.unit:disabled {
  border: 1px solid #cccccc;
  background: #eeeeee;
  color: #cccccc; }

.bw-btn-form.unit:disabled:hover {
  border: 1px solid #cccccc;
  background: #eeeeee;
  color: #cccccc; }

.ui-widget button.bw-btn-form {
  font-size: 11px; }

.btn-wrap .bw-btn-txt {
  margin: 0 5px; }

.bw-tool .bw-btn-txt {
  display: inline-block;
  float: left;
  letter-spacing: -1px;
  padding: 0 5px;
  line-height: 25px;
  height: 25px;
  border-radius: 3px;
  font-size: 11px;
  margin-top: 7px; }

.bw-tool .bw-btn-txt:hover,
.bw-tool .bw-btn-txt.on {
  background: #576cc5;
  color: white; }

.bw-btn-icon {
  color: white;
  font-size: 10px;
  padding: 0 5px;
  line-height: 20px;
  text-transform: uppercase; }

/*UNIT*/
.unit {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left; }

/*BW-TITLE*/
.bw-tt {
  font-size: 16px;
  font-weight: 500;
  color: #4553a8;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  background: url("../images/bg-tt.png") no-repeat left center;
  background-size: 10px;
  padding-left: 15px; }

.bw-stt {
  font-size: 15px;
  font-weight: 500;
  color: #656565;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 0; }

.desc {
  font-size: 12px;
  color: #555555;
  font-weight: 400;
  display: inline-block;
  margin-left: 20px; }

.bw-desc {
  font-size: 12px;
  color: #444444;
  font-weight: 500;
  margin: 0;
  padding: 0; }

.search-wrap .bw-desc {
  color: #666666;
  line-height: 25px;
  font-weight: 400; }

/*MODULE*/
.module-wrap {
  position: relative;
  width: 100%;
  display: inline-block; }

.module {
  position: relative;
  display: inline-block;
  float: left; }

.module-wrap:after {
  clear: both;
  content: "";
  display: block; }

.module .bw-grid {
  margin: 20px; }

.module:first-child .bw-grid {
  margin-right: 10px; }

.module:last-child .bw-grid {
  margin-left: 10px; }

/*2COL LAYOUT*/
.layout-wrap {
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  bottom: 20px; }

.layout {
  position: absolute;
  top: 0;
  bottom: 0; }

.layout.col1 {
  left: 0;
  width: 250px;
  border: 1px solid #eee;
  overflow: auto; }

.layout.col1 .bw-tool, .layout.col1 .search-wrap {
  border-left: 0;
  border-right: 0; }

.layout.col1 .bw-tool {
  border-bottom: 1px solid #eee; }

.layout.col2 {
  left: 260px;
  right: 0; }

.layout .bw-tool .bw-input {
  padding: 0;
  margin: 0;
  border: 0; }

/*SEARCH*/
.bw-input[type="checkbox"],
.bw-input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 !important;
  background: #eeeeee;
  width: 25px !important;
  height: 25px !important; }

.bw-input[type="checkbox"] {
  background: url("../images/check_btn.png") no-repeat 0 0;
  background-size: 100%; }

.bw-input[type="radio"] {
  background: url("../images/radio_btn.png") no-repeat 0 0;
  background-size: 100%; }

.bw-input[type="checkbox"]:checked,
.bw-input[type="radio"]:checked {
  background-position: 0 -25px; }

.bw-input[type="checkbox"]:disabled,
.bw-input[type="radio"]:disabled {
  background-position: 0 -50px; }

select.bw-input.ipt-select {
  background: transparent url("../images/arrow-btm.png") no-repeat;
  background-position: right;
  background-size: 20px;
  padding-right: 30px;
  text-indent: 0;
  height: 25px;
  font-size: 12px; }

select.bw-input.ipt-select.disabled {
  background: transparent url("../images/arrow-btm-disabled.png") no-repeat;
  background-position: right;
  background-size: 20px; }

select::-ms-expand {
  display: none; }

.bw-input.ipt-cal {
  background: url("../images/ipt-cal.png") no-repeat;
  background-position: right;
  background-size: 20px;
  padding-right: 20px;
  text-indent: 0; }

.bw-input.ipt-cal:disabled {
  background: url("../images/ipt-cal-disabled.png") no-repeat;
  background-position: right;
  background-size: 20px; }

.bw-input.ipt-time {
  background: url("../images/ipt-time.png") no-repeat;
  background-position: right;
  background-size: 20px;
  padding-right: 20px;
  text-indent: 0; }

.bw-input.ipt-time:disabled {
  background: url("../images/ipt-time-disabled.png") no-repeat;
  background-position: right;
  background-size: 20px; }

.bw-input.ipt-radio, .input-wrap .bw-input.ipt-radio {
  width: 25px;
  height: 25px; }

.search-wrap {
  border: 1px solid #eeeeee;
  padding: 5px 5px 2px; }

.search-wrap li {
  float: left;
  display: inline-block; }

.search-wrap tr > td:last-child .input-wrap {
  margin-right: 0; }

.input-wrap {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  padding: 0 10px 0 0;
  margin-right: 10px;
  margin-bottom: 3px;
  text-align: left; }

.input-wrap.add-btn {
  padding: 0 30px 0 0;
  position: relative; }

.input-wrap.add-btn .bw-btn {
  right: 10px;
  top: 0; }

.input-wrap .radio-wrap label {
  margin-right: 10px; }

.input-wrap .bw-input.add-line {
  background: url("../images/bg-label-input.png") no-repeat right;
  background-size: auto 100%; }

.input-wrap .txt-wrap2 {
  display: inline-block;
  float: left;
  height: auto !important; }

/*margin-top:10px;*/
.input-wrap .txt-wrap35 {
  display: inline-block;
  float: left;
  height: 35px;
  width: 100% !important; }

/*margin-top:10px;*/
.input-wrap .bw-label {
  display: inline-block;
  width: 90px;
  color: #5563b2;
  text-indent: 20px;
  font-size: 12px;
  font-weight: 400;
  background: url("../images/bg-label.png") no-repeat right;
  background-size: auto 100%;
  text-align: left;
  background-position-x: calc(100% + 7px);
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.input-wrap.asterisk {
  background: url("../images/asterisk.png") no-repeat;
  background-size: 6px;
  background-position: 13px; }

.input-wrap .bw-input.ipt-cal {
  width: 100%; }

.l-c .input-wrap {
  margin-right: 0; }

.l-line .input-wrap {
  margin-bottom: 0; }

.input-wrap.fix-label {
  position: relative; }

.input-wrap.fix-label .bw-label {
  width: 120px !important; }

.input-wrap.fix-label .bw-input {
  position: absolute;
  right: 10px;
  top: 0;
  left: 120px;
  bottom: 0;
  width: calc(100% - 130px); }

.input-wrap.fix-label.add-btn .bw-input {
  position: absolute;
  right: 10px;
  top: 0;
  left: 120px;
  bottom: 0;
  width: calc(100% - 150px); }

.input-wrap.fix-tel {
  width: calc(100% - 10px);
  position: relative; }

.input-wrap.fix-tel .bw-label {
  width: 120px !important; }

.input-wrap.fix-tel .bw-input.tel {
  position: absolute;
  left: 120px;
  right: 0; }

.input-wrap.fix-tel .bw-input.tel .bw-input.clear {
  background: transparent;
  text-align: center;
  padding-right: 10px; }

.input-wrap.sign-succ {
  border: 1px solid #78e2d3;
  background: #e7faf7; }

.input-wrap.sign-succ .bw-input {
  background: transparent;
  color: #00bf93;
  font-weight: 500; }

.input-wrap.sign-fail {
  border: 1px solid #fc004e;
  background: #ffeef3; }

.input-wrap.sign-fail .bw-input {
  background: transparent;
  color: #fc004e;
  font-weight: 500; }

.input-wrap.single-type {
  padding: 0 10px; }

.input-wrap.single-type .bw-input {
  width: 100%; }

.fix-txtarea-h300 {
  height: 300px !important;
  overflow: hidden;
  margin: 0 !important; }

/*SECTION- ACCORDION MENU*/
.sub-section {
  border: 1px solid #ced3ec;
  padding: 20px;
  background: #fdfdfd;
  margin-bottom: 20px; }

.sub-section h4 {
  margin-top: 0;
  font-size: 13px;
  font-weight: 500; }

/*TEXTAREA*/
.txt-wrap {
  position: absolute;
  right: 0;
  top: 10px;
  left: 142px;
  height: 150px;
  display: block; }

.bw-textarea {
  height: 50px;
  margin: 0;
  padding: 0 10px;
  overflow-y: auto;
  resize: none;
  background: white;
  border-radius: 5px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #eeeeee;
  font-size: 12px !important;
  color: #666666; }

.input-wrap.fix-txtarea .bw-label {
  width: 119px; }

.input-wrap.fix-txtarea .txt-wrap2 {
  width: calc(100% - 119px); }

.input-wrap.fix-txtarea35 .bw-label {
  width: 119px; }

.input-wrap.fix-txtarea35 .txt-wrap35 {
  width: calc(100% - 119px); }

/*TEXTAREA-2017.03.31*/
.fix-txtarea {
  line-height: 170px; }

.fix-txtarea35 {
  line-height: 40px; }

.input-wrap.fix-txtarea {
  border-radius: 8px; }

.input-wrap.fix-txtarea .bw-label {
  vertical-align: middle;
  line-height: 170px;
  height: 170px;
  background: transparent; }

.input-wrap.fix-txtarea .bw-textarea {
  border: 0;
  border-left: 1px solid #949ed3;
  border-radius: 0;
  height: 150px; }

.input-wrap.fix-txtarea35 {
  border-radius: 8px; }

.input-wrap.fix-txtarea35 .bw-label {
  vertical-align: middle;
  line-height: 35px;
  height: 35px;
  background: transparent; }

.input-wrap.fix-txtarea35 .bw-textarea {
  border: 0;
  border-left: 1px solid #949ed3;
  border-radius: 0;
  height: 35px; }

.fix-txtarea.h-200 {
  line-height: 220px; }

.input-wrap.fix-txtarea.h-200 .bw-label {
  line-height: 220px;
  height: 220px; }

.input-wrap.fix-txtarea.h-200 .bw-textarea {
  height: 200px; }

/*BW-TOOL*/
.bw-tool {
  position: relative;
  height: 40px;
  background: #f6f6f6;
  line-height: 40px;
  padding-left: 10px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; }

.bw-tool select.bw-input.ipt-select, .bw-tool .bw-input {
  padding: 0 30px 0 10px;
  border: 1px solid #dedede;
  border-radius: 0; }

.bw-tool .bw-input,
.bw-tool .bw-desc {
  margin-right: 5px;
  display: inline-block; }

.bw-tool:after {
  clear: both;
  display: block;
  content: ""; }

.btn-wrap {
  display: inline-block; }

.btn-wrap .bw-btn {
  display: inline-block;
  float: left;
  margin: 0;
  width: 40px;
  height: 100%; }

.btn-wrap .bw-btn.b-ctr {
  width: 20px;
  background: #eeeeee;
  margin: 0;
  border-left: 1px solid #dddddd; }

.btn-wrap .bw-btn.b-ctr .fa {
  color: #A9A9A9; }

.btn-wrap .bw-btn-txt:hover, .btn-wrap .bw-btn-txt.on {
  background: #576cc5;
  color: white; }

/*BUTTON PAGING*/
.bw-paging {
  text-align: center; }

.bw-paging:after {
  clear: both;
  content: "";
  display: block; }

.bw-paging > div {
  display: inline-block;
  vertical-align: middle; }

.paging-btn {
  margin: 0 20px; }

.ctr-btn .btn-paging {
  font-size: 15px; }

.ctr-btn i {
  display: block; }

.btn-paging {
  margin: 0 3px;
  color: #A7A9AC;
  font-size: 13px;
  font-weight: 100;
  border: 0;
  background: #F5F5F5;
  width: 25px;
  height: 25px; }

.btn-paging.on {
  background: #576CC5;
  border: 1px solid #576CC5;
  color: white;
  font-weight: 400; }

/*MAIN*/
.main-menu {
  height: 98%;
  overflow: auto; }

.main {
  position: fixed;
  top: 87px;
  bottom: 37px;
  left: 264px;
  right: 47px;
  border-radius: 3px;
  background: #fff;
  z-index: 6;
  border: 1px solid #d6d9f2; }

/*MENU HIDE*/
#menu-hide {
  position: absolute;
  top: 0px;
  bottom: 30px;
  left: 0;
  width: 100%;
  border-radius: 0px;
  background: white;
  z-index: 8; }

#menu-hide .fa {
  margin: 0;
  padding-left: 2px;
  width: 95%; }

#menu-hide .fa li {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #d6d9f2;
  cursor: pointer; }

#menu-hide .fa li.on,
#menu-hide .fa li:hover {
  background-color: #575dbe;
  border-bottom: 1px solid #575dbe; }

/*FOOTER*/
.footer {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  background: #515255;
  color: #eee; }

.footer .log-console {
  position: absolute;
  padding: 0 10px;
  height: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid #4b51bd;
  background: #5f5959;
  color: #ddd;
  line-height: 30px;
  box-sizing: content-box;
  font-weight: 300; }

.footer .header-tool .bw-util .bw-input {
  font-weight: 600;
  margin-right: 10px;
  color: white !important; }

#footer .log-console .bx-btn {
  float: right;
  margin-left: 4px;
  margin-top: 4px;
  color: #4e55bd;
  border-radius: 3px; }

#footer .cbb-log-message-area {
  display: none;
  position: absolute;
  height: 150px;
  right: 0;
  bottom: 30px;
  left: 0;
  padding: 5px 10px;
  background: rgba(145, 148, 199, 0.63);
  color: #eee;
  overflow: auto; }

/*rgba(78,85,189,0.65)*/
#footer .cbb-service-status {
  font-weight: 500;
  color: #4e54bd;
  text-transform: uppercase;
  font-size: 11px;
  font-style: italic;
  font-weight: 500; }

/*DATEPICKER*/
#ui-datepicker-div {
  background: #ffffff;
  border: 1px solid #eeeeee; }

.ui-datepicker .ui-datepicker-header {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #5b6dbf;
  background: transparent; }

.ui-datepicker .ui-datepicker-title {
  color: #4553a8;
  font-weight: normal; }

#ui-datepicker-div .ui-state-default {
  background: transparent;
  border: 0;
  text-align: center; }

#ui-datepicker-div .ui-state-hover {
  background: #5b6dbf;
  font-weight: normal;
  color: white; }

/*SWEET ALERT */
.sweet-alert h2 {
  margin-bottom: 0px;
  font-size: 14px; }

.sweet-alert p {
  padding: 20px 40px 0 !important;
  color: #4d4d4f !important;
  line-height: 20px !important;
  font-size: 14px !important; }

.sweet-alert .sa-error-container.show p {
  padding: 0 !important; }

.sweet-alert {
  width: 600px !important;
  margin-left: -300px !important;
  padding: 30px 0;
  border-radius: 0 !important; }

.sweet-alert button {
  background-color: #576CC5 !important;
  height: 30px !important;
  border: 1px solid #576CC5 !important;
  width: 70px !important;
  border-radius: 3px !important;
  padding: 0 !important;
  cursor: pointer;
  font-size: 14px;
  box-shadow: none !important; }

.sweet-alert button.cancel {
  background-color: white !important;
  color: #576CC5 !important; }

/*FONT AWESOME*/
.fa-stack {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important; }

.fa-stack .fa.fa-inverse {
  font-size: 8px;
  font-weight: bold; }

/*TOOLTIP*/
.ui-tooltip, .arrow:after {
  background: #555555;
  color: #666666; }

.ui-tooltip {
  padding: 3px 10px;
  color: white;
  font-size: 12px;
  font-family: 'Noto Sans KR',sans-serif;
  border-radius: 0;
  line-height: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 0px black;
  border: 0; }

.arrow {
  width: 60px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -16px; }

.arrow.top {
  top: -16px;
  bottom: auto; }

.arrow.left {
  left: 20%; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 20px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.arrow.top:after {
  bottom: -20px;
  top: auto; }

/*MODAL*/
.modal-wrap {
  position: absolute;
  padding: 30px;
  background: white;
  text-align: center;
  z-index: 999999 !important;
  border-radius: 5px; }

.modal-title {
  cursor: pointer; }

/*LOGIN*/
.login-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("../images/login-bg.jpg") no-repeat;
  background-size: cover; }

.login-container {
  position: absolute;
  width: 350px;
  height: 460px;
  top: 50%;
  margin-top: -230px;
  left: 50%;
  margin-left: -175px;
  background: rgba(85, 99, 176, 0.74);
  text-align: center; }

.login-container h1 {
  line-height: 40px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: url("../images/login-bar.png") no-repeat 100%;
  background-position: top; }

.login {
  margin: 20px 0 30px; }

.login ul {
  width: 80%;
  margin: 0 auto; }

.login li {
  line-height: 50px;
  margin-bottom: 10px; }

.login input[type="text"]::-webkit-input-placeholder {
  color: white; }

.login input[type="password"]::-webkit-input-placeholder {
  color: white; }

.login input[type="text"]::-moz-placeholder {
  color: white; }

.login input[type="password"]::-moz-placeholder {
  color: white; }

.login .bw-input {
  width: 100%;
  height: 40px;
  border: 0;
  line-height: 40px;
  color: white;
  text-indent: 10px;
  background: rgba(255, 255, 255, 0.14); }

.login .bw-input.ipt-select {
  height: 40px;
  text-indent: 10px !important;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.14) url("../images/arrow-btm-login.png") no-repeat;
  background-position: right;
  background-size: 25px; }

.login .bw-input.ipt-select option {
  background: white;
  padding: 10px 0 10px 20px;
  color: #4553a8; }

.login .bw-btn-txt {
  width: 100%;
  height: 40px;
  border: 0;
  background: white;
  border-radius: 0; }

.login .bw-btn-txt:hover {
  background: #576cc5;
  color: white;
  font-size: 13px; }

.bw-copyright {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.56);
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: .5px; }

.clr-mg-t {
  margin-top: 0px !important; }

/*.layout .unit-tree-wrap {margin-left: 10px;}*/
.layout.col1 .bw-search {
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  text-align: center; }

.layout.col1 .bw-search label {
  vertical-align: text-bottom; }

.search-wrap li .bw-btn-txt {
  margin-top: 6px;
  height: 25px; }

.layout td .bw-input[type="checkbox"] {
  margin-top: 6px; }

.border-b {
  border-bottom: 1px solid #eee; }

.unit-tree-wrap {
  width: 100%;
  height: 250px;
  overflow-y: auto;
  text-align: left; }

button:disabled {
  cursor: default !important; }

.bw-btn-form, .unit.bw-btn-form, .ui-widget button.bw-btn-form {
  border: 1px solid #5B6DBF;
  background: #5B6DBF;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 0 10px;
  margin-right: 10px;
  margin-bottom: 8px; }

.bw-btn-form:hover, .unit.bw-btn-form:hover, .on.bw-btn-form, .on.unit.bw-btn-form, .ui-widget button.bw-btn-form:hover, .ui-widget button.on.bw-btn-form {
  background: #5B6DBF;
  color: white; }

.ui-widget button.bw-btn-form {
  font-size: 11px; }

.bw-tree-show-btn {
  width: 20px;
  height: 40px;
  border-top: 2px solid #5b6dbf !important;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: #f6f6f6; }

.bw-btn.toggled .fa {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.bw-btn.toggled .i-func-close {
  background-position: -200% -1500%; }

.bw-modal-wrap {
  position: relative;
  padding: 30px;
  background: white;
  text-align: center;
  z-index: 9998 !important;
  border-radius: 5px; }

.bx-popup-header-area {
  cursor: pointer; }

.empty-message-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.empty-message-wrap .empty-message {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #5b6dbf;
  font-size: 16px; }

/*MAIN CONTENTS*/
.main-contents {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: auto; }

/*tree관련 - 1216추가*/
.main-contents.add-tree {
  overflow-y: hidden;
  top: 0; }

.main-contents.add-tree .bw-inner-contents {
  overflow-y: auto; }

.main-contents.add-tree .unit-tree-wrap {
  position: absolute;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto !important;
  overflow: auto;
  width: auto; }

.ipt-select:disabled {
  background: #EBEBE4 !important; }

.portlets-main-content-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 96%; }

.portlet-title {
  height: 40px; }

.portlet-main {
  padding-bottom: 2px; }

.add-portlet-bd-t {
  border-top: 1px solid #eee; }

.portlet-close-div {
  float: right;
  position: relative; }

.modal-message-wrap .input-wrap.fix-txtarea .bw-textarea {
  border-left: 1px solid white !important; }

/*MESSAGE GRID*/
.modal-message-wrap #detailMessageAcordion .bw-grid {
  position: relative; }

.modal-message-wrap #detailMessageAcordion .bw-grid.add-bd {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee; }

.modal-message-wrap #detailMessageAcordion .bw-grid table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center; }

.modal-message-wrap #detailMessageAcordion .bw-grid th {
  height: 40px;
  background: white;
  color: #5b6dbf;
  letter-spacing: -.5px;
  font-weight: 500;
  border-bottom: 1px solid #5b6dbf;
  font-size: 12px; }

.modal-message-wrap #detailMessageAcordion .bw-grid th strong {
  font-weight: 500; }

.modal-message-wrap #detailMessageAcordion .bw-grid td {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
  font-size: 12px;
  color: #666666; }

.modal-message-wrap #detailMessageAcordion .bw-grid tr:last-child td {
  border-bottom: 0; }

.modal-message-wrap #detailMessageAcordion .bw-grid tr.selected td {
  background: #F1F6FF; }

.modal-message-wrap #detailMessageAcordion .bw-grid td .fa {
  font-size: 16px; }

.modal-message-wrap #detailMessageAcordion .bw-grid.bw-form td {
  text-align: left; }

.modal-message-wrap #detailMessageAcordion .bw-grid.bw-form .bw-label {
  line-height: 40px; }

.modal-message-wrap #detailMessageAcordion .bw-grid.bw-form .bw-input.ipt-radio {
  vertical-align: middle; }

.modal-message-wrap #detailMessageAcordion .bw-grid.bw-form .bw-textarea {
  margin: 5px 0; }

.modal-message-wrap #detailMessageAcordion .bw-grid td input {
  border: 0px;
  border-color: white;
  text-align: center;
  width: 100%; }

input[type="text"][readonly] {
  background-color: #ebebe4 !important; }

/*전체너비조절*/
.header {
  min-width: 1280px; }

.main {
  min-width: 969px; }

/*(1280px-311px)*/
.footer {
  min-width: 1280px; }

.search-wrap .bw-input {
  border: 0 !important; }

.bw-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 25px;
  height: 25px;
  border: 0;
  font-size: 12px;
  color: #666666; }

.bw-input.ipt-tel {
  background: url("../images/ipt-tel.png") no-repeat;
  background-position: right;
  background-size: 10px;
  padding-right: 10px;
  text-indent: 0;
  text-align: center; }

/*more버튼 20170712추가*/
.bw-btn-form-more {
  border: 1px solid #5B6DBF;
  background: #5B6DBF;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 0 10px;
  margin-top: 9px;
  margin-left: 9px; }

/*GRID 20170712추가*/
.bw-grid {
  position: relative; }

.bw-grid.add-bd {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee; }

.bw-grid table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center; }

.bw-grid th {
  height: 40px;
  background: white;
  color: #5b6dbf;
  letter-spacing: -.5px;
  border-bottom: 1px solid #5b6dbf;
  font-size: 12px; }

.bw-grid th strong {
  font-weight: 500; }

.bw-grid td {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
  font-size: 12px;
  color: #666666; }

.bw-grid tr:last-child td {
  border-bottom: 0; }

.bw-grid tr.selected td {
  background: #F1F6FF; }

.bw-grid td .fa {
  font-size: 16px; }

.search-wrap .bw-grid {
  margin: 10px; }

/*TAB 20170712추가*/
.tab_menu_default {
  height: 30px; }

.tab_menu_default li {
  float: left; }

.tab_menu_default li.first-tab.on-tab {
  background-color: #5b6dbf;
  border: 1px solid #5b6dbf; }

.tab_menu_default li.first-tab.on-tab a {
  color: #fff; }

.tab_menu_default li {
  background-color: #fff;
  width: 114px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid #ededed; }

.workflow-menu {
  border-bottom: 2px solid #5b6dbf;
  width: 228px; }

/*SLIDE BANNER 20170712추가*/
.bn_slide_area {
  display: block;
  position: fixed;
  bottom: 37px;
  right: 10px;
  z-index: 9; }

.bn_slide {
  position: relative;
  width: 270px;
  height: 140px;
  background-color: #fff;
  border: 1px solid #5b6dbf;
  background-color: #eff0fa;
  color: #666; }

.bn_slide_close {
  position: absolute;
  right: 0; }

.bn_slide_notice {
  padding: 30px;
  line-height: 20px; }

.bn_slide_notice .notice_theme {
  font-weight: bold;
  color: #5b6dbf; }

.bn_slide_notice .bn_slide_notice_sq {
  background: url("../images/tanzanite/icon_sq.svg") no-repeat;
  background-size: 10px; }

.footer-push {
  position: absolute;
  right: 215px;
  top: 50%;
  margin-top: -15px; }

.bell {
  background: url("../images/bell.svg") no-repeat;
  float: left;
  display: inline-block;
  line-height: 30px;
  background-size: 17px;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto; }

.footer .header-tool .footer-push a em {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 15px;
  height: 15px;
  background: #fd1020;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-indent: 0;
  text-align: center;
  font-style: normal; }

/*20170718 theme-neptune-all.css 의 확장 class 추가*/
.x-grid-cell-inner-portlet {
  position: relative;
  text-overflow: ellipsis;
  padding: 5px 7px 4px;
  font-size: 12px; }

/*20170718 theme-neptune-all.css 의 확장 class 추가*/
.x-column-header-inner-portlet {
  padding: 7px 5px;
  font-size: 12px; }
