/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for service template
 * 서비스템플릿 CSS 
 */
/*서비스그룹*/
.classification-structure-base-management-popup .bx-info-table th, .classification-management-popup .bx-info-table th {
    width:150px;
}
.classification-structure-base-management-popup .bx-info-table select, .classification-management-popup .bx-info-table select{
    width: 145px;
}
.classification-structure-base-management-popup .bx-info-table .calendar,  .classification-management-popup .bx-info-table .calendar {
    width: 145px;
}
/*서비스그룹상세 th*/
.pf-cl .pf-cl-rel-form th {
    width:150px;
}

/*상품관계그리드*/
.pf-cl .pf-prod-group-grid {
    height: 200px;
}

/*조건정보 우측 펼침 버튼*/
.pf-cl-condition-info-tpl .header-btn-group, .pf-cl-apply-rule-tpl .header-btn-group {
    position: absolute;
    right: 14px;
    top: -2px;
    z-index: 1;
}
/*조건정보 width*/
.pf-cl .pf-cl-panel {
    width: 925px;
}

/*그리드 위 헤더*/
.pf-cl .prod-group-grid-header {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #515151;
}

/*저장버튼영역*/
.pf-cl .pf-panel .pf-panel-body .pf-panel-footer {
    padding-bottom: 30px;
}
/*저장버튼*/
.pf-cl .pf-cl-panel .pf-panel-footer button {
    float: right;
    margin-left: 10px;
}

/*조건정보그리드*/
.pf-cl .pf-cnd-tmplt-grid {
    height: 200px;
}

/*달력 width*/
input.calendar {
    width:145px;
}

/*조건정보 상세팝업의 복합설정버튼*/
.cl-condition-value-wrap .condition-value.active, .cl-condition-value-wrap .complex-grid-wrap.active {
    display:block;
}
.cl-condition-value-wrap .condition-value, .cl-condition-value-wrap .complex-grid-wrap {
    display:none;
    margin-top:10px;
}

.prod-group-cnd-complex-grid {
    height:230px;
}

.cl-condition-value-wrap .condition-value, .cl-condition-value-wrap .complex-grid-wrap {
    display: none;
    margin-top: 10px;
}
.cl-condition-value-wrap .condition-value.active, .cl-condition-value-wrap .complex-grid-wrap.active {
    display: block;
}
.cl-condition-value-wrap .condition-value, .cl-condition-value-wrap .complex-grid-wrap {
    display: none;
    margin-top: 10px;
}
.additional-info-wrap {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid;
}
.additional-info-wrap .cnd-value-type2-table th {
    /* width: 100px; */
    width:40px;
}
.additional-info-wrap .cnd-value-type2-table select, .additional-info-wrap .cnd-value-type2-table input[type=text] {
    width: 180px;
}
.pf-cp-base-history-popup .pf-cp-base-history-grid-title, .pf-cp-base-history-popup .pf-cp-condition-history-grid-title, .pf-cp-condition-history-popup .pf-cp-base-history-grid-title, .pf-cp-condition-history-popup .pf-cp-condition-history-grid-title {
    margin: 5px 0;
}
.pf-cp-base-history-popup .pf-cp-condition-history-grid, .pf-cp-condition-history-popup .pf-cp-condition-history-grid {
    height: 150px;
}
/*이력조회 버튼 조정*/
.pf-cp-product-condition-panel .pf-cl-condition-view-history-btn {
    margin-top: -3px;
    float: right;
}
/*구성조건설정 팝업 설정*/
.add-cnd4-fee-condition-value-column-setting-popup {
    position: relative; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 250px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table {
    width: 250px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table th {
    width: 50px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table select {
    width: 190px; }
.add-cnd4-fee-condition-value-column-setting-popup .header-group .bx-info-table input[type=text] {
    width: 167px; }
.add-cnd4-fee-condition-value-column-setting-popup .condition-list-grid {
    position: absolute;
    top: 70px;
    left: 15px;
    width: 250px;
    height: 210px; }
.add-cnd4-fee-condition-value-column-setting-popup .column-list-grid {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 500px;
    height: 280px; }
.add-cnd4-fee-condition-value-column-setting-popup .divier-grid {
    position: absolute;
    cursor: default;
    top: 160px;
    left: 275px; }

.pf-panel-body.bx-info-table-wrap {
    margin-bottom:10px;
}

/*서비스조회 팝업 Grid Height 설정*/
.pf-cp-base-rel-service-add-popup .service-grid {
	height:250px;
}

.pf-cl .pf-tree-search .classification-search-list-wrap {
    display: none;
    position: absolute;
    width: 156px;
    height: 180px;
    border: 1px solid #888d95;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: white;
    padding: 5px 0;
    overflow: auto;
    left: 11px;
    top:35px;
}
.pf-cl .pf-tree-search .classification-search-list-wrap.active {
	display: block;
}

.pf-cl-apply-rule-wrap .calendar {
    width: 155px;
 }

 .pf-cl-apply-rule-wrap .status{
    width: 155px;
 }

 .pf-cl-apply-rule-wrap .apply-rule {
    text-align: center;
    line-height: 400%;
 }

 .pf-cl-apply-rule-wrap .apply-rule-desc {
    text-align: center;
    line-height: 200%;
    margin-top: 5px;
 }

.pf-cl-apply-rule-tpl .formula-cal-btn{
    border: 1px solid #bbbbbb;
    text-align: center;
    height: 27px;
}
.pf-cl-apply-rule-tpl .large-btn {
    width: 46px;
}
.pf-cl-apply-rule-tpl .small-btn {
    width: 35px;
}

.pf-cl-condition-info-panel{
    margin-bottom: 10px;
}