

	<section ng-init="SCU112Ctrl.init()" SCU112-wrap-directive>
		<div   id="serviceTitle"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SCU112%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SCU112Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
						<button type="button" class="bw-btn"  id="btnSchSearch" ng-click="SCU112Ctrl.btnSchSearch_Onclick()" title=""><i class="bw-icon i-30 i-func-search"></i><span class="btn_txt">조회</span></button>
						<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SCU112Ctrl.btnSchToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
					<table class="w-100">
						<tr>
							<td class="td-w-33">
								<div class="input-wrap clr" ><label class="bw-label w-40"  data-i18n="{%=cbb_items.AT#custId%}"></label>
									<input type="text" class="bw-input w-60"    data-form-param="custId" />
								</div>
							</td>
							<td class="td-w-33">
								<div class="input-wrap clr" ><label class="bw-label w-40"  data-i18n="{%=cbb_items.SCRNITM#actorUnqId%}"></label>
									<input type="text" class="bw-input w-60"    data-form-param="actorUnqIdNbr" ng-model='actorUnqIdNbrAmt' common-numeric-only-directive/>
								</div>
							</td>
							<td class="td-w-33">
								<div class="input-wrap clr" >
									<label class="bw-label w-40"  data-i18n="{%=cbb_items.SCRNITM#bizTp%}"></label>
									<select class="bw-input w-60 ipt-select"  ng-model="SCU112Ctrl.bizDscdSelectedValue" ng-change="SCU112Ctrl.bizDscd_OnChange()" data-form-param="bizDscd"></select>
								</div>
							</td>
						</tr>
						<tr>
							<td class="td-w-33">
								<div class="input-wrap clr" >
									<label class="bw-label w-40"  data-i18n="{%=cbb_items.SCRNITM#pdTp%}"></label>
									<select class="bw-input w-60 ipt-select"  data-form-param="pdTpCd"></select>
								</div>
							</td>
							<td class="td-w-33">
								<div class="input-wrap clr" ><label class="bw-label w-40"  data-i18n="{%=cbb_items.SCRNITM#pdTmplt%}"></label>
									<input type="text" class="bw-input w-60"    data-form-param="pdTmpltCd" />
								</div>
							</td>
							<td class="td-w-33">
								<div class="input-wrap clr" ><label class="bw-label w-40"  data-i18n="{%=cbb_items.AT#pdCd%}"></label>
									<input type="text" class="bw-input w-60"    data-form-param="pdCd" />
								</div>
							</td>
						</tr>
					</table>
				</section>
				<section  >
					<section class=" bw-tool add-bd2-t add-mg-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
						<h3 class="bw-desc">({{SCU112Ctrl.custArrListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn b-ctr"  id="btnacctNbrInfoGridToggle" ng-click="SCU112Ctrl.btnacctNbrInfoGridToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
					</div>
					</section>
					<section  id="acctNbrInfoGridSec"  >
						<div id="SCU112_custArrList" >
							<section class="bw-grid"></section>
						</div>
					</section>
				</section>
			</div>
			<div   class="modal-footer btn-wrap add-mg">
				<button type="button" class="bw-btn-txt"  id="btnSubmit" ng-click="SCU112Ctrl.btnSubmit_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#select%}"/></button>
				<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SCU112Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#cancel%}"/></button>
			</div>
		</div>
	</section>
