<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'setting.studio-datasource-config'}}
    <p class="desc">{{bxMsg 'setting.studio-datasource-config-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--************* 그룹 목록  *************-->
<section class="sub-section module-wrap add-bd2-t add-bd">
    <div class="module w-30">
        <div class="module w-100">
            <div class="bw-tool add-bd2-t">
                <div class="f-l">
                    <h3 class="bw-desc d-block">{{bxMsg 'setting.connection-list'}}</h3>
                </div>
                <div class="btn-wrap fix-r">
                    <button type="button" class="bw-btn add-btn"><i class="bw-icon i-25 i-func-add" title="{{bxMsg 'common.add'}}"></i></button>
                </div>
            </div>
            <section class="connection-list-grid-wrap no-dirty-cell"></section>
        </div>
    </div>

    <div class="module w-65 f-r">
        <div class="module w-100 connection-datasource-detail-wrap">
            <section class="bw-tool add-bd2-t">
                <div class="f-l">
                    <h3 class="bw-desc d-block connection-datasource-title">{{bxMsg 'setting.connection-datasource-details'}}</h3>
                </div>
                <div class="btn-wrap fix-r">
                    <button type="button" class="bw-btn save-btn" title="{{bxMsg 'common.save'}}"><i class="bw-icon i-25 i-func-save"></i></button>
                </div>
            </section>
            <!--/END BW-TOOL-->
            <!--SEARCH AREA * 검색 영역-->
            <section class="search-wrap bxm-search-wrap">
                <!--INPUT TYPE1 * 분할 없이 INLINE-->
                <ul class="clr">
                    <li class="input-wrap asterisk w-47">
                        <label class="bw-label w-50">{{bxMsg 'setting.datasource-name'}}</label>
                        <input class="bw-input w-50" data-form-param="dataSourceName"/>
                    </li>
                    <li class="input-wrap asterisk w-47">
                        <label class="bw-label w-50">{{bxMsg 'setting.use-yn'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="useYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </li>
                </ul>
                <!--/END INPUT TYPE1-->
            </section>
            <!--/END SEARCH AREA-->
            <!--GRID AREA-->
            <section class="connection-datasource-grid-wrap no-dirty-cell"></section>
            <!--/END GRID AREA-->
        </div>
    </div>
</section>
