
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SAR010_etcSmryInfoTabCtrl.gridListEtcInfoCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnGridExcel" ng-click="SAR010_etcSmryInfoTabCtrl.btnGridExcel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab8Toggle" ng-click="SAR010_etcSmryInfoTabCtrl.btnTab8Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="secSrchRslt"  >
				<div id="SAR010_etcSmryInfoTab_gridListEtcInfo" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section> 