
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SAR013_intRtTabCtrl.intRtListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnGridExcel" ng-click="SAR013_intRtTabCtrl.btnGridExcel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab5Toggle" ng-click="SAR013_intRtTabCtrl.btnTab5Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="secSrchRslt"  >
				<div id="SAR013_intRtTab_intRtList" >
					<section class="bw-grid"></section>
				</div>
				<span data-form-param="intRtCalcnWay"   style="display:none;"></span>
			</section>
		</section>