
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SCU110_noticeCtrl.noticeListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab5Excel" ng-click="SCU110_noticeCtrl.btnTab5Excel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab5Toggle" ng-click="SCU110_noticeCtrl.btnTab5Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="acctSrchRslt"  >
				<div id="SCU110_notice_noticeList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>