<div class="grid-list-item">
    <table>
        <tr>
            <td>{{bxMsg 'app-deploy.app'}}</td>
            <td data-form-param="appName" data-value="{{appName}}">{{appName}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.log-level'}}</td>
            <td>{{logLevel}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.reference-app'}}</td>
            <td>{{referenceApps}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.app-file-nm'}}</td>
            <td data-form-param="fileName" data-value="{{fileName}}">{{fileName}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.file-size'}}</td>
            <td>{{fileSize}}</td>
        </tr>
        <tr>
            <td>{{bxMsg 'app-deploy.file-system-date'}}</td>
            <td>{{lastModified}}</td>
        </tr>
    </table>
    <div class="check-btn"></div>
</div>