<div class="modal-wrap">
    <h2 class="bw-tt a-center auth-setting-grid-title"></h2>
    <div class="bw-grid add-mg-zero add-bd2-t bx-no-draggable">
        <!--GRID AREA-->
        <section class="auth-setting-grid"></section>
        <!--/END GRID AREA-->
    </div>
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-auth-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
