<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd"
       default-autowire="byName">

	<bean id="CBBNXA"
		class="com.alipay.zdal.client.dispatch.datasource.DefaultDispatchableDataSource"
		init-method="init" destroy-method="close">
		<property name="appName" value="cbbcloud" />
		<property name="appDataSourceName" value="DDSDatasource" />
		<property name="envType" value="dev" />
		<property name="zdalConfigurationPath" value="/cbpprod/dds_config" />
		<property name="deployEnvId" value="DEFAULT" />
		<property name="zdalDataConsoleUrl" value="DEFAULT" />
	</bean>
	<bean id="CBBXA"
		class="com.alipay.zdal.client.dispatch.datasource.DefaultDispatchableDataSource"
		init-method="init" destroy-method="close">
		<property name="appName" value="cbbcloud" />
		<property name="appDataSourceName" value="DDSDatasource" />
		<property name="envType" value="dev" />
		<property name="zdalConfigurationPath" value="/cbpprod/dds_config" />
		<property name="deployEnvId" value="DEFAULT" />
		<property name="zdalDataConsoleUrl" value="DEFAULT" />
	</bean>
</beans>
