<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'centerCut.centerCutServerManagement'}}
    <p class="desc">{{bxMsg 'centerCut.centerCutServerManagementMsg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--GRID AREA-->
<section class="add-bd2-t bxm-grid-wrap"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'centerCut.centerCutServerDetails'}}
    <p class="desc bxm-detail-title"></p>
</h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr bx-loding-wrap bxm-detail-wrap">
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.serverType'}}</label>
                <input type="text" class="bw-input ipt-select w-60" data-form-param="svrType"
					data-code="BXMCC0017" readonly/>
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.nodeNo'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="nodeNum" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.serverName'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="svrNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.serverIp'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="svrIp" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.serverPort'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="svrPort" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.useYn'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="useYn" readonly />
            </div>
        </li>
        <li class="w-66">
            <div class="input-wrap clr">
                <label class="bw-label w-20">{{bxMsg 'centerCut.requestAddress'}}</label>
                <input type="text" class="bw-input w-80" data-form-param="requestUri" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'centerCut.autoSvrYn'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="autoSvrYn" readonly />
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->