
	<section  id='SUE012' ng-init="SUE012Ctrl.init()">
		<div   id="ipctTitle"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SUE012%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SUE012Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33" colspan="2">
							<div class="input-wrap fix-label clr asterisk clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#asmId%}" data-i18n-title="{%=cbb_items.AT#asmId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="asmId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.AT#asmStsCd%}" data-i18n-title="{%=cbb_items.AT#asmStsCd%}"></label>
								<select class="bw-input ipt-select" disabled data-form-param="asmStsCd"></select>
							</div>
						</td>
					</tr>
				</table>
			</section>
		</div>
			<section class=" bw-tool add-bd2-t add-mg-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#rjctdRsn%}"></h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnRgst" ng-click="SUE012Ctrl.btnRgst_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#aplctnRjct%}"/></button>
			</div>
			</section>
		<section  id="rjctdRsn"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_rjctdRsn" >
				<td class="td-w-33" colspan="3">
					<div class="input-wrap fix-label asterisk clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#rjctdRsnCd%}" data-i18n-title="{%=cbb_items.AT#rjctdRsnCd%}"></label>
						<select class="bw-input ipt-select"  data-form-param="rjctdRsnCd"></select>
					</div>
				</td>
			</tr>
			<tr  name="tr_rjctdRsn" >
				<td class="td-w-33" colspan="3">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#rjctdRsnCntnt%}" data-i18n-title="{%=cbb_items.AT#rjctdRsnCntnt%}"></label>
						<input type="text"  maxlength='4000' dec='0' class="bw-input a-left"   data-form-param="rjctdRsnCntnt" />
					</div>
				</td>
			</tr>
		</table>
	</section>
	<div   class="modal-footer btn-wrap add-mg">
		<button type="button" class="bw-btn-txt"  id="btnCancel" ng-click="SUE012Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#close%}"/></button>
	</div>
</div>
</section>