<div class="modal-wrap">
    {{#if trxGrpId}}<h2 class="bw-tt a-center">{{bxMsg 'online.online-group-edit'}}({{trxGrpId}})</h2>{{/if}}
    {{#unless trxGrpId}}<h2 class="bw-tt a-center">{{bxMsg 'online.online-group-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t fix-h bx-no-draggable trx-group-form">
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'online.trx-group-id'}}</label>
                    {{#if trxGrpId}}<input type="text" class="bw-input w-60" data-form-param="trxGrpId" value="{{trxGrpId}}" readonly>{{/if}}
                    {{#unless trxGrpId}}<input type="text" class="bw-input w-60" data-form-param="trxGrpId">{{/unless}}
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'online.trx-group-name'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="trxGrpNm" value="{{trxGrpNm}}" />
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'online.use-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="useYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-trx-group-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>