/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for Activity
 * 액티비티관리 CSS 
 */
.pf-pa .pf-page-conts { margin: 10px auto; }
.pf-pa th { width: 90px;text-align: left; }
.pf-pa .activity-query-table td { line-height: 29px; }
.pf-pa .activity-query-table td input { width: 351px; }
.pf-pa .activity-query-table td .user-id { width: 84px; }
.pf-pa .activity-query-table td .user-name { width: 140px; }
.pf-pa .activity-query-table td .calendar { width: 168px; }
.pf-pa .activity-query-table tr { margin-bottom: 10px;height: 35px; }
.pf-pa .activity-query-table .padding-th { padding-left: 10px; }
.pf-pa .task-query-button-box { margin-top: 5px;text-align: right; }
.pf-pa .dev-task-activity-grid { height: 200px; }
.pf-pa .middle-grid { height: 350px; }
.pf-pa-activity-master-form .activity-info-table { margin-bottom: 30px; }
.pf-pa-activity-master-form td input { width: 205px !important; }
.pf-pa-activity-master-form td input.activity-name { width: 100% !important; }
.pf-pa-activity-master-form th { width: 130px;text-align: left; }
.pf-pa-activity-master-form .second-th { padding-left: 10px; }
.pf-pa-activity-master-form select { width: 205px; }
.pf-pa-activity-master-form .bx-info-table > tr > td textarea, .pf-pa-activity-master-form .bx-info-table > tbody > tr > td textarea {
    width: 100%;height: 100px;margin: 4px 0; }
.pf-pa-activity-master-form h3 { margin: 10px 0 5px 0; }
.pf-pa-activity-master-form .grid-btn-box { margin-top: 5px;text-align: right; }
.pf-pa-activity-master-form .dev-proposal-register-table input.calendar { width: 170px; }
.pf-pa-activity-master-form .panel { border: none;box-shadow: none; }
.pf-pa-activity-master-form .product-info-box { margin-top: 10px; }
.pf-pa-activity-master-form .target-obj-grid { margin-top: 10px; }