
	<section  id='SUE028' ng-init="SUE028Ctrl.init()">
		<div   id="ipctTitle"  >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SUE028%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SUE028Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
						<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SUE028Ctrl.btnSchToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label clr asterisk clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#asmId%}" data-i18n-title="{%=cbb_items.AT#asmId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="asmId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custId%}" data-i18n-title="{%=cbb_items.AT#custId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custNm%}" data-i18n-title="{%=cbb_items.AT#custNm%}"></label>
								<input type="text"  maxlength='50' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custNm" />
							</div>
						</td>
					</tr>
				</table>
			</section>
			<section   class="w-100">
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#aprvlCndInfo%}"></h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn b-ctr"  id="btnAprvlCndInfoToggle" ng-click="SUE028Ctrl.btnAprvlCndInfoToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
				</div>
				</section>
				<section  id="aprvlCndInfo"  class="w-100">
					<div id="SUE028_gridList" >
						<section class="bw-grid"></section>
					</div>
				</section>
			</section>
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#aprvlCndExctnList%}"></h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn"  id="btnAprvlCndExctnListReset" ng-click="SUE028Ctrl.btnAprvlCndExctnListReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
					<button type="button" class="bw-btn"  id="btnAprvlCndExctnListPlus" ng-click="SUE028Ctrl.btnAprvlCndExctnListPlus_Onclick()" title=""><i class="bw-icon i-30 i-func-add"></i></button>
					<button type="button" class="bw-btn b-ctr"  id="btnAprvlCndExctnListToggle" ng-click="SUE028Ctrl.btnAprvlCndExctnListToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
				</div>
				</section>
			<section  id="aprvlCndExctnList"  class="search-wrap">
			<table class="w-100" >
				<tr  name="tr_aprvlCndExctnList" >
					<td class="td-w-33">
						<div class="input-wrap fix-label asterisk clr" >
							<label class="bw-label "  data-i18n="{%=cbb_items.AT#aprvlVldtnRqstCd%}" data-i18n-title="{%=cbb_items.AT#aprvlVldtnRqstCd%}"></label>
							<select class="bw-input ipt-select"  data-form-param="aprvlVldtnRqstCd"></select>
						</div>
					</td>
					<td class="td-w-33">
						<div class="input-wrap fix-label clr" >
							<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#exctnYn%}" data-i18n-title="{%=cbb_items.SCRNITM#exctnYn%}"></label>
							<select class="bw-input ipt-select"  data-form-param="exctnYn"></select>
						</div>
					</td>
					<td class="td-w-33">
						<div class="input-wrap fix-label clr" >
							<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#exctnDt%}" data-i18n-title="{%=cbb_items.SCRNITM#exctnDt%}"></label>
							<div id="exctnDt" ></div>
						</div>
					</td>
				</tr>
				<tr  name="tr_aprvlCndExctnList" >
					<td class="td-w-33" colspan="3">
						<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#unExctnCntnt%}" data-i18n-title="{%=cbb_items.SCRNITM#unExctnCntnt%}"></label>
							<input type="text"  maxlength='1000' dec='0' class="bw-input a-left"   data-form-param="exctnCntnt" />
						</div>
					</td>
				</tr>
				<tr  name="tr_aprvlCndExctnList" >
					<td class="td-w-33" colspan="3">
						<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#aprvlVldtnRqstDtlCntnt%}" data-i18n-title="{%=cbb_items.AT#aprvlVldtnRqstDtlCntnt%}"></label>
							<input type="text"  maxlength='1000' dec='0' class="bw-input a-left"   data-form-param="aprvlVldtnRqstDtlCntnt" />
						</div>
					</td>
				</tr>
			</table>
		</section>
	</div>
	<div   class="modal-footer btn-wrap add-mg">
		<button type="button" class="bw-btn-txt"  id="btnSubmit" ng-click="SUE028Ctrl.btnSubmit_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#register%}"/></button>
		<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SUE028Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#close%}"/></button>
	</div>
</div>
</section>