<section class="SCMT02-contents-wrap portlet-main add-portlet-bd-t"> <!-- 화면번호에 맞게 수정 필수 -->
	<div class="portlet-title">
	    <h2 class="bw-tt f-l">포틀릿 테스트 2</h2>
	    <div class="portlet-close-div">
		    <button type="button" class="add-mg-t-5" ng-click="SCMT02Ctrl.close()"><i class="bw-icon i-30 i-func-del"></i></button>
	    </div>
	</div>


    <section class="bw-tool add-bd2-t">
        <div class="f-l">
            <h3 class="bw-desc">기본 속성</h3>
        </div>
        <div class="btn-wrap fix-r">
            <button type="button" class="bw-btn" id="btn-base-attribute-sample2-reset" title="" ng-click="vm.resetOnclick()"><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
            <button type="button" class="bw-btn" id="btn-base-attribute-sample2-save" title="" ng-click="vm.saveOnclick()"><i class="bw-icon i-30 i-func-save"></i><span class="btn_txt">저장</span></button>
            <button type="button" class="bw-btn b-ctr" id="btn-base-attribute-sample2-toggle" ng-click="vm.toggleOnclick()"><i class="fas fa-angle-double-up"></i></button>
        </div>
    </section>


    <section id="base-attribute-area-sample2">
        <section class="search-wrap">
            <table class="w-100">
                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">고객명</label>
                            <input type="text" class="bw-input w-60" data-form-param="custNm"/>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">고객상세유형</label>
                            <select class="bw-input w-60 ipt-select Sample2-custTpCd-wrap" data-form-param="actorDtlTpCd" data-ng-init="vm.actorDtlTpCdLoad()"></select>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">신분증번호유형</label>
                            <select class="bw-input w-60 ipt-select Sample2-custUnqIdNbrTpCd-wrap" data-form-param="custUnqIdNbrTpCd"  data-ng-init="vm.custUnqIdNbrTpCdLoad()"></select>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">고객고유식별번호</label>
                            <input type="text" class="bw-input w-60" data-form-param="custUnqIdNbr" />
                        </div>
                    </td>
                    <td class="td-w-33">
                        <input type="checkbox" class="bw-input ipt-radio f-l add-mg-b-10" id="vldtnErrorOvrrdYn" data-form-param="vldtnErrorOvrrdYn" />
                        <label class="bw-label f-l add-mg-t-5">오류무시여부</label>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">국적</label>
                            <select class="bw-input w-60 ipt-select Sample2-natyIsoNatCd-wrap" data-form-param="natyIsoNatCd" ></select>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">거주소재지</label>
                            <select class="bw-input w-60 ipt-select Sample2-rsdncLctnIsoNatCd-wrap" data-form-param="rsdncLctnIsoNatCd"></select>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">언어</label>
                            <select class="bw-input w-60 ipt-select Sample2-lngCd-wrap" data-form-param="lngCd"></select>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">약관동의여부</label>
                            <select class="bw-input w-60 ipt-select Sample2-termsAgrmntYn-wrap" data-form-param="termsAgrmntYn"></select>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">생일</label>
                            <div id="brthdy" class="bw-input w-60 ipt-select Sample2-gndrDscd-wrap"></div>


                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">성별구분코드</label>
                            <select class="bw-input w-60 ipt-select Sample2-gndrDscd-wrap" data-form-param="gndrDscd"></select>
                        </div>
                    </td>
                    <td class="td-w-33">
                    </td>
                </tr>
            </table>
        </section>
    </section>


</section>


