<div class="modal-wrap">
    {{#if roleId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.role-edit'}}</h2>{{/if}}
    {{#unless roleId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.role-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable role-setting-form">
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.role-id'}}</label>
                    {{#if roleId}}
                    <input type="text" class="bw-input w-60" data-form-param="roleId" value="{{roleId}}" readonly />
                    {{/if}}
                    {{#unless roleId}}
                    <input type="text" class="bw-input w-60" data-form-param="roleId" />
                    {{/unless}}
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.role-nm'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="roleNm" value="{{roleNm}}" />
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.role-desc'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="roleDesc" value="{{roleDesc}}" />
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'setting.use-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="useYn">
                        <option value="Y" >Y</option>
                        <option value="N" >N</option>
                    </select>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-role-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
