<div class="modal-wrap">
    <h2 class="bw-tt a-center">{{bxMsg 'scheduler.event-detail'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable bxm-form-wrap">
        <ul class="clr">
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.occur-datetime'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="occurDttm" readonly/>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.occur-type'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="occurTypeCd" data-code="BXMAD0027" readonly/>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.system'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="sysId" readonly/>
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-id'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="scheduleId" readonly/>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.alarm-type'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="alarmCd" data-code="BXMAD0024" readonly/>
                </div>
            </li>
            <li class="w-33">
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.priority'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="importanceCd" data-code="BXMAD0018" readonly/>
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap fix-txtarea h-half p-rel clr">
                    <label class="bw-label w-13">{{bxMsg 'scheduler.content'}}</label>
                    <div class="txt-wrap2 fix-size w-87 f-r">
                        <textarea class="bw-textarea" data-form-param="eventCtt" readonly></textarea>
                    </div>
                </div>
            </li>
        </ul>
        <!--/END INPUT TPYE2-->
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on cancel-btn">{{bxMsg 'common.ok'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
