<!--INPUT TYPE1 * 분할 없이 INLINE-->
<ul class="clr">
    <li class="input-wrap w-30">
        <label class="bw-label w-40">{{bxMsg 'online.log-type'}}</label>
        <select class="bw-input w-60 ipt-select log-type-select"></select>
    </li>
</ul>
<ul class="clr">
    <li class="input-wrap w-30">
        <label class="bw-label w-40">{{bxMsg 'online.trx-code'}} <button type="button" class="bw-btn trx-code-search-btn" title="{{bxMsg 'online.trx-code-search'}}"><i class="bw-icon i-20 i-func-search"></i></button></label>
        <input type="text" class="bw-input w-60" data-form-param="trxCd" />
    </li>
    <li class="input-wrap w-40 search-choice-li" style="display: none;">
    	<label class="bw-label w-30">
    		<select class="bw-input ipt-select w-90 search-choice search-choice-style"></select>
    	</label>
    	<input type="text" class="bw-input w-70 search-choice-input" data-form-param="custId"/>
    </li>
    <li class="input-wrap w-23 err-search" style="display: none;">
        <label class="bw-label w-50">{{bxMsg 'online.channel-type-code'}}</label>
        <input type="text" class="bw-input w-50" data-form-param="chlTypeCd" />
    </li>
</ul>
<ul class="clr">
    <li class="input-wrap w-18 err-search" style="display: none;">
            <label class="bw-label w-40">{{bxMsg 'online.business-date'}}</label>
            <input type="text" class="bw-input ipt-cal a-center w-60" data-form-param="fromBizDate" readonly/>
    </li>
    <li class="clr err-search" style="margin-top: 5px; margin-right: 5px; display: none;">
            <span class="unit-desc">~</span>
	</li>
    <li class="input-wrap w-10 err-search" style="display: none;">
        <input type="text" class="bw-input ipt-cal a-center w-100 " data-form-param="toBizDate" readonly>
    </li>
	
	<li class="input-wrap w-23 err-search" style="display: none;">
        <label class="bw-label w-35">{{bxMsg 'online.occur-date'}}</label>
        <input type="text" class="bw-input ipt-cal w-40" data-form-param="errFromOccurDttm[0]" >
   		<input type="text" class="bw-input a-right w-25 ipt-time" data-form-param="errFromOccurDttm[1]">
    </li>
    <li class="clr err-search" style="margin-top: 5px; margin-left: -5px; margin-right: 5px; display: none;">
            <span class="unit-desc">~</span>
    </li>
    <li class="input-wrap w-15 err-search" style="display: none;">
        <input type="text" class="bw-input ipt-cal w-60" data-form-param="errToOccurDttm[0]" >
        <input type="text" class="bw-input a-right w-40 ipt-time" data-form-param="errToOccurDttm[1]">
    </li>
	
	<li class="input-wrap w-30 not-err-search">  
            <label class="bw-label w-40">{{bxMsg 'online.business-date'}}</label>
            <input type="text" class="bw-input ipt-cal a-center w-60" data-form-param="bizDate" readonly/>
    </li>
    <li class="input-wrap w-40 not-err-search">  
        <label class="bw-label w-30">{{bxMsg 'online.occur-date'}}</label>
        <input type="text" class="bw-input ipt-cal w-30" data-form-param="occurDttm[0]" />
        <input type="text" class="bw-input a-right w-20 ipt-time" data-form-param="occurDttm[1]" />
        <input type="text" class="bw-input a-right w-20 ipt-time" data-form-param="occurDttm[2]" />
    </li>
    <li class="input-wrap w-25 sql-err-cd" style="display: none;">
        <label class="bw-label w-40">{{bxMsg 'online.sql-err-code'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="sqlErrCd"/>
    </li>
    <li class="input-wrap w-25 sys-cd" style="display: none;">
        <label class="bw-label w-40">{{bxMsg 'online.system-code'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="sysCd"/>
    </li>
</ul>
<ul class="clr">
    <li class="input-wrap w-30">
        <label class="bw-label w-40">{{bxMsg 'online.node'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="nodeName" />
    </li>
    <li class="input-wrap w-40">
        <label class="bw-label w-30">{{bxMsg 'online.guid'}}</label>
        <input type="text" class="bw-input w-70" data-form-param="guid" />
    </li>
    <li class="input-wrap w-25 log-seq">
        <label class="bw-label w-40">{{bxMsg 'online.log-seq'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="logSeq" />
        <input type="hidden" data-form-param="linkSeq"/>
    </li>
    <li class="input-wrap w-25 user-ip">
        <label class="bw-label w-40">{{bxMsg 'online.user-ip'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="sendUserIp" />
    </li>
    <li class="input-wrap w-25 err-cd" style="display: none;">
        <label class="bw-label w-40">{{bxMsg 'online.err-code'}}</label>
        <input type="text" class="bw-input w-60" data-form-param="errCd" />
    </li>
</ul>
<!--/END INPUT TYPE1-->
