<section class="sample1-contents-wrap">
    <h2 class="bw-tt">
        비밀번호재설정
        <p class="desc">수신 계좌의 비밀번호를 재설정합니다.</p>
    </h2>


    <section class="bw-tool add-bd2-t">
        <div class="f-l">
            <h3 class="bw-desc">기본 속성</h3>
        </div>
        <div class="btn-wrap fix-r">
            <button type="button" class="bw-btn" id="btn-base-attribute-popup" ng-click="sample1Ctrl.popSampleOpenOnclick()"><i class="bw-icon i-30 i-func-search"></i></button>
            <button type="button" class="bw-btn" id="btn-base-attribute-reset" title="" ng-click="sample1Ctrl.resetOnclick()"><i class="bw-icon i-30 i-func-reset"></i></button>
            <button type="button" class="bw-btn" id="btn-base-attribute-save" title="" ng-click="sample1Ctrl.saveOnclick()"><i class="bw-icon i-30 i-func-save"></i></button>
            <button type="button" class="bw-btn b-ctr" id="btn-base-attribute-toggle" ng-click="sample1Ctrl.toggleOnclick()"><i class="fa fa-forward fa-rotate-270"></i></button>
        </div>
    </section>


    <section id="base-attribute-area">
        <section class="search-wrap">
            <table class="w-100">
                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">계좌번호</label>
                            <input type="text" class="bw-input w-60" data-form-param="acctNbr"/>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">이전비밀번호</label>
                            <input type="text" class="bw-input w-60" data-form-param="bfChngPswd"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-w-33"> 
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">재설정비밀번호</label>
                            <input type="text" class="bw-input w-60" data-form-param="afChngPswd"/>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">재설정비밀번호확인</label>
                            <input type="text" class="bw-input w-60" data-form-param="afChngPswdCnfrmtn"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">시간</label>
                            <input type="text" class="bw-input w-60" data-form-param="hms" common-time-valid-directive/>
                        </div>
                    </td>
                    <td class="td-w-33">
                        <div class="input-wrap asterisk clr">
                            <label class="bw-label w-40">금액</label>
                            <input type="text" class="bw-input w-60" data-form-param="amt" ng-model='amt' common-numeric-only-directive/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-w-33">
                        <select class="bw-input w-60 ipt-select"  data-form-param="sCrncyCd"></select>
                    </td>
                    <td class="td-w-33">
                       &nbsp;
                    </td>
                </tr>
            </table>
        </section>
    </section>
</section>
