.select-product-condition-popup {
    height: 100%;
}

.select-product-condition-popup span {
    float: initial;
}

.select-product-condition-popup div.block {
    float: left;
}

.search-area {
    width: 80%;
    height: 20%;
}

.select-product-condition-popup .grid {
    width: 49%;
    height: 80%;
}

.select-product-condition-popup .product-grid {
    margin-right: 1%;
}

.select-product-condition-popup .product-condition-grid {
    margin-left: 1%;
}

.select-product-table th {
    width: 50px;
}

.select-product-table .business-dscd {
    width: 80px;
}

.select-product-table .product-type-code {
    width: 100px;
}

.select-product-table .product-template-code {
    width: 120px;
}

.select-product-table .product-name {
    width: 290px !important;
}
