<div class="modal-wrap fix-h">
    {{#if scheduleId}}
    <h2 class="bw-tt a-center add-bd2-b clr-mg-b">{{bxMsg 'scheduler.schedule-job-edit'}}</h2>
    {{/if}}
    {{#unless scheduleId}}
    <h2 class="bw-tt a-center add-bd2-b clr-mg-b">{{bxMsg 'scheduler.schedule-job-add'}}</h2>
    {{/unless}}
    <div class="bxm-detail-wrap bx-no-draggable large-popup-scrollable">
        <section class="search-wrap fix-h">
            <ul class="clr">
                <li class="w-33">
                    <div class="input-wrap asterisk clr">
                        {{#if scheduleId}}
                        <label class="bw-label w-40">{{bxMsg 'scheduler.system'}}</label>
                        {{/if}}
                        {{#unless scheduleId}}
                        <label class="bw-label w-40">
                            {{bxMsg 'scheduler.system'}}
                            <button type="button" class="bw-btn system-search-btn" title="{{bxMsg 'scheduler.system-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
                        </label>
                        {{/unless}}
                        <input type="text" class="bw-input w-60" data-form-param="sysId" readonly/>
                    </div>
                </li>
                <li class="w-33">
                    <div class="input-wrap asterisk clr">
                        {{#if scheduleId}}
                        <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-id'}}</label>
                        <input type="text" class="bw-input w-60" data-form-param="scheduleId" readonly/>
                        {{/if}}
                        {{#unless scheduleId}}
                        <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-id'}}</label>
                        <input type="text" class="bw-input w-60" data-form-param="scheduleId"/>
                        {{/unless}}
                    </div>
                </li>
                <li class="w-33">
                    <div class="input-wrap asterisk clr">
                        <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-nm'}}</label>
                        <input type="text" class="bw-input w-60" data-form-param="scheduleNm"/>
                    </div>
                </li>
            </ul>
            <ul class="clr">
                <li class="w-33">
                    <div class="input-wrap asterisk clr">
                        <label class="bw-label w-40">
                            {{bxMsg 'scheduler.schedule-group'}}
                            <button type="button" class="bw-btn schedule-group-search-btn" title="{{bxMsg 'scheduler.schedule-group-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
                        </label>
                        <input type="text" class="bw-input w-60" data-form-param="scheduleGrpId" readonly/>
                    </div>
                </li>
                <li class="w-33">
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">
                            {{bxMsg 'scheduler.batch-job-id'}}
                            <button type="button" class="bw-btn batch-job-search-btn" title="{{bxMsg 'batch.batch-job-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
                        </label>
                        <input type="text" class="bw-input w-60" data-form-param="jobId" readonly/>
                    </div>
                </li>
                <li class="w-33">
                    <div class="input-wrap clr">
                        <label class="bw-label w-40">{{bxMsg 'scheduler.job-exec-type-cd'}}</label>
                        <select class="bw-input ipt-select w-60" data-form-param="jobExecTypeCd" disabled></select>
                    </div>
                </li>
                <li class="w-33">
                    <div class="input-wrap asterisk clr">
                        <label class="bw-label w-40">{{bxMsg 'scheduler.use-yn'}}</label>
                        <select class="bw-input ipt-select w-60" data-form-param="useYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                </li>
            </ul>
        </section>

        <section class="bw-tool bx-grid-header detail-search-wrap">
            <div class="f-l">
                <button type="button" class="bw-btn b-ctr expand-detail-btn" title="{{bxMsg 'common.grid-expand'}}"><i class="fa fa-play fa-rotate-90"></i></button>
                <button type="button" class="bw-btn b-ctr collapse-detail-btn" title="{{bxMsg 'common.grid-collapse'}}"><i class="fa fa-play fa-rotate-270"></i></button>
            </div>
        </section>
        <div class="bw-accordion add-bd bxm-accordion-wrap">
            <h3 class="clr-bd-t">{{bxMsg 'scheduler.basic-property'}}</h3>
            <div class="basic-property">
                <ul class="bw-form fix-center col-2">
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.estimate-elapsed-time-sec'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="expectedElapsedTimeSec"/>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.memory-size-mb'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="memVal"/>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.error-process-code'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="errProcCd"></select>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.priority-code'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="importanceCd"></select>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.rerun-count'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="reExecCnt"/>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.rerun-cycle-sec'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="reExecIntervalSec"/>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.start-delay-process-yn'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="startDelayProcYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.start-delay-waiting-sec'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="startDelayWaitSec"/>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.completion-delay-process-yn'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="cmplDelayProcYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.completion-delay-waiting-sec'}}</label>
                        <input type="text" class="bw-input w-50" data-form-param="cmplDelayWaitSec"/>
                    </li>
                    <li>
                    <label class="bw-label w-45">{{bxMsg 'scheduler.duplicate-execution-available-yn'}}</label>
                    	<select class="bw-input ipt-select w-50" data-form-param="concurrExecUseYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                	</li>
                	<li>
                    <label class="bw-label w-45">{{bxMsg 'scheduler.schedule-use-dt'}}</label>
                    <input type="text" class="bw-input ipt-cal a-center w-24" data-form-param="scheduleUseStartDt"/>
               	 	<span class="unit-desc">~</span>
                	<input type="text" class="bw-input ipt-cal a-center w-24" data-form-param="scheduleUseEndDt"/>
                	</li>
<!--                     <li class="li-left-align"> -->
<!--                         <label class="bw-label w-45">{{bxMsg 'scheduler.duplicate-execution-available-yn'}}</label> -->
<!--                         <select class="bw-input ipt-select w-50" data-form-param="concurrExecUseYn"> -->
<!--                             <option value="Y">Y</option> -->
<!--                             <option value="N">N</option> -->
<!--                         </select> -->
<!--                     </li> -->
                </ul>
            </div>

            <h3>{{bxMsg 'scheduler.execution-parameter'}}</h3>
            <div class="bx-grid-in-accordion execution-parameter-grid"></div>

            <h3>{{bxMsg 'scheduler.type-info'}}</h3>
            <div class="type-info">
                <ul class="bw-form fix-center col-2">
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.schedule-type'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="scheduleTypeCd"></select>
                    </li>
                    <li>
                        <label class="bw-label w-45">{{bxMsg 'scheduler.detail-type'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="scheduleSubCd"></select>
                    </li>
                    <li class="w-100">
                        <label class="bw-label w-22-5">
                            {{bxMsg 'scheduler.schedule-registration-detail'}}
                            <button type="button" class="bw-btn schedule-registration-detail-edit-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-20 i-func-edit"></i></button>
                        </label>
                        <input type="text" class="bw-input w-77-2" data-form-param="scheduleRegistrationDetail" readonly/>
                    </li>
                </ul>
            </div>

            <h3 class="pre-process-info-header">{{bxMsg 'scheduler.pre-process-info'}}</h3>
            <div class="bx-grid-in-accordion pre-process-info-grid"></div>

            <h3 class="post-process-info-header">{{bxMsg 'scheduler.post-process-info'}}</h3>
            <div class="bx-grid-in-accordion post-process-info-grid"></div>

            <h3>{{bxMsg 'scheduler.alarm-info'}}</h3>
            <div class="alarm-info">
                <ul class="bw-form fix-center col-2">
                    <li class="li-left-align">
                        <label class="bw-label w-45">{{bxMsg 'scheduler.alarm-use-yn'}}</label>
                        <select class="bw-input ipt-select w-50" data-form-param="alarmUseYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </li>
                    <li class="w-100" data-type="OK">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.normal'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                    <li class="w-100" data-type="ERROR">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.error'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                    <li class="w-100" data-type="S_DELAY">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.start-delay'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                    <li class="w-100" data-type="E_DELAY">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.completion-delay'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                    <li class="w-100" data-type="F_OK">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.forced-normal'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                    <li class="w-100" data-type="F_ERROR">
                        <label class="bw-label w-22-5">{{bxMsg 'scheduler.forced-error'}}
                            <input type="checkbox"/>
                        </label>
                        <input type="text" class="bw-input w-77-2" readonly/>
                    </li>
                </ul>
            </div>

            <h3>{{bxMsg 'scheduler.manager-info'}}</h3>
            <div class="bx-grid-in-accordion manager-info-grid"></div>
        </div>
    </div>
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>