<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'deferred.deferredJobStatusTitle'}}
    <p class="desc">{{bxMsg 'deferred.deferredJobStatusTitleMsg'}}</p>
</h2>
<!--/END BW-TITLE-->
<h3 class="bw-stt add-mg-t">
    {{bxMsg 'deferred.deferredJobProgress'}}
    <p class="desc bxm-detail-title-progress"></p>
</h3>
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap bxm-search-wrap">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-32">
            <label class="bw-label w-40">
                {{bxMsg 'deferred.deferredId'}}
                <button type="button" class="bw-btn deferred-search-btn" title="{{bxMsg 'deferred.deferredIdSearch'}}"><i class="bw-icon i-20 i-func-search"></i></button>
            </label>
            <input type="text" class="bw-input w-60" data-form-param="deferredId"/>
        </li>
        <li class="input-wrap w-32">
            <label class="bw-label w-40">{{bxMsg 'deferred.businessDate'}}</label>
            <input type="text" class="bw-input ipt-cal a-center w-60" data-form-param="bizDt" readonly/>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="bw-grid bxm-grid-wrap-progress"></section>
<!--/END GRID AREA-->



<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h3 class="bw-stt add-mg-t">
    {{bxMsg 'deferred.deferredJobDetails'}}
    <p class="desc bxm-detail-title-job"></p>
</h3>
<!--/END BW-TITLE-->
<!--GRID AREA-->
<section class="bw-grid add-bd2-t bxm-grid-wrap-job"></section>
<!--/END GRID AREA-->

<!-- <div class="btn-wrap add-mg a-center w-100"> -->
<!--     <button type="button" class="bw-btn-txt control-run" >　{{bxMsg 'deferred.run'}}　</button> -->
<!--     <button type="button" class="bw-btn-txt control-stop" >　{{bxMsg 'deferred.stop'}}　</button> -->
<!--     <button type="button" class="bw-btn-txt control-pause" >{{bxMsg 'deferred.pause'}}</button> -->
<!-- </div> -->

<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h3 class="bw-stt add-mg-t">
    {{bxMsg 'deferred.DeferredExecutionStatus'}}
    <p class="desc bxm-detail-title-execution"></p>
</h3>
<section class="bw-grid add-bd2-t bxm-grid-wrap-execution"></section>
<!--/END GRID AREA-->