<div class="modal-wrap">
    {{#if userId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.user-edit'}}({{userId}})</h2>{{/if}}
    {{#unless userId}}<h2 class="bw-tt a-center">{{bxMsg 'setting.user-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable user-setting-form">
        <!--INPUT TYPE2 * 균등 2분할 -->
        <ul class="col-2 clr">
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.user-id'}}</label>
                    {{#if userId}}<input type="text" class="bw-input w-70" data-form-param="userId" value="{{userId}}" readonly/>{{/if}}
                    {{#unless userId}}<input type="text" class="bw-input w-70" data-form-param="userId"/>{{/unless}}
                </div>
            </li>
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.user-nm'}}</label>
                    <input type="text" class="bw-input w-70" data-form-param="userNm" value="{{userNm}}"/>
                </div>
            </li>
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label modified-pwd w-30">{{bxMsg 'setting.pwd'}}</label>
                    <input type="password" class="bw-input w-70" data-form-param="userPwd"/>
                </div>
            </li>
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label modified-check-pwd w-30">{{bxMsg 'setting.check-pwd'}}</label>
                    <input type="password" class="bw-input w-70" data-form-param="checkPwd"/>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.user-ip'}}</label>
                    <input type="text" class="bw-input w-70" data-form-param="userIp" value="{{userIp}}"/>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.use-yn'}}</label>
                    <select class="bw-input ipt-select w-70" data-form-param="useYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.phone-no'}}</label>
                    <input type="text" class="bw-input w-70" data-form-param="phoneNo"/>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.email'}}</label>
                    <input type="text" class="bw-input w-70" data-form-param="email"/>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-30">{{bxMsg 'setting.role-id'}}</label>
                    <select class="bw-input ipt-select w-30" data-form-param="roleId"></select>
                    <input type="text" class="bw-input w-40" value="{{roleNm}}" readonly/>
                </div>
            </li>
        </ul>
        <!--/END INPUT TPYE2-->
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-user-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>