/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for product compare
 * 상품비교 CSS 
 */
.pf-conts {
    width : 95% !important;
    margin: 10px auto;
    height : 100%;
}
.pf-page-layout {
	/* min-width:1100px; */
	min-width:1400px;
}
.pf-page-layout .pf-page-conts {
    border: 1px solid #EEEEEE;
}
.pf-pc .pf-pc-search-condition-box {
    margin-bottom: 5px; }
.pf-pc .pf-pc-search-condition-box .search-title {
    width: 110px;
    float: left; }
.pf-pc .pf-pc-search-condition-box table th {
    width: 80px; }
.pf-pc .pf-pc-search-condition-box select {
    width: 180px; }
.pf-pc .pf-pc-search-condition-box input {
    width: 365px; }
.pf-pc .pf-pc-search-condition-box input.calendar {
    width: 95px; }
.pf-pc .pf-pc-search-condition-box button {
    float: right; }

/*조회조건 조건템플릿조회그리드*/
.product-condition-selection-grid {
    height: 200px;
    width:400px;
    margin: 0 auto;
    margin-top:19px;
 }
 /*상품관계,상품정보그리드*/
.product-relation-selection-grid,  .product-information-selection-grid {
	height: 200px;
	width:350px;
	margin: 0 auto;
}
     
.pf-pc .pf-panel  .pf-panel-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px; }
.pf-pc .pf-panel .pf-pc-list-panel {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
    top: 440px;
    transition: height .5s, top .5s;
    background-color: white;
}
.pf-pc .pf-panel .pf-pc-list-panel .pf-panel-body {
    bottom: 0;
    top: 40px;
    position: absolute;
    right: 0;
    left: 0;
    background: white;
    /*overflow: auto;*/
    z-index: 1; }
.pf-pc .pf-panel .pf-pc-list-panel.nav-expand {
    top: 49px;
    height: initial; }
.pf-pc .pf-panel .pf-pc-list-panel .search-list-expand-btn {
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}
.pf-pc .tab-panels {
    position: relative; }
.pf-pc .tab-panels .pf-pc-tab-container {
    height: 540px;
    /*margin-top: 38px;*/
    margin-top: 15px;

    padding-left: 5px;
    padding-right: 5px;
}
.pf-pc .tab-panels .pf-pc-tab-container .pf-panel {
    height: 97%; }

.pf-pc .bx-info-table label {
    margin: 0 10px; }
.pf-pc .bx-info-table th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 0px 15px;
    font-weight: bold;
    font-weight: normal;
    width: 150px; }
.pf-pc .bx-info-table td {
    border: 1px solid #ddd;
    padding: 0 15px;
    background: white; }
.pf-pc .interest-value-wrap {
    margin-top: 10px; }
.pf-pc .interest-value-wrap .bx-info-table th {
    width: 150px;
	letter-spacing: -1px; 
}
.pf-pc .cnd-value-04-amount-table {
    margin-top: 10px; }
.pf-pc .pf-base-package-grid-wrap {
    display: none; }
.pf-pc .pf-pc-100-grid {
    height: 100px;
    margin: 10px 0 0 0; }
.pf-pc .isValueNull-hidden.active {
    display: none; }
.pf-pc .condition-value-wrap {
    display: none; }
.pf-pc .condition-value-wrap.active {
    display: block; }
.pf-pc .condition-value-wrap .cnd-value-title {
    background: #f9f9f9; }
.pf-pc .condition-value-wrap .cnd-val-type4-label-wrap {
    margin-left: -10px;
    padding-right: 15px;
    background: #f9f9f9; }
.pf-pc .condition-value-wrap .cnd-val-type4-label-wrap label {
    margin-left: 10px; }
.pf-pc .provided-cnd-wrap {
    margin-top: 10px; }
.pf-pc .provided-cnd-wrap .pf-panel-header {
    padding-left: 15px; }
.pf-pc .provided-cnd-wrap .provided-cnd-grid {
    height: 80px; }
.pf-pc .provided-cnd-wrap .provided-cnd-table-wrap {
    margin-top: 10px; }
.pf-pc .fee-discount-wrap {
    margin-top: 10px; }
.pf-pc .fee-discount-wrap .pf-panel-header {
    padding-left: 30px; }
.pf-pc .fee-discount-wrap .fee-discount-grid {
    height: 80px; }
.pf-pc .fee-discount-wrap .fee-discount-table-wrap {
    margin-top: 10px; }
.pf-pc .pirt-grid {
    height: 80px; }
.pf-pc .condition-value, .pf-pc .complex-grid-wrap {
    display: none;
    margin-top: 10px; }
.pf-pc .condition-value.active, .pf-pc .complex-grid-wrap.active {
    display: block; }
.pf-pc .condition-value .complex-grid, .pf-pc .complex-grid-wrap .complex-grid {
    height: 200px;
}
.pf-pc .condition-value .complex-grid table td.x-grid-cell, .pf-pc .complex-grid-wrap .complex-grid table td.x-grid-cell {
    vertical-align: middle; }

.tab-title {
    font-size:13px;
}

      /*상품목록탭*/
.pfui-tab-item .icon-remove {
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 20;
    cursor: pointer;

    background: url(/images/bx-ui/icon-pf.png);
    background-position: -100% -600%;
    background-size: 400%;
    width: 20px;
    height: 20px;
}
.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .pfui-tab-item-text {
    margin-right: 0;
}
.pfui-tab-item .pfui-tab-item-text {
    padding-right: 25px;
    border-color: #ddd;
    border-bottom-color: transparent;
}

/*체크박스 middle처리*/
input[type=checkbox] {
    /* vertical-align: middle; */
    /* vertical-align: sub; */
float: left;
 		margin-top: 4px;
     }
     /*다운로드버튼*/
.pf-report-download {
    margin-right: 10px;
    float: right;
    margin-top: 0px;
}

.additional-info-wrap {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid; }
.additional-info-wrap.detail-condition {
    display: none; }
.additional-info-wrap .additional-title-wrap {
    margin-top: -22px; }
.additional-info-wrap .additional-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 10px; }
.additional-info-wrap th {
    width: 170px; }
.additional-info-wrap select, .additional-info-wrap input[type=text] {
    width: 130px; }
.additional-info-wrap input.product-code {
    width: 160px; }
.additional-info-wrap input.refCndCd {
    width: 50px; }
.additional-info-wrap input.reference-product-code {
    width: 50px; }
.additional-info-wrap .cnd-value-type2-table th {
    width: 100px; }
.additional-info-wrap .cnd-value-type2-table select, .additional-info-wrap .cnd-value-type2-table input[type=text] {
    width: 180px; }
.additional-info-wrap .cnd-value-type3-table th {
    width: 190px; }
.additional-info-wrap .condition-value-type4-additional select, .additional-info-wrap .condition-value-type4-additional input[type=text] {
    width: 180px; }

.cnd-value-type4 .cnd-value-04-amount-table, .cnd-value-type4 .cnd-value-04-rate-table {
    display: none; }
.cnd-value-type4 .cnd-value-04-amount-table.active, .cnd-value-type4 .cnd-value-04-rate-table.active {
    display: block; }
.cnd-value-type4 label {
    background: #f9f9f9;
    padding: 10px;
    margin: 0 -5px;
}

/*수수료할인 팝업-제공조건탭 그리드*/
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-cnd-grid {
    height: 80px;
}

/*수수료할인 팝업-제공조건 적용규칙*/
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap {
    margin-top: 30px;
    padding: 15px 10px 5px 10px;
    border: 1px solid;
}
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap {
    margin-top: -25px;
}
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 10px;
}
.add-cnd4-fee-tpl-popup .bx-info-table select, .add-cnd4-fee-tpl-popup .bx-info-table input[type=text] {
    width: 160px;
}

.cnd-value-title {
    background: white;
}
.add-cnd4-fee-tpl-popup .bw-btn {
    float: right;
}
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-limit-cnd-grid {
    height: 400px;
}
.add-cnd4-fee-tpl-popup .fee-dis-sub-tab-conts {
    padding: 10px;
}

.pfui-nav-tab .tab-nav-bar {
    background : #FFFFFF;
    position: relative;
    height: 175px;
    background: #ffffff;
    /*width: 90%;*/
    /* width: 100%; */
    margin: 0 auto;
    left: -50px;
    width:324px;
}
.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item {
    margin-left: 7px;
    /* min-width : 280px; */
    min-width : 300px;
    color: black;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc; */
    float: none;
    display: flex;
    /*세로정렬을위해추가*/
      align-content: flex-start;
flex-direction: column;
flex-wrap: wrap;
margin-top: 15px;
  }
  /*style.css 상쇄*/
.pfui-nav-tab .tab-nav-bar .tab-nav-list {
	padding-left: 15px !important;
}
.pfui-nav-tab .tab-nav-bar .tab-nav-wrapper {
    margin-top: 20px;
    /*세로정렬을위해주석*/
    /* margin-left: -35px; */
}
.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item.product-compare-list-default {
    border-bottom: 1px dashed #ccc;
}

.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item.product-compare-list-default .tab-item-inner {
    border: 1px dashed #ccc;
    border-bottom: 0px;
}

.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item.product-compare-list-default .tab-item-close {
    display: none;
}

.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item.tab-nav-actived {
    border-bottom: 1px solid #ccc;
}
     
.pf-pc-product-list li span {
	display: grid;
	text-align: left;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 250px;
}
     
/*상품비교목록에 탭을쓰나 container 영역은 사용하지않으므로 height 0*/
.tab-content-container {
    height:0px;
}

/*상품비교목록의 중앙정렬을 위해 처리*/
.tab-nav-list {
    /* text-align: center; */
}
.sidebar-toggler {
    position: absolute;
    top: 274px;
    right: 49%;
    width: 40px;
    height: 12px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #bbb;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    background: white url(/images/bx-ui/arrow-btm-pf-up.png) no-repeat;
    background-size: 15px;
    background-position: right;
    background-position-x: 9.9px;
    background-position-y: 0px;
    font-size: 0px;
    z-index: 140;
}
.contents-expand .sidebar-toggler {
    position: absolute;
    top: 22px;
    right: 49%;
    width: 40px;
    height: 12px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #bbb;
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    background: white url(/images/bx-ui/arrow-btm-pf.png) no-repeat;
    background-size: 15px;
    background-position: right;
    background-position-x: 14px;
    background-position-y: 1px;
    font-size: 0px;
    z-index: 140;
}

/*숨김버튼*/
.contents-expand .pf-pc-query-area {
    display: none;
}
.pf-pc .pf-pc-info-list-wrap {
    border-right: 1px solid rgb(238, 238, 238);
    bottom: 0;
    width: 200px;
    margin: 10px 10px 10px 0;
    overflow: hidden;
    float: left;
    /*margin-top: 260px;*/
    margin-left: -14px;
}
.pf-pc .pfui-tree-item {
    float: none;
    padding: 3px 0 3px 0; }

.pf-pc-info-list-wrap .pfui-tree-item {
    height:25px;
}

.link-tabs, .nav-tabs {
    border-bottom:0px;
}
.pf-pc-column-hide-area {
    background: url(/images/bx-ui/backslash.png);
    background-size: 100% 101%;

    border-right: 1px solid rgb(238, 238, 238);
    position: absolute;
    width: 186px;
    left: -170px;
    z-index:120;
    display:'none';
}
/*.pf-pc .value-area {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}*/

.x-tree-icon.x-tree-elbow-leaf {
    display:none;
}
.cnd-val-type1-grid {
    height:80px;
}
.theme-pf .tab-title li a span.tab-bg {
    /*top :-1px;*/
}

.menu1 {
    /* margin-bottom: 10px; */
}

.mainProgressDim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
}

.mainProgressBar {
    position: absolute;
    width: 400px;
    height: 22px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -11px;
    border-radius: 7px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: none;
}

.mainProgressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0px;
    background-color: #0a90df;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
    border-radius: 7px;
    -webkit-animation:progress-bar-stripes 1s linear infinite;
    -o-animation:progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}
      
.loading-dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10; 
}

.loading-dim-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	color: white;
	font-size: 80px; 
}

.pf-panel .pf-panel-body {
	/* top:-15px; */
}

.x-panel-default {
	overflow-x : auto !important;
	width:inherit !important;
}

/*제공조건 적용규칙영역 th 조정*/
.provided-cnd-wrap th {
	width: 140px !important;
}
/*IE 버전을위해 재선언*/
.pfui-nav-tab .tab-nav-bar .pfui-nav-tab-item .tab-item-inner {
	margin-left:0px !important;
}

.pf-detail-container {
	position: relative;
	overflow-y: auto;
	height: 62%;
}

.pf-detail-header {
	position: fixed;
	height: 56px;
	background: #ffffff;
	z-index: 2;
}

.pf-detail-contents {
	margin-top: 56px;
}

.pf-detail-column {
	display: flex;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding-right: 5%;
}

.pf-detail-first {
	width: 186px;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	word-break: break-all;
}

.pf-detail-header .pf-detail-first {
    background: url(/images/bx-ui/backslash.png);
    background-size: 100% 101%;
}

.pf-detail-info {
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.pf-detail-header .pf-detail-info {
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-right: -2px;
    margin-left: 4px;
}

.pf-detail-contents .pf-detail-info {
    /* margin-bottom: 10px; */
    min-height: 30px;
    overflow-x: auto;
}

.product-compare-area-info {
	position: absolute;
	top: 32px;
	left: 3px;
}


.product-compare-product-name-area-info {
	position: absolute;
	top: 20px;
	left: 130px;
}

.simple-value-area, .no-defined-area {
	display: flex;
	align-items: center;
	justify-content: center;
}