/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for 기관
 * 기관 CSS 
 */
.pf-tnt-inst .pf-page-conts {
    margin: 10px auto; }
.pf-tnt-inst th {
    width: 45px;
    text-align: left; }
.pf-tnt-inst .tenant-institution-query-table td {
    line-height: 29px; }
.pf-tnt-inst .tenant-institution-query-table td input, .pf-crm .tenant-institution-query-table td select {
    width: 180px; }
.pf-tnt-inst .tenant-institution-query-table td .calendar {
    width: 105.5px; }
.pf-tnt-inst .tenant-institution-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-tnt-inst .tenant-institution-query-table .padding-th {
    padding-left: 10px; }
.pf-tnt-inst .btn-box {
    margin-top: 10px;
    text-align: right; }
.pf-tnt-inst .tenant-institution-grid {
    height: 450px; }