<div class="modal-wrap">
    <h2 class="bw-tt a-center">{{bxMsg 'trx-setting.all-trx-edit'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t fix-h bx-no-draggable all-trx-control-form">
        <ul class="col-2 clr">
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.all-trx-control-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="allTrxCtrlYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.changed-trx-control-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="dtchgTrxCtrlYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.img-log-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="imgLogYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.dw-log-yn'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="dwLogYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-all-trx-control-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>