<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'batch.batch-daemon-setting'}}
    <p class="desc">{{bxMsg 'batch.batch-daemon-setting-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap daemon-info-search">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-25">
            <label class="bw-label w-40">{{bxMsg 'batch.work-id'}}</label>
            <input type="text" class="bw-input w-60" data-form-param="jobId"/>
        </li>
        <li class="input-wrap w-25">
            <label class="bw-label w-40">{{bxMsg 'batch.work-nm'}}</label>
            <input type="text" class="bw-input w-60" data-form-param="jobNm"/>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="daemon-info-grid"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'batch.batch-daemon-setting-detail'}}<p class="desc daemon-info-detail-title"></p></h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-daemon-info-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr daemon-info-detail bx-loding-wrap">
    <ul class="col-3 clr">
        <li>
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-50">{{bxMsg 'batch.work-id'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="jobId" readonly />
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-50">{{bxMsg 'batch.work-nm'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="jobNm" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-50">{{bxMsg 'batch.app-nm'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="bxmAppId" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-50">{{bxMsg 'batch.use-yn'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="useYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap asterisk help clr">
                <label class="bw-label w-50">{{bxMsg 'batch.execute-node-num'}}<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'batch.execute-node-num-msg'}}"></i></label>
                <input type="text" class="bw-input w-50" data-form-param="execNodeNoList" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-50">{{bxMsg 'batch.log-level'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="logLvNm" data-code="BXMAD0009" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-50">{{bxMsg 'batch.parallel-execute-yn'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="parllExecYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-50">{{bxMsg 'batch.error-stop-yn'}}</label>
                <input type="text" class="bw-input w-50" data-form-param="errStopYn" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap asterisk help clr">
                <label class="bw-label w-50">{{bxMsg 'batch.execute-time'}}<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'batch.execute-time-msg'}}"></i></label>
                <input class="bw-input ipt-select w-30 bw-center-input interval-cron-select" readonly />
                <input type="text" class="bw-input w-20 a-center interval-cron-input" readonly/>
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-65">
            <div class="input-wrap clr">
                <label class="bw-label w-25">{{bxMsg 'batch.commit-setting-list'}}</label>
                <input type="text" class="bw-input w-75" data-form-param="commitCfgList" readonly/>
            </div>
        </li>
        <li class="w-65">
            <div class="input-wrap fix-txtarea p-rel clr">
                <label class="bw-label w-25">{{bxMsg 'batch.execute-arg'}}</label>
                <div class="txt-wrap2 fix-size w-75 f-r">
                    <textarea class="bw-textarea" data-form-param="execArgs" readonly></textarea>
                </div>
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->