<ul class="clr commit-setting-item">
    <li class="w-40">
        <div class="input-wrap clr">
            <input type="text" class="bw-input add-mg-l w-90 step-nm-input" />
        </div>
    </li>
    <li class="w-40">
        <div class="input-wrap clr">
            <input type="text" class="bw-input add-mg-l w-90 interval-input" />
        </div>
    </li>
    <li class="w-20">
        <button type="button" class="bw-btn add-commit-setting-btn"><i class="bw-icon i-25 i-func-add"></i></button>
        <button type="button" class="bw-btn del-commit-setting-btn"><i class="bw-icon i-25 i-func-del"></i></button>
    </li>
</ul>