
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="eddAdtnlAtrbtReset" ng-click="SCU202_eddAdtnlAtrbtCtrl.eddAdtnlAtrbtReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
				<button type="button" class="bw-btn b-ctr"  id="eddAdtnlAtrbtToggle" ng-click="SCU202_eddAdtnlAtrbtCtrl.eddAdtnlAtrbtToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
		<section  id="eddAdtnlAtrbtTab"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_eddAdtnlAtrbtTab" >
			</tr>
		</table>
	</section>