/* common */

.pf-dp .pf-dp-panel {
	width:100%;
}

/* PF Product Template*/
.pf-dp .pf-dp-panel {
	width: 925px; }
.pf-dp .pf-dp-panel .pf-panel-footer .bw-btn {
	float: right;
	margin-left: 10px; }
.pf-dp .pf-dp-info-form th {
	width: 150px; }
.pf-dp .pf-dp-info-form input {
	width: 300px; }
.pf-dp .pf-dp-condition-template-grid {
	height: 360px; }
/*.pf-dp .grid-extra-header .bx-btn {*/
	/*float: right; }*/

.add-cnd-tpl-popup .header-group {
	float: right; }
.add-cnd-tpl-popup .popup-cnd-tpl-grid {
	height: 230px; }

/*조건군템플릿선택 팝업의 검색아이콘과 input box간의 margin*/
.add-cnd-tpl-popup button {
	margin-left: 3px;
}

.add-detail-type-popup, .change-name-popup, .new-product-tpl-popup, .new-detail-type-popup,
.copy-product-tpl-popup, .change-product-Tpl-name-popup, .change-detail-type-Tpl-name-popup {
	margin: 5px; }
.add-detail-type-popup input, .change-name-popup input, .new-product-tpl-popup input, .new-detail-type-popup input,
.copy-product-tpl-popup input, .change-product-Tpl-name-popup input, .change-detail-type-Tpl-name-popup input {
	width: 100% !important;
	margin-top: 15px; }

.condition-group-detail-info-popup .pf-dcg-info-form th {
	width: 150px; }
.condition-group-detail-info-popup .pf-dcg-info-form input {
	width: 300px; }
.condition-group-detail-info-popup .pf-dcg-cnd-grid {
	height: 300px; }

.add-detail-type-popup input,
.change-name-popup input,
.new-condition-group-tpl-popup input,
.copy-condition-group-tpl-popup input,
.change-condition-group-Tpl-name-popup input,
.change-product-type-Tpl-name-popup input,
.new-product-type-Tpl-name-popup input,
.condition-name-change-input,
.product-name-input,
.change-product-Tpl-name-popup input {
	width: 100% !important;
	margin-top: 15px;
}


/* custom */

body {
	height: 100%;
	min-height: 800px;
	background: #fff;
	overflow-y: scroll;
}

.pf-cal-panel {
	padding: 10px;
}

.pf-cal-info .nav-tabs {
	border-bottom: 2px solid #5D8ABD !important;
}

.nav-tabs li.active>a {
	height: 25px;
	color: #ffffff;
	padding: 0 15px 0 17px;
	display: block;
	font-weight: 400;
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	margin-right: 0px;
	line-height: 25px;
}

.nav-tabs li>a {
	height: 25px;
	padding: 2px 15px 0 17px !important;
	display: block;
	font-weight: 400;
	font-size: 12px;
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	margin-right: 0px;
	line-height: 25px;
}

.nav-tabs li>a:hover, .nav-tabs li>a:focus {
	border-color: transparent;
	background-color: transparent;
}

.nav-tabs li {
	margin-bottom: 0px;
}

.nav-tabs li.active>a {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}

.nav-tabs li.active>a:hover {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	color: #FFFFFF;
}

.nav-tabs li.active>a:focus {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	color: #FFFFFF;
}

.nav-tabs li>a {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}

.nav-tabs li>span {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}