<section id="amtInfo">
	<section>
		외화환산정보 출력정보<br>
		- 기준환율(전신환매도율 or 매매기준율), 우대환율<br>
		- 평균환율<br>
		- 환산금액 : 상환원금, 정상이자,이자연체이자,환출이자, 중도상환수수료<br>
		기타 환승론 출력정보<br>
		- 바꿔드림론(환승론) ; 정상이자, 이자연체이자 ,잔액연체이자, 환출이자<br>
		<br><br>  	
		<table class="w-100" >
			<tr  name="tr_rpymntSchdldAmt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#totRpymntAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "  readonly="readonly" data-form-param="totRpymntAmt" ng-model='totRpymntAmtAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#prncpl%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="totRpymntPrncpl" ng-model='totRpymntPrncplAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#erlyTrmntnFeeAmt%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="erlyTrmntnFeeAmt" ng-model='erlyTrmntnFeeAmtAmt' common-numeric-only-directive/>
					</div>
				</td>				
			</tr>
			<tr  name="tr_rpymntSchdldAmt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#nrmlIntAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "  readonly="readonly" data-form-param="nrmlIntAmt" ng-model='nrmlIntAmtAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#ovrduIntAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "  readonly="readonly" data-form-param="ovrduIntAmt" ng-model='ovrduIntAmtAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#rtrnIntAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "  readonly="readonly" data-form-param="rtrnIntAmt" ng-model='rtrnIntAmtAmt' common-numeric-only-directive/>
					</div>
				</td>
			</tr> 
			<tr  name="tr_rpymntSchdldAmt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.PD#balAfRpymnt%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="rpymntAfPrncplBal" ng-model='rpymntAfPrncplBalAmt' common-numeric-only-directive/>
					</div>
				</td>			
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#aplyRt%}"></label>
						<input type="text"  dec='4' class="bw-input "  readonly="readonly" data-form-param="aplyIntRt" ng-model='aplyIntRtAmt' common-numeric-only-directive/>
					</div>
				</td>

				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#whdrwlAcctBal%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="whdrwlAcctBal" ng-model='whdrwlAcctBalAmt' common-numeric-only-directive/>
					</div>
				</td>
			</tr>
		</table>
	</section>
</section>	