
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnRoleInfoToggle" ng-click="SBP301_roleInfoCtrl.btnRoleInfoToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="roleInfoTab"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_roleInfoTab" >
				<td class="td-w-33" colspan="3">
					<table class="w-100"  id="secRoleTmplt" >
						<tr  name="tr_secRoleTmplt" >
							<td class="td-w-33">
								<div class="input-wrap fix-label clr asterisk clr add-btn" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#deptRoleTmplt%}" data-i18n-title="{%=cbb_items.SCRNITM#deptRoleTmplt%}"></label>
									<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="roleTmpltNm" />
									<button type="button" class="bw-btn fix-r" ng-click="SBP301_roleInfoCtrl.roleTmpltNm_Onclick()" id="btn-roleTmpltNm-search"><i class="bw-icon i-20 i-search"></i></button>
								</div>
							</td>
							<td class="td-w-33">
								<div class="input-wrap fix-label clr" style="display:none;"><label class="bw-label "  data-i18n="{%=cbb_items.AT#roleTmpltId%}" data-i18n-title="{%=cbb_items.AT#roleTmpltId%}"></label>
									<input type="text"  maxlength='15' dec='0' class="bw-input a-left"   data-form-param="roleTmpltId" />
								</div>
							</td>
							<td>&nbsp;</td>
						</tr>
					</table>
			</td>
		</tr>
		<tr  name="tr_roleInfoTab" >
			<td class="td-w-33" colspan="3">
				<div id="SBP301_roleInfo_roleList" >
					<section class="bw-grid"></section>
				</div>
			</td>
		</tr>
	</table>
</section>