
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SAR010_childAcctTabCtrl.gridListChildAcctCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnTab6MoveAcctInfo" ng-click="SAR010_childAcctTabCtrl.btnTab6MoveAcctInfo_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#acctDtlSrch%}"/></button>
				<button type="button" class="bw-btn"  id="btnGridExcel" ng-click="SAR010_childAcctTabCtrl.btnGridExcel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab6Toggle" ng-click="SAR010_childAcctTabCtrl.btnTab6Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="secSrchRslt"  >
				<div id="SAR010_childAcctTab_gridListChildAcct" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>