/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for product search
 * 상품검색 CSS 
 */
.pf-ps .pf-ps-info {
    height: 100%; }
.pf-ps .pf-ps-info .pfui-tab-panel {
    height: 100%; }
.pf-ps .pf-ps-info .pfui-tab-panel .tab-panel-inner {
    height: 100%; }
.pf-ps .pf-ps-info .pfui-tab-panel .tab-panel-inner .pfui-tab-item-text {
    z-index: 10;
    cursor: pointer;
    min-width:100px;
}
.pf-ps .pf-ps-info .pfui-tab-panel .tab-panel-inner .tab-panels {
    height: 100%; }
.pf-ps .pf-left-nav {
    width: 500px; }
.pf-ps .pf-panel .pf-ps-search-panel-body {
	overflow-x : hidden;
    height: 450px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box {
    margin-bottom: 5px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box .search-title {
    width: 110px;
    float: left; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box table th {
    width: 80px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box select {
    width: 180px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box input {
    width: 365px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box input.calendar {
    width: 95px; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box button {
    float: right; }
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-ps-search-condition-box .product-condition-selection-grid {
    height: 145px;
    width:448px;
}
.pf-ps .pf-panel .pf-ps-search-panel-body .pf-panel-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px; }
.pf-ps .pf-panel .pf-ps-list-panel {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
    top: 510px;
    transition: height .5s, top .5s;
    background-color: white;
}
.pf-ps .pf-panel .pf-ps-list-panel .pf-panel-body {
    bottom: 0;
    top: 40px;
    position: absolute;
    right: 0;
    left: 0;
    background: white;
    overflow: auto;
    z-index: 1; }
.pf-ps .pf-panel .pf-ps-list-panel.nav-expand {
    top: 49px;
    height: initial; }
.pf-ps .pf-panel .pf-ps-list-panel .search-list-expand-btn {
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}
.pf-ps .tab-panels {
    position: relative; }
.pf-ps .tab-panels .pf-ps-tab-container {
    position: absolute;
    top: 17px;
    left: 0px;
    right: 0px;
    bottom: 15px;
    border: 1px solid #ddd; }
.pf-ps .tab-panels .pf-ps-tab-container .pf-panel {
    margin: 10px 10px 10px 200px;
    overflow: auto;
    height: 97%; }
.pf-ps .tab-panels .pf-ps-tab-container .pf-ps-info-list-wrap {
    border-right: 1px solid #aaa;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 185px;
    margin: 10px 10px 10px 0;
    overflow: auto; }
.pf-ps .tab-panels .pf-ps-tab-container .pf-ps-info-list-wrap .pfui-tree-item {
    float: none;
    padding: 3px 0 3px 0; }

.pf-ps .pf-ps-info-wrap .pf-panel-body {
    margin-bottom: 10px; }
.pf-ps .pf-ps-info-wrap .bx-info-table label {
    margin: 0 10px; }
.pf-ps .pf-ps-info-wrap .bx-info-table th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 0px 15px;
    /*font-weight: bold;*/
    font-weight: normal;
    width: 150px; }
.pf-ps .pf-ps-info-wrap .bx-info-table td {
    border: 1px solid #ddd;
    padding: 0 15px;
    background: white; }
.pf-ps .pf-ps-info-wrap .interest-value-wrap {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .interest-value-wrap .bx-info-table th {
    width: 170px; }
.pf-ps .pf-ps-info-wrap .cnd-value-04-amount-table {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .pf-base-package-grid-wrap {
    display: none; }
.pf-ps .pf-ps-info-wrap .pf-ps-120-grid {
    height: 120px;
    margin: 10px 0 0 0; }
.pf-ps .pf-ps-info-wrap .pf-ps-200-grid {
    height: 200px;
    margin: 10px 0 0 0; }
.pf-ps .pf-ps-info-wrap .isValueNull-hidden.active {
    display: none; }
.pf-ps .pf-ps-info-wrap .condition-value-wrap {
    display: none; }
.pf-ps .pf-ps-info-wrap .condition-value-wrap.active {
    display: block; }
.pf-ps .pf-ps-info-wrap .condition-value-wrap .cnd-value-title {
    background: #f9f9f9; }
.pf-ps .pf-ps-info-wrap .condition-value-wrap .cnd-val-type4-label-wrap {
    margin-left: -10px;
    padding-right: 15px;
    background: #f9f9f9; }
.pf-ps .pf-ps-info-wrap .condition-value-wrap .cnd-val-type4-label-wrap label {
    margin-left: 10px; }
.pf-ps .pf-ps-info-wrap .provided-cnd-wrap {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .provided-cnd-wrap .pf-panel-header {
    padding-left: 15px; }
.pf-ps .pf-ps-info-wrap .provided-cnd-wrap .provided-cnd-grid {
    height: 150px; }
.pf-ps .pf-ps-info-wrap .provided-cnd-wrap .provided-cnd-table-wrap {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .fee-discount-wrap {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .fee-discount-wrap .pf-panel-header {
    padding-left: 30px; }
.pf-ps .pf-ps-info-wrap .fee-discount-wrap .fee-discount-grid {
    height: 150px; }
.pf-ps .pf-ps-info-wrap .fee-discount-wrap .fee-discount-table-wrap {
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .pirt-grid {
    height: 150px; }
.pf-ps .pf-ps-info-wrap .condition-value, .pf-ps .pf-ps-info-wrap .complex-grid-wrap {
    display: none;
    margin-top: 10px; }
.pf-ps .pf-ps-info-wrap .condition-value.active, .pf-ps .pf-ps-info-wrap .complex-grid-wrap.active {
    display: block; }
.pf-ps .pf-ps-info-wrap .condition-value .complex-grid, .pf-ps .pf-ps-info-wrap .complex-grid-wrap .complex-grid {
    height: 300px; }
.pf-ps .pf-ps-info-wrap .condition-value .complex-grid table td.x-grid-cell, .pf-ps .pf-ps-info-wrap .complex-grid-wrap .complex-grid table td.x-grid-cell {
    vertical-align: middle; }

.tab-title {
    font-size:13px;
}

/*조건트리*/
.pf-page-layout-side-nav .pf-page-conts {
    position: absolute;
    top: 0;
    right: 0;
    left: 500px;
    bottom: 0;
    padding-top: 16px;
    transition: left .5s; }
.pf-page-layout-side-nav .pf-page-conts .pf-detail-wrap {
    display: none;
    height: 100%;
    background: white; }
.pf-page-layout-side-nav .pf-page-conts .pf-detail-wrap.active {
    display: block; }
.pf-page-layout-side-nav .pf-page-conts .pf-detail-wrap .pf-detail {
    margin: 10px; }
.pf-page-layout-side-nav.contents-expand .pf-page-conts {
    left: 25px; }
.pf-page-layout-side-nav.contents-expand .pf-left-nav {
    width: 25px;
    padding: 10px 0; }
.pf-page-layout-side-nav.contents-expand .pf-left-nav > .pf-panel-header, .pf-page-layout-side-nav.contents-expand .pf-left-nav > .pf-panel-body {
    display: none;
}
/*상품목록탭*/
.pfui-tab-item .icon-remove {
    position: absolute;
    right: 5px;
    top: -2px;
    z-index: 20;
    cursor: pointer;

    background: url(/images/bx-ui/icon-pf.png);
    background-position: -100% -600%;
    background-size: 400%;
    width: 20px;
    height: 20px;
}
.pf-ps-info-wrap .nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .pfui-tab-item-text {
    margin-right: 0;
}
.pfui-tab-item .pfui-tab-item-text {
    padding-right: 25px;
    border-color: #ddd;
    border-bottom-color: transparent;
    margin-top: -8px;
}

/*체크박스 middle처리*/
input[type=checkbox] {
    vertical-align: middle;
}

/*조회기준일*/
.base-date {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 145px !important;
}

/*다운로드버튼*/
.pf-report-download {
    float: right;
    margin-top: 0px;
    margin-right: 10px;
}

/*숨김버튼*/
.contents-expand .pf-ps-list-panel {
    display: none; }

.additional-info-wrap {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid; }
.additional-info-wrap.detail-condition {
    display: none; }
.additional-info-wrap .additional-title-wrap {
    margin-top: -22px; }
.additional-info-wrap .additional-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 10px; }
.additional-info-wrap th {
    width: 170px; }
.additional-info-wrap select, .additional-info-wrap input[type=text] {
    width: 130px; }
.additional-info-wrap input.product-code {
    width: 160px; }
.additional-info-wrap input.refCndCd {
    width: 50px; }
.additional-info-wrap input.reference-product-code {
    width: 50px; }
.additional-info-wrap .cnd-value-type2-table th {
    width: 100px; }
.additional-info-wrap .cnd-value-type2-table select, .additional-info-wrap .cnd-value-type2-table input[type=text] {
    width: 180px; }
.additional-info-wrap .cnd-value-type3-table th {
    width: 190px; }
.additional-info-wrap .condition-value-type4-additional select, .additional-info-wrap .condition-value-type4-additional input[type=text] {
    width: 180px; }

.cnd-value-type4 .cnd-value-04-amount-table, .cnd-value-type4 .cnd-value-04-rate-table {
    display: none; }
.cnd-value-type4 .cnd-value-04-amount-table.active, .cnd-value-type4 .cnd-value-04-rate-table.active {
    display: block; }
.cnd-value-type4 label {
    background: #f9f9f9;
    padding: 10px;
    margin: 0 -5px;
}

/*수수료할인 팝업-제공조건탭 그리드*/
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-cnd-grid {
    height: 150px;
}

/*수수료할인 팝업-제공조건 적용규칙*/
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap {
    margin-top: 30px;
    padding: 15px 10px 5px 10px;
    border: 1px solid;
}
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap {
    margin-top: -25px;
}
.add-cnd4-fee-tpl-popup .apply-rule-info-wrap .apply-rule-title-wrap .cnd-value-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 10px;
}
.add-cnd4-fee-tpl-popup .bx-info-table select, .add-cnd4-fee-tpl-popup .bx-info-table input[type=text] {
    width: 160px;
}

.pf-ps-info-list-wrap .pfui-tree-item {
    height:25px;
}
.cnd-value-title {
    background: white;
}
.add-cnd4-fee-tpl-popup .bw-btn {
    float: right;
}
.add-cnd4-fee-tpl-popup .add-cnd4-fee-popup-limit-cnd-grid {
    height: 400px;
}
.add-cnd4-fee-tpl-popup .fee-dis-sub-tab-conts {
    padding: 10px;
}
.pfui-tree-item-selected, .pfui-tree-item-hover {
    width: 97%;
}
.pfui-tree-item {
    height: 23px;
}

.x-column-header-inner span {
	float: inherit;
}

.pf-ps-condition-search-grid {
	margin-top: 10px;
	height: 250px;
}

.select-condition-form-table td {
	width: 40%;
}

.select-condition-form-table select {
	width: 100px !important;
}

.select-condition-form-table .condition-name-input {
	width: 100% !important;
}

.search-rule-input-box {
	margin-top: 10px;
}
.search-rule-input-box .search-rule-header {
	float: left;
	width: 80px;
	margin-right: -3px;
}
.search-rule-input-box .large-btn {
	width: 45px; 
}
.search-rule-input-box .small-btn {
	width: 35px;
}
.search-rule-input-box .search-rule-btn {
	border: 1px solid #bbbbbb;
	text-align: center;
	height: 20px;
	margin: 0 3px;
	float: left !important;
}
.search-rule-container .search-rule {
	margin-top: 5px;
	margin-left: 80px;
}
      
/* hashtag */
.hashtag {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	width: 365px;
	min-height: 20px;
	background-color: rgba(143, 192, 245, 0.1);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(230, 230, 230);
	border-image: initial;
	border-radius: 0px;
}
/* OHS20180226 추가 - 상품검색 메인화면 탭 위지조정 */
.pf-ps .pf-ps-info .pfui-tab-panel .tab-panel-inner .pfui-tab-item-text {
	top: -3px;
    height: 25px;
    padding-top: 3px;
}
.pfui-tab-item .icon-remove {
	top: -4px;
}
/* OHS20180226 End */