<section class="bw-tool">
    <div class="f-l">
        <h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
		<h3 class="bw-desc">(<span class="gridCndRelListCount"></span> <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
    </div>
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn" id="btn-base-attribute-tab1-reset" title="" ng-click="tab1.resetOnclick()"><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
        <button type="button" class="bw-btn b-ctr" id="btn-base-attribute-tab1-toggle" ng-click="tab1.toggleOnclick()"><i class="fas fa-angle-double-up"></i></button>
    </div>
</section>


<section  id="cnd-rel"  >
	<div id="cnd-rel-grid" >
		<section class="bw-grid"></section>
	</div>
</section>