<div class="modal-wrap">
    <h2 class="bw-tt a-center">{{bxMsg 'setting.add-namespace'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable namespace-setting-form">
        <!--INPUT TYPE2 -->
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-20">{{bxMsg 'setting.name'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="name" />
                </div>
            </li>
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-20">{{bxMsg 'setting.description'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="description" />
                </div>
            </li>
        </ul>
        <!--/END INPUT TYPE2-->
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-namespace-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
