/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for role user
 * 역할별사용자 CSS 
 */
.pf-cru .pf-page-conts {
    margin: 10px auto; }
.pf-cru th {
    width: 110px;
    text-align: left; }
.pf-cru .role-user-query-table td {
    line-height: 29px; }
.pf-cru .role-user-query-table td input {
    width: 180px;
}
.pf-cru .role-user-query-table td select {
    width: 228px; }
.pf-cru .role-user-query-table td .calendar {
    width: 105.5px; }
.pf-cru .role-user-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-cru .role-user-query-table .padding-th {
    padding-left: 10px; }
.pf-cru .btn-box {
    margin-top: 5px;
    text-align: right; }
.pf-cru .dev-task-role-user-grid {
    height: 200px; }
.pf-cru .pf-cru-role-user-list-grid {
    height: 350px; }

.role-management-popup .popup-role-management-grid {
    height: 250px; }

.pf-cru .btn-box {
    margin-top: 10px;
    text-align: right;
}