
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab1Reset" ng-click="SFX981_tab2Ctrl.btnTab1Reset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab1Toggle" ng-click="SFX981_tab2Ctrl.btnTab1Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="secTab1Cnd"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_secTab1Cnd" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#crspndntBnkYn%}" data-i18n-title="{%=cbb_items.AT#crspndntBnkYn%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="crspndntBnkYn"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#cntrctDt%}" data-i18n-title="{%=cbb_items.AT#cntrctDt%}"></label>
						<div id="cntrctDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#exportRprchsRcrsYn%}" data-i18n-title="{%=cbb_items.AT#exportRprchsRcrsYn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="exportRprchsRcrsYn"></select>
					</div>
				</td>
			</tr>
			<tr  name="tr_secTab1Cnd" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#exportBondPyablAtSightPrsrvYn%}" data-i18n-title="{%=cbb_items.AT#exportBondPyablAtSightPrsrvYn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="exportBondPyablAtSightPrsrvYn"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#exportTmLmtBondPrsrvYn%}" data-i18n-title="{%=cbb_items.AT#exportTmLmtBondPrsrvYn%}"></label>
						<select class="bw-input ipt-select"  data-form-param="exportTmLmtBondPrsrvYn"></select>
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>