<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'setting.code-setting'}}
    <p class="desc">{{bxMsg 'setting.code-setting-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap commoncode-setting-search">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-60">
            <label class="bw-label w-20">{{bxMsg 'setting.code-id'}}</label>
            <select class="bw-input ipt-select w-80" data-form-param="cdId"></select>
        </li>
        <li class="input-wrap w-30">
            <label class="bw-label w-40">{{bxMsg 'setting.language-code'}}</label>
            <select class="bw-input ipt-select w-60" data-form-param="langCd"></select>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="commoncode-setting-grid"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'setting.code-setting-detail'}}<p class="desc commoncode-setting-detail-title"></p></h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-commoncode-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr commoncode-setting-detail bx-loding-wrap">
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'setting.code-nm'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="cdNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-43">{{bxMsg 'setting.code-id'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="cdId" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'setting.language-code'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="langCd" data-code="BXMAD0003" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap asterisk clr">
                <label class="bw-label w-40">{{bxMsg 'setting.code-val'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="cdVal" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-43">{{bxMsg 'setting.code-val-nm'}}</label>
                <input type="text" class="bw-input w-57" data-form-param="cdValNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'setting.use-yn'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="useYn" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-66">
            <div class="input-wrap clr">
                <label class="bw-label w-20">{{bxMsg 'setting.code-desc'}}</label>
                <input type="text" class="bw-input w-80" data-form-param="cdValDesc" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'setting.serial-num'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="seq" readonly />
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->