
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab4Reset" ng-click="SFX981_tab1Ctrl.btnTab4Reset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab4Toggle" ng-click="SFX981_tab1Ctrl.btnTab4Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="secTab4Cnd"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_secTab4Cnd" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#cityNm%}" data-i18n-title="{%=cbb_items.AT#cityNm%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"   data-form-param="cityNm" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#bnkAddr%}" data-i18n-title="{%=cbb_items.AT#bnkAddr%}"></label>
						<input type="text"  maxlength='1000' dec='0' class="bw-input a-left"   data-form-param="bnkAddr" />
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>