<div class="modal-wrap">
    {{#if validRuleId}}<h2 class="bw-tt a-center">{{bxMsg 'trx-setting.omm-validation-rule-edit'}}({{validRuleId}})</h2>{{/if}}
    {{#unless validRuleId}}<h2 class="bw-tt a-center">{{bxMsg 'trx-setting.omm-validation-rule-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t fix-h bx-no-draggable bx-form-wrap">
        <ul class="col-3 clr">
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-id'}}</label>
                    {{#if validRuleId}} <input type="text" class="bw-input w-60" data-form-param="validRuleId" value="{{validRuleId}}" readonly/>{{/if}}
                    {{#unless validRuleId}} <input type="text" class="bw-input w-60" data-form-param="validRuleId"/>{{/unless}}
                </div>
            </li>
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-nm'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="validRuleNm"/>
                </div>
            </li>
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-seq-no'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="validRuleSequence"/>
                </div>
            </li>
        </ul>
        <ul class="col-3 clr">
            <li>
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.error-msg-id'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="errMsgId"/>
                </div>
            </li>
            <li class="w-66-6">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-20">{{bxMsg 'trx-setting.rule-desc'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="validRuleDesc"/>
                </div>
            </li>
        </ul>
        <ul class="col-3 clr">
            <li>
                <div class="input-wrap clr">
                    <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-parameter'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="validRuleParam"/>
                </div>
            </li>
            <li class="w-66-6 p-rel">
                <div class="input-wrap asterisk clr w-85">
                    <label class="bw-label w-23">{{bxMsg 'trx-setting.rule-applied-type'}}</label>
                    <input type="text" class="bw-input w-77" data-form-param="type" readonly/>
                </div>
                <button type="button" class="bw-btn-txt on edit-applied-type-btn">{{bxMsg 'common.set'}}</button>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-13">{{bxMsg 'trx-setting.rule-class-nm'}}</label>
                    <input type="text" class="bw-input w-87" data-form-param="validRuleClassNm"/>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
