<div class="modal-wrap fix-h">
    <h2 class="bw-tt a-center">{{bxMsg 'trx-setting.rule-applied-type-setting'}}</h2>
    <section class="search-wrap add-bd2-t bx-search-wrap bx-no-draggable">
        <!--INPUT TYPE1 * 분할 없이 INLINE-->
        <ul class="clr"></ul>
        <!--/END INPUT TYPE1-->
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
