
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SCU110_custGrpCtrl.custGrpListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab6Excel" ng-click="SCU110_custGrpCtrl.btnTab6Excel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i><span class="btn_txt">엑셀 다운로드</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab6Toggle" ng-click="SCU110_custGrpCtrl.btnTab6Toggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="acctSrchRslt"  >
				<div id="SCU110_custGrp_custGrpList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>