
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{intRtTabCtrl.gridListIntRtCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnTab5Toggle" ng-click="SLN090_intRtTabCtrl.btnTab5Toggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="secSrchRslt"  >
				<div id="SLN090_intRtTab_gridListIntRt" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>
		<span data-form-param=""   ></span>
		<span data-form-param=""   ></span>
			<section class=" bw-tool add-bd2-t add-mg-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#adtnlAtrbt%}"></h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnSimulation" ng-click="SLN090_intRtTabCtrl.btnSimulation_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#smltn%}"/></button>
				<button type="button" class="bw-btn b-ctr"  id="btnAdtnlAtrbtToggle" ng-click="SLN090_intRtTabCtrl.btnAdtnlAtrbtToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
		<section  id="copyDivArea"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_copyDivArea" >
				<td class="td-w-33" colspan="3">
					<span data-form-param="trnsfrFormulaCntnt"   style="display:none;"></span>
				</td>
			</tr>
		</table>
	</section>
	<span data-form-param=""   ></span>
	<span data-form-param=""   ></span>
		<section class=" bw-tool add-bd2-t add-mg-t" >
		<div class="f-l">
			<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#smltnIntRt%}"></h3>
		</div>
		<div class="btn-wrap fix-r">
			<button type="button" class="bw-btn b-ctr"  id="btnSmltnIntRtToggle" ng-click="SLN090_intRtTabCtrl.btnSmltnIntRtToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
		</div>
		</section>
	<section  id="smltnIntRt"  class="search-wrap">
	<table class="w-100" >
		<tr  name="tr_smltnIntRt" >
		</tr>
	</table>
</section>
<span data-form-param=""   ></span>
<span data-form-param=""   ></span>