
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SAR050_txBaseTabCtrl.btnSchToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
		<section  id="secSrchRslt"  class="search-wrap">
		<table class="w-100" >
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#arrCustId%}" data-i18n-title="{%=cbb_items.SCRNITM#arrCustId%}"></label>
						<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#arrCustNm%}" data-i18n-title="{%=cbb_items.SCRNITM#arrCustNm%}"></label>
						<input type="text"  maxlength='50' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custNm" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#txStsCd%}" data-i18n-title="{%=cbb_items.AT#txStsCd%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="txStsCd"></select>
					</div>
				</td>
			</tr>
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#txCustId%}" data-i18n-title="{%=cbb_items.AT#txCustId%}"></label>
						<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="txCustId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#txCustNm%}" data-i18n-title="{%=cbb_items.SCRNITM#txCustNm%}"></label>
						<input type="text"  maxlength='50' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="txCustNm" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#txCd%}" data-i18n-title="{%=cbb_items.AT#txCd%}"></label>
						<input type="text"  maxlength='10' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="txCd" />
					</div>
				</td>
			</tr>
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#chnlDscd%}" data-i18n-title="{%=cbb_items.AT#chnlDscd%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="chnlDscd"></select>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#trmnlNbr%}" data-i18n-title="{%=cbb_items.AT#trmnlNbr%}"></label>
						<input type="text"  maxlength='4' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="trmnlNbr" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#rckngDt%}" data-i18n-title="{%=cbb_items.AT#rckngDt%}"></label>
						<div id="rckngDt" ></div>
					</div>
				</td>
			</tr>
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#slipNbr%}" data-i18n-title="{%=cbb_items.AT#slipNbr%}"></label>
						<input type="text"  maxlength='8' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="slipNbr" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#txStaffId%}" data-i18n-title="{%=cbb_items.AT#txStaffId%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="txStaffId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#aprvlStaffId%}" data-i18n-title="{%=cbb_items.AT#aprvlStaffId%}"></label>
						<input type="text"  maxlength='100' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="aprvlStaffId" />
					</div>
				</td>
			</tr>
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#cntrprtArrId%}" data-i18n-title="{%=cbb_items.AT#cntrprtArrId%}"></label>
						<input type="text"  maxlength='40' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="cntrprtArrId" />
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#cntrprtTxDt%}" data-i18n-title="{%=cbb_items.AT#cntrprtTxDt%}"></label>
						<div id="cntrprtTxDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#cntrprtTxSeqNbr%}" data-i18n-title="{%=cbb_items.AT#cntrprtTxSeqNbr%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="cntrprtTxSeqNbr"  common-numeric-only-directive ng-model='cntrprtTxSeqNbr'/>
					</div>
				</td>
			</tr>
			<tr  name="tr_secSrchRslt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#cnclCntrprtTxDt%}" data-i18n-title="{%=cbb_items.AT#cnclCntrprtTxDt%}"></label>
						<div id="cnclCntrprtTxDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#cnclCntrprtTxSeqNbr%}" data-i18n-title="{%=cbb_items.AT#cnclCntrprtTxSeqNbr%}"></label>
						<input type="text"  dec='0' class="bw-input "  readonly="readonly" data-form-param="cnclCntrprtTxSeqNbr"  common-numeric-only-directive ng-model='cnclCntrprtTxSeqNbr'/>
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</section>