/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for menu setting
 * 메뉴설정 CSS 
 */
.pf-menu-setting .pf-page-conts {
    margin: 10px auto; }
.pf-menu-setting th {
    width: 100px;
    text-align: left; }
/*데이터이행단계설정*/
.pf-menu-setting .menu-screen-query-table td {
    line-height: 29px; }
.pf-menu-setting .menu-screen-query-table td input {
    width: 351px; }
.pf-menu-setting .menu-screen-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
/*데이터이행클래스설정*/
.pf-menu-setting .menu-class-query-table td {
    line-height: 29px; }
.pf-menu-setting .menu-class-query-table td input {
    width: 351px; }
.pf-menu-setting .menu-class-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-menu-setting .middle-grid {
    height: 500px; }
.pf-menu-screen-form td input {
    width: 100% !important; }
.pf-menu-screen-form th {
    width: 130px;
    text-align: left; }
.pf-menu-screen-form .second-th {
    padding-left: 10px; }
.pf-menu-screen-form select {
    width: 170px; }
.pf-menu-screen-form h3 {
    margin: 10px 0 5px 0; }
.pf-menu-screen-form .grid-btn-box {
    margin-top: 5px;
    text-align: right; }
.pf-menu-screen-form .dev-proposal-register-table input.calendar {
    width: 170px; }
.pf-menu-screen-form .panel {
    border: none;
    box-shadow: none; }
.pf-menu-screen-form .pf-menu-table-grid {
    margin-top: 10px;
    height: 180px; }
.pf-ptc-publish-target-table-popup .publish-target-table-grid {
	height: 420px; 
}
.pf-ptc-publish-target-table-popup .publish-target-table-grid {
	height: 420px; 
}
.pf-screen-list-query-popup .pf-screen-list-popup-grid {
	height:350px;
}
.pf-multi-language-popup-grid {
	height:420px;
}
/*탭간격조절*/
.nav-tabs .pfui-tab-item-text {
    margin-right:-1px;
    width:120px;
    cursor:pointer;
    text-align: center;
}