
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SAR013_relAcctTabCtrl.relAcctListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnGridExcel" ng-click="SAR013_relAcctTabCtrl.btnGridExcel_Onclick()" title=""><i class="bw-icon i-30 i-func-xls"></i><span class="btn_txt">엑셀 다운로드</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab4Toggle" ng-click="SAR013_relAcctTabCtrl.btnTab4Toggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="secSrchRslt"  >
				<div id="SAR013_relAcctTab_relAcctList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>