<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'scheduler.schedule-execution-history-search'}}
    <p class="desc">{{bxMsg 'scheduler.schedule-execution-history-search-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap bxm-search-wrap">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-32">
            <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-date'}}</label>
            <input type="text" class="bw-input ipt-cal a-center w-60" data-form-param="scheduleDt" readonly/>
        </li>
        <li class="input-wrap w-32">
            <label class="bw-label w-40">{{bxMsg 'scheduler.execution-status'}}</label>
            <select class="bw-input ipt-select w-60" data-form-param="procStatusCd"></select>
        </li>
        <li class="input-wrap w-32">
            <label class="bw-label w-40">{{bxMsg 'scheduler.sort-type'}}</label>
            <select class="bw-input ipt-select w-60" data-form-param="sortType"></select>
        </li>
    </ul>
    <ul class="clr">
        <li class="input-wrap w-32">
            <label class="bw-label w-40">
                {{bxMsg 'scheduler.schedule-id'}}
                <button type="button" class="bw-btn schedule-search-btn" title="{{bxMsg 'scheduler.schedule-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
            </label>
            <input type="text" class="bw-input w-60" data-form-param="scheduleId"/>
        </li>
        <li class="input-wrap w-32">
            <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-nm'}}</label>
            <input type="text" class="bw-input w-60" data-form-param="scheduleNm"/>
        </li>
    </ul>
    <ul class="clr">
        <li class="input-wrap w-32">
            <label class="bw-label w-40">
                {{bxMsg 'scheduler.system'}}
                <button type="button" class="bw-btn system-search-btn" title="{{bxMsg 'scheduler.system-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
            </label>
            <input type="text" class="bw-input w-60" data-form-param="sysId" />
        </li>
        <li class="input-wrap w-32">
            <label class="bw-label w-40">
                {{bxMsg 'scheduler.schedule-group'}}
                <button type="button" class="bw-btn schedule-group-search-btn" title="{{bxMsg 'scheduler.schedule-group-search'}}"><i class="bw-icon i-20 i-func-search"></i></button>
            </label>
            <input type="text" class="bw-input w-60" data-form-param="scheduleGrpId" />
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="bw-grid bxm-grid-wrap"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'scheduler.schedule-execution-history-detail'}}<p class="desc bxm-detail-title"></p></h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn detail-refresh-btn" title="{{bxMsg 'common.refresh'}}"><i class="bw-icon i-25 i-func-refresh"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr bx-loding-wrap bxm-detail-wrap">
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-date'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="scheduleDt" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.system'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="sysNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-id'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="scheduleId" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-group'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="scheduleGrpNm" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-type'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="schedulingCd" data-code="BXMAD0014" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-no'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="scheduleNo" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.execution-no'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="execNo" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-execution-id'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="scheduleExecId" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.start-datetime'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="startDt" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.end-datetime'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="endDt" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.execution-status'}}</label>
                <span class="bw-input w-60 is-disabled" data-form-param="procStatusCd"></span>
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.node-nm'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="nodeNm" readonly />
            </div>
        </li>
        <li class="w-33">
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'scheduler.pid'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="pid" readonly />
            </div>
        </li>
    </ul>
    <ul>
        <li class="w-80">
            <div class="input-wrap clr">
                <label class="bw-label w-15">{{bxMsg 'scheduler.log-file-nm'}}</label>
                <input type="text" class="bw-input w-85" data-form-param="logFileNm" readonly />
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-80">
            <div class="input-wrap fix-txtarea h-half p-rel clr">
                <label class="bw-label w-15">{{bxMsg 'scheduler.execution-parameter'}}</label>
                <div class="txt-wrap2 fix-size w-85 f-r">
                    <textarea class="bw-textarea" data-form-param="execParamCtt" readonly></textarea>
                </div>
            </div>
        </li>
    </ul>
</section>