<!--BW-TITLE *컨텐츠 메인 타이틀-->
<h2 class="bw-tt">
    {{bxMsg 'trx-setting.omm-validation-rule-management'}}
    <p class="desc">{{bxMsg 'trx-setting.omm-validation-rule-management-msg'}}</p>
</h2>
<!--/END BW-TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
        <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--SEARCH AREA * 검색 영역-->
<section class="search-wrap bx-search-wrap">
    <!--INPUT TYPE1 * 분할 없이 INLINE-->
    <ul class="clr">
        <li class="input-wrap w-40">
            <label class="bw-label w-35">{{bxMsg 'trx-setting.rule-id'}}</label>
            <input type="text" class="bw-input w-65" data-form-param="validRuleId"/>
        </li>
        <li class="input-wrap w-40">
            <label class="bw-label w-35">{{bxMsg 'trx-setting.rule-applied-type'}}</label>
            <select type="text" class="bw-input ipt-select w-65" data-form-param="type"></select>
        </li>
    </ul>
    <!--/END INPUT TYPE1-->
</section>
<!--/END SEARCH AREA-->
<!--GRID AREA-->
<section class="bx-grid-wrap"></section>
<!--/END GRID AREA-->
<!--BW-SUB TITLE * 컨텐츠 서브타이틀-->
<h3 class="bw-stt add-mg-t">{{bxMsg 'trx-setting.validation-rule-details'}}
    <p class="desc bx-details-title"></p>
</h3>
<!--/END BW-SUB TITLE-->
<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<section class="bw-tool add-bd2-t">
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn edit edit-btn" title="{{bxMsg 'common.edit'}}"><i class="bw-icon i-25 i-func-edit"></i></button>
    </div>
</section>
<!--/END BW-TOOL-->
<!--INFO AREA * 상세 영역-->
<section class="search-wrap clr bx-details-wrap bx-loding-wrap">
    <ul class="col-3 clr">
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-id'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="validRuleId" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-nm'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="validRuleNm" readonly/>
            </div>
        </li>
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-seq-no'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="validRuleSequence" readonly/>
            </div>
        </li>
    </ul>
    <ul class="col-3 clr">
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'trx-setting.error-msg-id'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="errMsgId" readonly/>
            </div>
        </li>
        <li class="w-66-6">
            <div class="input-wrap clr">
                <label class="bw-label w-20">{{bxMsg 'trx-setting.rule-desc'}}</label>
                <input type="text" class="bw-input w-80" data-form-param="validRuleDesc" readonly/>
            </div>
        </li>
    </ul>
    <ul class="col-3 clr">
        <li>
            <div class="input-wrap clr">
                <label class="bw-label w-40">{{bxMsg 'trx-setting.rule-parameter'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="validRuleParam" readonly/>
            </div>
        </li>
        <li class="w-66-6">
            <div class="input-wrap clr">
                <label class="bw-label w-20">{{bxMsg 'trx-setting.rule-applied-type'}}</label>
                <input type="text" class="bw-input w-80" data-form-param="type" readonly/>
            </div>
        </li>
    </ul>
    <ul class="clr">
        <li class="w-100">
            <div class="input-wrap clr">
                <label class="bw-label w-13">{{bxMsg 'trx-setting.rule-class-nm'}}</label>
                <input type="text" class="bw-input w-87" data-form-param="validRuleClassNm" readonly/>
            </div>
        </li>
    </ul>
</section>
<!--/END INFO AREA-->