/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for interest rate structure
 * 금리체계 CSS 
 */
.pf-irs .pf-irs-rel-form th {
    width: 150px;
}
.pf-irs .pf-tree-search .irs-search-list-wrap {
    display: none;
    position: absolute;
    width: 156px;
    height: 180px;
    border: 1px solid #888d95;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: white;
    padding: 5px 0;
    overflow: auto;
    left: 11px;
    top:35px;
}
.pf-irs .pf-tree-search .irs-search-list-wrap.active {
	display: block;
}