<section id="arrCndTabInfo">
	<section>
		<table class="w-100" >	
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#crncy%}"></label>
						<select class="bw-input ipt-select" data-form-param="crncyCd"></select>
					</div>
				</td> 
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#arrAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="arrAmt" ng-model='arrAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#bal%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="acctBal" ng-model='acctBal' common-numeric-only-directive/>
					</div>
				</td>
			</tr>
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#exctnDt%}"></label>
						<div id="exctnDt" ></div> 
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#mtrtyDt%}"></label>
						<div id="mtrtyDt" ></div>
					</div>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#dlyPrdNth%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="dlyPrdNth" ng-model='dlyPrdNth' common-numeric-only-directive/>
					</div>
				</td>			
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#nthNbr%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="nthNbr" ng-model='nthNbr' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#endNth%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="endNth" ng-model='endNth' common-numeric-only-directive/>
					</div>
				</td>
			</tr>	
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.PDCND#L0104%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="intPymntCyclCnt" ng-model='intPymntCyclCnt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#lastIntCalcnDt%}"></label>
						<div id="lastIntCalcnDt"></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#nxtIntPymntSchdldDt%}"></label>
						<div id="nxtPymntDt" ></div>
					</div>
				</td>
			</tr> 
			<tr  name="tr_baseAtrbt" >					
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.PDCND#L0169%}"></label>
						<input type="text"  dec='2' class="bw-input " value="20"  data-form-param="prncplRpymntCyclVal" ng-model='prncplRpymntCyclVal' common-numeric-only-directive/>						
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr">
						<label class="bw-label "  data-i18n="최종원금일자"></label>
						<div id="lastPrincplRpymntDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr">
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#nxtPrncplRpymntSchdldDt%}"></label>
						<div id="nxtPrncplRpymntSchdldDt" ></div>
					</div>
				</td>
			</tr>
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#intOvrduStartDt%}"></label>
						<div id="intOvrduStartDt" ></div>
					</div>
				</td>								
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#balOvrduStartDt%}"></label>
						<div id="balOvrduStartDt" ></div>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.SCRNITM#exprtnDtProfitLossStartDt%}"></label>
						<div id="dlnprftlossDt" ></div>
					</div>
				</td>
			</tr>
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.PDCND#L0098%}"></label>
						<select class="bw-input ipt-select" data-form-param="rpymntBaseDtKndCd" id="rpymntBaseDtKndCd"></select>
				 	</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#dsgntnRpymntDay%}"></label>
						<input type="text"  dec='2' class="bw-input " maxlnegth=2   data-form-param="dsgntnPymntDay" ng-model='dsgntnPymntDay' common-numeric-only-directive/>
					</div>
				</td>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#prpymntDayCnt%}"></label>
						<input type="text"  dec='2' class="bw-input " maxlnegth=2   data-form-param="prpymntDayCnt" ng-model='prpymntDayCnt' common-numeric-only-directive/>
					</div>
				</td>		
			</tr>
			<tr  name="tr_baseAtrbt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#mtrtyDsgntnRpymntAmt%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="mtrtyDsgntnRpymntAmt" ng-model='mtrtyDsgntnRpymntAmt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#mtrtyDsgntnRpymntRt%}"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="mtrtyDsgntnRpymntRt" ng-model='mtrtyDsgntnRpymntRt' common-numeric-only-directive/>
					</div>
				</td>
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="등차체증액"></label>
						<input type="text"  dec='2' class="bw-input "   data-form-param="eqlDfrncIncrsAmt" ng-model='eqlDfrncIncrsAmt' common-numeric-only-directive/>
					</div>
				</td>
			</tr>			
		</table>
	</section>
</section>