
	<section  id='SUE002' ng-init="SUE002Ctrl.init()">
		<section   >
			<div class="modal-header">
				<h2 class="modal-title bw-tt a-center bx-popup-header-area" data-i18n="{%=cbb_items.SCRN#SUE002%}">
			</div>
			<div   class="modal-body">
					<section class=" bw-tool add-bd2-t" >
					<div class="f-l">
						<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchCnd%}"></h3>
					</div>
					<div class="btn-wrap fix-r">
						<button type="button" class="bw-btn"  id="btnSchReset" ng-click="SUE002Ctrl.btnSchReset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
						<button type="button" class="bw-btn"  id="btnExecute" ng-click="SUE002Ctrl.btnExecute_Onclick()" title=""><i class="bw-icon i-30 i-func-submit"></i><span class="btn_txt">제출</span></button>
						<button type="button" class="bw-btn b-ctr"  id="btnSchToggle" ng-click="SUE002Ctrl.btnSchToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
					</div>
					</section>
				<section  id="secSrchCnd"  class="search-wrap">
				<table class="w-100" >
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#asmId%}" data-i18n-title="{%=cbb_items.AT#asmId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="asmId" />
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr asterisk clr add-btn" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custId%}" data-i18n-title="{%=cbb_items.AT#custId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custId" />
								<button type="button" class="bw-btn fix-r" ng-click="SUE002Ctrl.custId_Onclick()" id="btn-custId-search"><i class="fas fa-search"></i></button>
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#custNm%}" data-i18n-title="{%=cbb_items.AT#custNm%}"></label>
								<input type="text"  maxlength='50' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="custNm" />
							</div>
						</td>
					</tr>
					<tr  name="tr_secSrchCnd" >
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" >
								<label class="bw-label "  data-i18n="{%=cbb_items.AT#crdtInfoQryUseAgrmntYn%}" data-i18n-title="{%=cbb_items.AT#crdtInfoQryUseAgrmntYn%}"></label>
								<select class="bw-input ipt-select"  data-form-param="crdtInfoQryUseAgrmntYn"></select>
							</div>
						</td>
						<td class="td-w-33">
							<div class="input-wrap fix-label clr" ><label class="bw-label "  data-i18n="{%=cbb_items.AT#prvsCrdtChkAsmId%}" data-i18n-title="{%=cbb_items.AT#prvsCrdtChkAsmId%}"></label>
								<input type="text"  maxlength='15' dec='0' class="bw-input a-left"  readonly="readonly" data-form-param="prvsCrdtChkAsmId" />
							</div>
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</section>
			<section   >
				<section class=" bw-tool add-bd2-t add-mg-t" >
				<div class="f-l">
					<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				</div>
				<div class="btn-wrap fix-r">
					<button type="button" class="bw-btn b-ctr"  id="btnGridToggle" ng-click="SUE002Ctrl.btnGridToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
				</div>
				</section>
				<section  id="secSrchRslt"  >
					<table class="w-100" >
						<tr >
							<td class="w-50">
								<span data-form-param="lbclsgSts" class='span-wrap bw-label' data-i18n="{%=cbb_items.SCRNITM#intrnlInfo%}" ></span>
							</td>
							<td class="w-50">
								<span data-form-param="lbclsgSts1" class='span-wrap bw-label' data-i18n="{%=cbb_items.SCRNITM#extrnlInfo%}" ></span>
							</td>
						</tr>
						<tr >
							<td class="w-50">
								<section   >
									<div id="SUE002_intrnlInfo" >
										<section class="bw-grid"></section>
									</div>
								</section>
							</td>
							<td class="w-50">
								<section   >
									<div id="SUE002_extrnlInfo" >
										<section class="bw-grid"></section>
									</div>
								</section>
							</td>
						</tr>
					</table>
			</section>
		</section>
		<table class="w-100"  id="totCnt" >
			<tr  name="tr_totCnt" >
				<td class="td-w-33">
					<div class="input-wrap fix-label clr" >
						<label class="bw-label "  data-i18n="{%=cbb_items.AT#prvsCrdtChkRsltCd%}" data-i18n-title="{%=cbb_items.AT#prvsCrdtChkRsltCd%}"></label>
						<select class="bw-input ipt-select" disabled data-form-param="prvsCrdtChkRsltCd"></select>
					</div>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
</div>
<div   class="modal-footer btn-wrap add-mg">
	<button type="button" class="bw-btn-txt on"  id="btnCancel" ng-click="SUE002Ctrl.btnCancel_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#close%}"/></button>
</div>
</section>
</section>