
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnScrtyIntRgstrn" ng-click="SCL212_tabScrtyIntCtrl.btnScrtyIntRgstrn_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#scrtyIntRgstrn%}"/></button>
				<button type="button" class="bw-btn b-ctr"  id="btnScrtyIntToggle" ng-click="SCL212_tabScrtyIntCtrl.btnScrtyIntToggle_Onclick()" title=""><i class="fa fa-forward fa-rotate-270"></i></button>
			</div>
			</section>
			<section  id="grpScrtyInt"  >
				<div id="SCL212_tabScrtyInt_grdScrtyInt" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>