/**
 * Created by PF Team on 18. 1. 4..
 * Cascading Style Sheets for role menu
 * 역할별메뉴 CSS 
 */
.pf-crm .pf-page-conts {
    margin: 10px auto; }
.pf-crm th {
    width: 110px;
    text-align: left; }
.pf-crm .role-menu-query-table td {
    line-height: 29px; }
.pf-crm .role-menu-query-table td input, .pf-crm .role-menu-query-table td select {
    width: 180px; }
.pf-crm .role-menu-query-table td .calendar {
    width: 105.5px; }
.pf-crm .role-menu-query-table tr {
    margin-bottom: 10px;
    height: 35px; }
.pf-crm .role-menu-query-table .padding-th {
    padding-left: 10px; }
.pf-crm .btn-box {
    /*margin-top: 5px;*/
    text-align: right;
    height : 25px;}
.pf-crm .dev-task-role-menu-grid {
    height: 200px; }
.pf-crm .role-grid-wrap .role-grid {
    height: 350px; }

/*탭간격조절*/
.nav-tabs .pfui-tab-item-text {
    margin-right:-1px;
    width:120px;
    cursor:pointer;
    text-align: center;
}