<div class="modal-wrap">
    <h2 class="bw-tt a-center">{{bxMsg 'common.excel-upload'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable">
        <!--INPUT TYPE2 -->
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-20">{{bxMsg 'common.upload-file'}}</label>
                    <input type="file" class="w-80 excel-upload-input"/>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on upload-btn">{{bxMsg 'common.upload'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
