<!--BW-TOOL * 아이콘 버튼을 포함하는 툴바-->
<div class="bw-tool grid-header bx-grid-header">
    <div class="f-l">
        <select class="bw-input ipt-select w-s change-grid-height-select">
            {{#each pageCountList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <div class="f-l header-content" style="display: none;"></div>
        <button type="button" class="bw-btn b-ctr toggle-grid-tree-btn expand-grid-tree-btn"  title="{{bxMsg 'common.grid-expand'}}"><i class="fa fa-play fa-rotate-90"></i></button>
        <button type="button" class="bw-btn b-ctr toggle-grid-tree-btn collapse-grid-tree-btn"  title="{{bxMsg 'common.grid-collapse'}}"><i class="fa fa-play fa-rotate-270"></i></button>
    </div>
    <div class="btn-wrap fix-r">
        <button type="button" class="bw-btn b-ctr toggle-grid-btn" title="{{bxMsg 'common.grid-toggle'}}"><i class="fa fa-forward fa-rotate-270"></i></button>
    </div>
</div>
<!--/END BW-TOOL-->

<!--GRID-->
<div class="bx-grid bx-loding-wrap manual-resize-component"></div>
<!--/GRID-->

<!--PAGING * 페이징-->
<div class="bw-paging add-mg-t grid-paging bx-grid-paging">
    <div class="ctr-btn">
        <button type="button" class="btn-paging move-first-btn" disabled><i class="fa fa-angle-double-left"></i></button>
        <button type="button" class="btn-paging move-prev-btn" disabled><i class="fa fa-angle-left"></i></button>
    </div>
    <div class="paging-btn bx-paging-btn">
        <div class="bx-paging on" data-id="0">
            <button type="button" class="btn-paging move-btn on" data-id="1">1</button>
        </div>
    </div>
    <div class="ctr-btn">
        <button type="button" class="btn-paging move-next-btn" disabled><i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn-paging move-last-btn" disabled><i class="fa fa-angle-double-right"></i></button>
    </div>
</div>
<!--/END PAGING-->
