<div class="modal-wrap fix-h">
	{{#if bxmAppId}}
	<h2 class="bw-tt a-center">{{bxMsg 'online.trx-edit'}}</h2>
	{{/if}}
	{{#unless bxmAppId}}
	<h2 class="bw-tt a-center">{{bxMsg 'online.trx-add'}}</h2>
	{{/unless}}
<div class="trx-parameter-form">
<section class="search-wrap add-bd2-t fix-h bx-no-draggable">
		<ul class="clr col-3">
			<li class="trx-code">
				<div class="input-wrap clr asterisk">
					<label class="bw-label w-35">{{bxMsg 'online.trx-code'}}</label>
					{{#if trxCd}}<input type="text" class="bw-input w-65" data-form-param="trxCd" value="{{trxCd}}" readonly />{{/if}}
					{{#unless trxCd}}<input type="text" class="bw-input w-65" data-form-param="trxCd" />{{/unless}}
				</div>
			</li>
			<li>
				<div class="input-wrap clr">
					<label class="bw-label w-35">{{bxMsg 'online.trx-name'}}</label>
					<input type="text" class="bw-input w-65" data-form-param="trxNm" value="{{trxNm}}"/>
				</div>
			</li>
		</ul>
		<ul class="clr col-3">
			<li>
				<div class="input-wrap clr asterisk">
					<label class="bw-label w-35">{{bxMsg 'online.application'}}</label>
					{{#if bxmAppId}}<input type="text"class="bw-input w-65" data-form-param="bxmAppId" value="{{bxmAppId}}" readonly />{{/if}}
					{{#unless bxmAppId}}<input type="text"class="bw-input w-65" data-form-param="bxmAppId" />{{/unless}}
				</div>
			</li>
			<li>
				<div class="input-wrap clr asterisk">
					<label class="bw-label w-35">{{bxMsg 'online.service'}}</label>
					{{#if svcNm}}<input type="text"class="bw-input w-65" data-form-param="svcNm" value="{{svcNm}}" readonly />{{/if}}
					{{#unless svcNm}}<input type="text"class="bw-input w-65" data-form-param="svcNm" />{{/unless}}
				</div>
			</li>
			<li>
				<div class="input-wrap clr asterisk">
					<label class="bw-label w-35">{{bxMsg 'online.operation'}}</label>
					{{#if opNm}}<input type="text"class="bw-input w-65" data-form-param="opNm" value="{{opNm}}" readonly />{{/if}}
					{{#unless opNm}}<input type="text"class="bw-input w-65" data-form-param="opNm" />{{/unless}}
				</div>
			</li>
		</ul>
</section>

	<section class="bw-tool bx-grid-header detail-search-wrap">
		<div class="f-l">
			<button type="button" class="bw-btn b-ctr expand-detail-btn" title="{{bxMsg 'common.grid-expand'}}"><i class="fa fa-play fa-rotate-90"></i></button>
			<button type="button" class="bw-btn b-ctr collapse-detail-btn" title="{{bxMsg 'common.grid-collapse'}}"><i class="fa fa-play fa-rotate-270"></i></button>
		</div>
	</section>
<div class="bw-accordion add-bd bx-no-draggable trx-param-pop-accordion">
	<h3 class="clr-bd-t">{{bxMsg 'online.basic-property'}}</h3>
	<div>
		<ul class="bw-form accordion-ellipsis fix-center col-2">
			<li>
				<label class="bw-label">{{bxMsg 'online.log-level'}}</label>
				<select class="bw-input ipt-select w-60" data-form-param="logLvNm" data-code="BXMAD0009" value="{{logLvNm}}"></select>
			</li>
			<li>
				<label class="bw-label">{{bxMsg 'online.output-msg-max-length'}}<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.unit-byte'}}"></i></label>
				<input type="text" class="bw-input w-60" data-form-param="outputMsgMaxLen" value="{{outputMsgMaxLen}}"/>
			</li>
			<li><label class="bw-label">{{bxMsg 'online.forced-timeout-mills'}}<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.unit-ms'}}"></i></label>
				<input type="text" class="bw-input w-60" data-form-param="frcdTimeoutMills" value="{{frcdTimeoutMills}}"/>
			</li>
			<li>
				<label class="bw-label">{{bxMsg 'online.forced-transaction-yn'}}</label>
				<select class="bw-input ipt-select w-60" data-form-param="frcdTranYn" value="{{frcdTranYn}}">
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</li>
			<li>
				<label class="bw-label">{{bxMsg 'online.trx-log-skip-yn'}}</label>
				<select class="bw-input ipt-select w-60" data-form-param="trxLogSkipYn" value="{{trxLogSkipYn}}">
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</li>
			<li>
				<label class="bw-label">{{bxMsg 'online.img-log-skip-yn'}}</label>
				<select class="bw-input ipt-select w-60" data-form-param="imgLogSkipYn" value="{{imgLogSkipYn}}">
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</li>
			<li class="linked-flow">
				<label class="bw-label">{{bxMsg 'online.trx-type-cd'}}</label>
				<select class="bw-input ipt-select w-60 link-type-change" data-form-param="linkTrxTypeCd" data-code="BXMAD0034" value="{{linkTrxTypeCd}}"></select>
			</li>
			<li class="linked-flow">
				<label class="bw-label">{{bxMsg 'online.link-ctrl-fqn'}}</label>
				<input type="text" class="bw-input w-60" data-form-param="linkCtrlFqn" value="{{linkCtrlFqn}}" />
			</li>
			<li>
				<label class="bw-label">{{bxMsg 'online.biz-log-trx-type'}}</label>
				<select class="bw-input ipt-select w-60 biz-log-trx-type-change" data-form-param="bizLogTrxTypeCd" data-code="BXMAD0039" value="{{bizLogTrxTypeCd}}"></select>
			</li>
			<li></li>
			</ul>
		
	</div>
	<h3>{{bxMsg 'online.trx-control-property'}}</h3>
	<div>
		<ul class="bw-form accordion-ellipsis fix-center">
			<li class="w-30"><label class="bw-label ipt-s">{{bxMsg 'online.channel'}}</label>
			<select class="bw-input ipt-select fix-input channel-change" data-form-param="chlCtrlListTypeCd" data-code="BXMRT0007" value="{{chlCtrlListTypeCd}}"></select>
			</li>
			<li class="w-70 a-right">
				<label class="bw-label">{{bxMsg 'online.control-list'}}
				<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.format-csv'}}"></i></label>
				<input type="text" class="bw-input w-75" data-form-param="chlCtrlList" value="{{chlCtrlList}}" readonly/>
			</li>
			<li class="w-30">
				<label class="bw-label ipt-s">{{bxMsg 'online.branch'}}</label> 
				<select class="bw-input ipt-select fix-input branch-change" data-form-param="branchCtrlListTypeCd" data-code="BXMRT0007" value="{{branchCtrlListTypeCd}}"></select>
			</li>
			<li class="w-70 a-right">
				<label class="bw-label">{{bxMsg 'online.control-list'}}
				<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.format-csv'}}"></i></label> 
				<input type="text" class="bw-input w-75" data-form-param="branchCtrlList" value="{{branchCtrlList}}" readonly/>
			</li>
			<li class="w-30">
				<label class="bw-label ipt-s">{{bxMsg 'online.manager'}}</label> 
				<select class="bw-input ipt-select fix-input manager-change" data-form-param="userCtrlListTypeCd" data-code="BXMRT0007" value="{{userCtrlListTypeCd}}"></select>
			</li>
			<li class="w-70 a-right"><label class="bw-label">{{bxMsg 'online.control-list'}}<i
					class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.format-csv'}}"></i></label> <input
				type="text" class="bw-input w-75" data-form-param="userCtrlList" value="{{userCtrlList}}" readonly/>
			</li>
			<li class="w-30">
				<label class="bw-label ipt-s">{{bxMsg 'online.ip-trx-control'}}</label>
				<select class="bw-input ipt-select fix-input ip-control-change" data-form-param="ipCtrlListTypeCd" data-code="BXMRT0007" value="{{ipCtrlListTypeCd}}"></select>
			</li>
			<li class="w-70 a-right">
                <label class="bw-label">{{bxMsg 'online.control-list'}}
                    <i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.format-csv'}}"></i>
                </label>
				<input type="text" class="bw-input w-75" data-form-param="ipCtrlList" value="{{ipCtrlList}}" readonly/>
			</li>
			<li class="w-30"><label class="bw-label ipt-s">{{bxMsg 'online.link-trx'}}</label>
			<select class="bw-input ipt-select fix-input w-50" data-form-param="linkTrxUseYn" value="{{linkTrxUseYn}}">
				<option value="N">N</option>
				<option value="Y">Y</option>
			</select>
			</li>
			<li class="w-35 a-center"><label class="bw-label ipt-s">{{bxMsg 'online.holiday-trx'}}</label> 
			<select class="bw-input ipt-select fix-input w-50" data-form-param="hdayTrxUseYn" value="{{hdayTrxUseYn}}">
				<option value="N">N</option>
				<option value="Y">Y</option>
			</select>
			</li>
			<li class="w-35 a-right"><label class="bw-label ipt-s">{{bxMsg 'online.after-end-trx'}}</label> 
			<select class="bw-input ipt-select fix-input w-50" data-form-param="edayTrxUseYn" value="{{edayTrxUseYn}}">
				<option value="N">N</option>
				<option value="Y">Y</option>
			</select>
			</li>
			<li class="w-100"><label class="bw-label">{{bxMsg 'online.day-forced-stop-time'}}
				<i class="fa fa-question-circle chr-c-yellow2" title="{{bxMsg 'online.ex-time-six'}}"></i></label>
				<input type="text" class="bw-input fix-input" data-form-param="daySuspStartTime" value="{{daySuspStartTime}}"/>
				<span class="unit-desc">~</span>
				<input type="text" class="bw-input fix-input" data-form-param="daySuspEndTime" value="{{daySuspEndTime}}"/>
			</li>
		</ul>
	</div>
	<h3>{{bxMsg 'online.dynamic-control-setting'}}</h3>
	<div>
		<section class="sub-section">
			<h4 class="a-left">{{bxMsg 'online.trx-forced-stop-control'}}</h4>
			<ul class="bw-form accordion-ellipsis fix-center">
				<li class="w-35"><label class="bw-label w-30">{{bxMsg 'online.trx-ctrl-cd'}}</label>
					<select class="bw-input ipt-select fix-input w-50 ctrl-change" data-form-param="trxCtrlCd" data-code="BXMRT0005" value="{{trxCtrlCd}}">
					</select>
				</li>
				<li class="w-65">
				<label class="bw-label w-15">{{bxMsg 'online.trx-ctrl-time'}}</label>
					<input type="text" class="bw-input w-20 ipt-cal" data-form-param="trxCtrlStartDttm" value="{{trxCtrlStartDttm}}" readonly/>
					<input type="text" class="bw-input w-20 trx-ctrl-start-time" readonly/>
					<span class="unit-desc">~</span>
					<input type="text"class="bw-input w-20 ipt-cal" data-form-param="trxCtrlEndDttm" value="{{trxCtrlEndDttm}}" readonly/>
					<input type="text" class="bw-input w-20 trx-ctrl-end-time" readonly/>
					</li>
			</ul>
		</section>
		<section class="sub-section">
			<h4 class="a-left">{{bxMsg 'online.forced-log-control'}}</h4>
			<ul class="bw-form accordion-ellipsis fix-center">
				<li class="w-35"><label class="bw-label w-30">{{bxMsg 'online.forced-type-cd'}}</label>
					<select class="bw-input ipt-select fix-input w-50 logf-change" data-form-param="logfTypeCd" data-code="BXMRT0004" value="{{logfTypeCd}}"></select>
				</li>
				<li class="w-35"><label class="bw-label w-30">{{bxMsg 'online.forced-log-level'}}</label>
					<select class="bw-input ipt-select fix-input w-50" data-form-param="logfLogLvNm"  data-code="BXMAD0009" value="{{logfLogLvNm}}" readonly></select>
				</li>
				<li class="w-35"><label class="bw-label w-30">{{bxMsg 'online.ip-address'}}</label>
					<input type="text" class="bw-input fix-input" data-form-param="logfIp" value="{{logfIp}}" readonly/></li>
				<li class="w-35"><label class="bw-label w-30">{{bxMsg 'online.branch-number'}}</label> <input
					type="text" class="bw-input fix-input" data-form-param="logfBranchNo" value="{{logfBranchNo}}" readonly/></li>
				<li class="w-30"><label class="bw-label w-35">{{bxMsg 'online.terminal-number'}}</label> 
				<input type="text" class="bw-input fix-input" data-form-param="logfTerminalNo" value="{{logfTerminalNo}}" readonly/></li>
			</ul>
		</section>
	</div>
	<h3 class="inf-mapping">{{bxMsg 'online.interface-mapping-setting'}}</h3>
	<div class="inf-mapping">
		<div class="add-bd2-t interface-input-grid"></div>
	</div>
</div>
</div>
<div class="btn-wrap add-mg bx-no-draggable">
	<button type="button" class="bw-btn-txt on save-trxparam-btn">{{bxMsg 'common.save'}}</button>
	<button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
</div>
<button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
						  
</div>