<div class="modal-wrap fix-h">
    <h2 class="bw-tt a-center">{{bxMsg 'batch.batch-work-add'}}</h2>
    <!--SEARCH AREA * 검색 영역-->
    <section class="bw-tool add-bd2-t bx-no-draggable">
        <div class="btn-wrap fix-r">
            <button type="button" class="bw-btn reset-search-btn" title="{{bxMsg 'common.search-reset'}}"><i class="bw-icon i-25 i-func-reset"></i></button>
            <button type="button" class="bw-btn search-btn" title="{{bxMsg 'common.search'}}"><i class="bw-icon i-25 i-func-search"></i></button>
        </div>
    </section>
    <section class="search-wrap bx-no-draggable job-search">
        <ul class="clr">
            <li class="input-wrap w-45">
                <label class="bw-label w-40">{{bxMsg 'batch.work-id'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="jobId"/>
            </li>
            <li class="input-wrap w-45">
                <label class="bw-label w-40">{{bxMsg 'batch.work-nm'}}</label>
                <input type="text" class="bw-input w-60" data-form-param="jobNm"/>
            </li>
        </ul>
    </section>
    <!--GRID AREA-->
    <section class="job-grid bx-no-draggable"></section>
    <!--/END GRID AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-job-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>