<div class="modal-wrap">
    {{#if scheduleGrpId}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.schedule-group-edit'}}({{scheduleGrpId}})</h2>{{/if}}
    {{#unless scheduleGrpId}}<h2 class="bw-tt a-center">{{bxMsg 'scheduler.schedule-group-add'}}</h2>{{/unless}}
    <!--SEARCH AREA * 검색 영역-->
    <section class="search-wrap add-bd2-t bx-no-draggable bxm-form-wrap">
        <ul class="clr">
            <li class="w-50">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.system-id'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="sysId" readonly/>
                </div>
            </li>
            <li class="w-50">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.higher-schedule-group-id'}}</label>
                    <select class="bw-input ipt-select w-60" data-form-param="parentScheduleGrpId"></select>
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-50">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-group-id'}}</label>
                    {{#if scheduleGrpId}}
                    <input type="text" class="bw-input w-60" data-form-param="scheduleGrpId" readonly/>
                    {{/if}}
                    {{#unless scheduleGrpId}}
                    <input type="text" class="bw-input w-60" data-form-param="scheduleGrpId"/>
                    {{/unless}}
                </div>
            </li>
            <li class="w-50">
                <div class="input-wrap asterisk clr">
                    <label class="bw-label w-40">{{bxMsg 'scheduler.schedule-group-nm'}}</label>
                    <input type="text" class="bw-input w-60" data-form-param="scheduleGrpNm"/>
                </div>
            </li>
        </ul>
        <ul class="clr">
            <li class="w-100">
                <div class="input-wrap clr">
                    <label class="bw-label w-20">{{bxMsg 'scheduler.schedule-group-desc'}}</label>
                    <input type="text" class="bw-input w-80" data-form-param="scheduleGrpDesc"/>
                </div>
            </li>
        </ul>
    </section>
    <!--/END SEARCH AREA-->
    <div class="btn-wrap add-mg bx-no-draggable">
        <button type="button" class="bw-btn-txt on save-btn">{{bxMsg 'common.save'}}</button>
        <button type="button" class="bw-btn-txt cancel-btn">{{bxMsg 'common.cancel'}}</button>
    </div>
    <button type="button" class="bw-close i-20 ff-r bx-no-draggable cancel-btn"></button>
</div>
