
			<section class=" bw-tool add-bd2-t" >
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn"  id="btnTab2Reset" ng-click="SCU131_adtnlAtrbtCtrl.btnTab2Reset_Onclick()" title=""><i class="bw-icon i-30 i-func-reset"></i><span class="btn_txt">초기화</span></button>
				<button type="button" class="bw-btn b-ctr"  id="btnTab2Toggle" ng-click="SCU131_adtnlAtrbtCtrl.btnTab2Toggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
		<section  id="adtnlAtrbtTab"  class="search-wrap" >
		<table class="w-100" >
			<tr  name="tr_adtnlAtrbtTab" >
			</tr>
		</table>
	</section>