
		<section   >
			<section class=" bw-tool add-bd2-t" >
			<div class="f-l">
				<h3 class="bw-desc" data-i18n="{%=cbb_items.SCRNITM#srchRslt%}"></h3>
				<h3 class="bw-desc">({{SCU401_acctTxCtrl.scrtyIntListCount}} <span data-i18n="{%=cbb_items.SCRNITM#cnt%}"></span>)</h3>
			</div>
			<div class="btn-wrap fix-r">
				<button type="button" class="bw-btn-form unit add-mg-t-7"  id="btnCltrlMoveJunal" ng-click="SCU401_acctTxCtrl.btnCltrlMoveJunal_Onclick()" title=""><span data-i18n="{%=cbb_items.SCRNITM#scrtyIntInqry%}"/></button>
				<button type="button" class="bw-btn b-ctr"  id="btnCltrlToggle" ng-click="SCU401_acctTxCtrl.btnCltrlToggle_Onclick()" title=""><i class="fas fa-angle-double-up"></i></button>
			</div>
			</section>
			<section  id="scrtyIntRslt"  >
				<div id="SCU401_acctTx_scrtyIntList" >
					<section class="bw-grid"></section>
				</div>
			</section>
		</section>