.compose-condition-setting-popup {
	height: 100%;
}
	
.compose-condition-setting-popup .condition-grid-area {
	float: left;
	width: 33%;
	height: 100%;
}

.compose-condition-setting-popup .compose-condition-setting-grid-area {
	float: left;
	width: 63%;
	height: 100%;
}

.condition-grid-area .condition-grid {
	height: 90%;
}

.compose-condition-setting-grid-area .compose-condition-setting-grid {
	height: 90%;
}

.grid-header {
	height: 10%;
	position: relative;
}

.grid-header .search-box {
	float: right;
	width: 75% !important;
}

.grid-header .bw-btn {
	position: absolute;
	right: 0px;
	top: -5px;
}

.complex-condition-grid-btn-group {
	margin-top: 30px;
}

.compose-condition-setting-popup .button-area {
	float: left;
	width: 4%;
	height: 100%;
}

.button-area .button-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-area .select-btn  {
	margin-top: 20px;
	cursor: pointer;
	background: white url(/images/bx-ui/arrow-btn-right.png) no-repeat;
	background-size: 15px;
	width: 15px;
	height: 15px;
}

.calculation-rule-complex-condition-grid {
	height: 286px;
}

.calculation-rule-complex-condition-grid .x-grid-td {
	vertical-align: middle;
}

.list-condition-grid {
	height: 250px;
}

.range-condition-form input,
.range-condition-form select {
	width: 130px !important;
}

.range-condition-form th {
	padding-right: 10px !important;
}