/* common */

.pf-dp .pf-dp-panel {
	width:100%;
}

/* PF Product Template*/
.pf-dp .pf-dp-panel {
	width: 925px; }
.pf-dp .pf-dp-panel .pf-panel-footer .bw-btn {
	float: right;
	margin-left: 10px; }
.pf-dp .pf-dp-info-form th {
	width: 150px; }
.pf-dp .pf-dp-info-form input {
	width: 300px; }
.pf-dp .pf-dp-condition-template-grid {
	height: 360px; }
/*.pf-dp .grid-extra-header .bx-btn {*/
	/*float: right; }*/

.add-cnd-tpl-popup .header-group {
	float: right; }
.add-cnd-tpl-popup .popup-cnd-tpl-grid {
	height: 230px; }

/*조건군템플릿선택 팝업의 검색아이콘과 input box간의 margin*/
.add-cnd-tpl-popup button {
	margin-left: 3px;
}

.add-detail-type-popup, .change-name-popup, .new-product-tpl-popup, .new-detail-type-popup,
.copy-product-tpl-popup, .change-product-Tpl-name-popup, .change-detail-type-Tpl-name-popup {
	margin: 5px; }
.add-detail-type-popup input, .change-name-popup input, .new-product-tpl-popup input, .new-detail-type-popup input,
.copy-product-tpl-popup input, .change-product-Tpl-name-popup input, .change-detail-type-Tpl-name-popup input {
	width: 100% !important;
	margin-top: 15px; }

.condition-group-detail-info-popup .pf-dcg-info-form th {
	width: 150px; }
.condition-group-detail-info-popup .pf-dcg-info-form input {
	width: 300px; }
.condition-group-detail-info-popup .pf-dcg-cnd-grid {
	height: 300px; }

.add-detail-type-popup input,
.change-name-popup input,
.new-condition-group-tpl-popup input,
.copy-condition-group-tpl-popup input,
.change-condition-group-Tpl-name-popup input,
.change-product-type-Tpl-name-popup input,
.new-product-type-Tpl-name-popup input,
.condition-name-change-input,
.product-name-input,
.change-product-Tpl-name-popup input {
	width: 100% !important;
	margin-top: 15px;
}


/* custom */

body {
	height: 100%;
	min-height: 800px;
	background: #fff;
	overflow-y: scroll;
}

.pf-cal-condition-search-grid {
	margin-top: 10px;
	height: 220px;
}

.x-column-header-inner span {
	float: inherit;
}

.calculation-rule-area {
	display: none;
}

.pf-cal-unit-form th {
	width: 15%;
}

.pf-cal-unit-form td {
	width: 35%;
}

.pf-cal-panel {
	padding: 10px;
}

.pf-cal-info .nav-tabs {
	border-bottom: 2px solid #5D8ABD !important;
}

.nav-tabs li.active>a {
	height: 25px;
	color: #ffffff;
	padding: 0 15px 0 17px;
	display: block;
	font-weight: 400;
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	margin-right: 0px;
	line-height: 25px;
}

.nav-tabs li>a {
	height: 25px;
	padding: 2px 15px 0 17px !important;
	display: block;
	font-weight: 400;
	font-size: 12px;
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	margin-right: 0px;
	line-height: 25px;
}

.nav-tabs li>a:hover, .nav-tabs li>a:focus {
	border-color: transparent;
	background-color: transparent;
}

.nav-tabs li {
	margin-bottom: 0px;
}

.nav-tabs li.active>a {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}

.nav-tabs li.active>a:hover {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	color: #FFFFFF;
}

.nav-tabs li.active>a:focus {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
	color: #FFFFFF;
}

.nav-tabs li>a {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}

.nav-tabs li>span {
	background-color: inherit;
	border: 0px;
	cursor: pointer;
}

.pf-cal .pf-cal-calculation-rule-grid {
	height: 150px;
	display: none;
}

.pf-cal .pf-cal-judgement-rule-grid {
	height: 360px;
	display: none;
}

.formula-popup .pf-cal-formula-search-grid {
	height: 200px;
}

.pf-cal-tx-apply-rule-form-tpl .tx-apply-rule-grid {
	height: 250px;
}

.pd-cal-tx-apply-rule-search-header .tx-apply-rule-search-base {
	width: 140px;
}

.apply-rule-info-wrap .calendar {
	width: 155px;
}

.apply-rule-info-wrap .status {
	width: 155px;
}

.apply-rule-info-wrap .apply-rule,
.apply-rule-info-wrap .apply-rule-conversion-content {
	text-align: center;
	line-height: 400%;
}

.pf-cal-apply-rule-title-wrap {
	margin-top: -25px;
}

.pf-cal-apply-rule-title-wrap .cnd-value-title {
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 10px;
	color: #666;
	background: #f6f6f6;
}

.apply-rule-info-wrap {
	margin-top: 30px;
	padding: 15px 10px 5px 10px;
	border: 1px solid;
}

.apply-rule-info-wrap textarea {
	margin-top: 5px;
}

.pf-cal-determine-condition-tpl .base-date {
	width: 100px;
}

.pf-cal-determine-condition-grid {
	height: 300px;
}

.add-cnd-tpl-sub-popup .popup-cnd-grid {
	height: 230px;
}

.determine-condition-list-code-grid {
	height: 160px;
}

.determine-condition-type1-wrap {
	display: none;
	margin-top: 10px;
}

.determine-condition-type2-wrap {
	display: none;
	margin-top: 10px;
}

.pf-cal-apply-rule-tpl .formula-cal-btn {
	border: 1px solid #bbbbbb;
	text-align: center;
	height: 27px;
}

.pf-cal-apply-rule-tpl .large-btn {
	width: 46px;
}

.pf-cal-apply-rule-tpl .small-btn {
	width: 35px;
}

.pf-cal-apply-rule-tpl .x-large-btn {
	width: 60px;
}

.pf-cal-apply-rule-tpl .xx-large-btn {
	width: 90px;
}

.discount-condition-grid {
	height: 300px;
}

.calculation-apply-rule-history-grid {
	height: 250px;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.relative {
	position: relative;
}

.calculation-rule-history-popup .pf-cal-rule-history-grid {
	height: 400px;
}

.x-tree-node-text {
	float: inherit !important;
}

.invisible {
	visibility: hidden;
}

.val-method-selective-input {
	display: none;
}

.calculation-determine-condition-history-grid {
	height: 150px;
}

.calculation-determine-condition-detail-container {
	margin-top: 10px;
}

.calculation-determine-condition-detail-container th {
	width: 100px;
}

.pf-cal-determine-condition-popup-tpl th {
	width: 100px;
	margin-left: 10px;
}

.pf-cal-determine-condition-popup-tpl .small-input {
	width: 100px !important;
}

.checkbox-disabled  {
	background-color: grey;
	pointer-events: none;
	opacity: 0.4;
}